@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic);

/* clearfix */

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.bold { font-weight: bold; }
.italic { font-style: italic; }

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.nolist { margin: 0; padding: 0; list-style-type: none; }
.list-nav li { float: left; display: block; margin-right: 10px; }
ul li:last-child, ol li:last-child { margin: 0; border: 0; }

.left { float: left; }
.right { float: right; }
.nofloat { float: none; }

.block { display: block; }
.hide { display: none !important; }

.relative { position: relative; }
.absolute { position: absolute; }

.overflow-visible { overflow: visible !important;}

.impt { color: #b51616; font-weight: 900; }

h2.single-header, .store-name { margin: 0 0 14px 0; }

#main-header a:link, #main-header a:active, #main-header a:visited, 
#sidebar li a, #featured-promos a {
		color: #4f4f4f;
		text-decoration: none;
	}

#main-header a:hover { 
	text-decoration: underline;
}

/* forms */

.button.red-button {
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
  color: #fff;
  border: 1px solid #810c0c;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
}


.mtop { margin-top: 25px; }

.footnote, .pagination { padding: 14px 0;}
	.pagination { font-weight: 600; border-top: 3px solid #eee; }
	.footnote { font-size: 0.75em; border-top: 1px solid #f7f7f7; }
	.pagination a:hover { text-decoration: underline; }

.box-shadow { 
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}


/* inner columns */

.inner-halfcol {
	width: 48%;
	margin-right: 4%;
}
.inner-lastcol { margin: 0; }

.four-col { float: left; width: 22.5%; margin-right: 3%; }



/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	/* general stuff */

	body {
		font-family: 'Lato', helvetica, sans-serif;	
		font-size: 100%;
		line-height: 1.5;
		color: #4b4b4b;
	}

	#main-header {
		background: #f8f8f8;
		border-top: 4px solid #2b2b2b;
		border-bottom: 1px solid #eee;
	}

	.floating-header {
		box-shadow: 0px 2px 7px rgba(0,0,0,0.20);
		border-bottom: 1px solid #efefef;
		position: fixed;
		width: 100%;
		z-index: 1000;
	}
		.floating-header .subheader, .floating-header #popular-searches { display: none; }
		.floating-header #logo { width: 92px; height: 30px; }
		#main-header.floating-header .row { padding: 12px 0 0 0;}

	#main-header .row {
		padding: 18px 0 0 0;
	}

	#logo {
		background: url('../img/logo.png') 0 0 no-repeat;
		width: 132px;
		height: 43px; 
		text-indent: -9999px;
		margin: 0 0 10px 0;
	}

		.subheader {
			font-size: 0.75em;
			font-style: italic;
			font-weight: 600;
		}

		#site_search { border: 1px solid #e0e0e0;}
		#popular-searches ul { margin-top: 14px; font-size: 0.813em; font-weight: bold; }
		#popular-searches li { margin-right: 20px; }
		#popular-searches li.label { color: #828282; letter-spacing: 1px; margin-top: 6px; }


	/* CONTENTS */

	#content {
		min-height: 300px; margin: 14px 0 0 0;
	}

	#crumbs { color: #ccc; margin: 7px 0 21px 0; font-size: 0.875em; }
		#crumbs a { color: #ccc; text-decoration: none; margin: 0 10px; padding: 0 0 5px 0; }
			#crumbs a:hover { border-bottom: 1px solid #eee; }
		#crumbs .home { margin: 0 10px 0 0; }
		#crumbs .current-page { color: #a2a2a2; }


	/* FOOTER */

	#main-footer {
		background: #f7f7f7;
		padding: 20px 0;
		border-top: 1px solid #efefef;
		font-size: 0.813em;
	}
		.copyright { margin-top: 25px; border-top: 3px solid #eee; padding-top: 14px; }
	.twitter-footer {  }
	.download-apple { margin-right: 14px; }
	
		#main-footer h3 { 
			color: #3b3b3b; 
			margin: 0 0 10px 0; 
			font-size: 0.813em;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 900;
		}

	/* SIDEBAR */

	#sidebar {
		font-size: 0.813em;
		color: #4b4b4b;
	}
		#sidebar h3 { 
			color: #3b3b3b; 
			border-bottom: 1px solid #ccc; 
			border-top: 4px solid #ededed; 
			margin: 10px 0; 
			padding: 10px 0;
			font-size: 0.813em;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
		#sidebar .widget { margin-bottom: 42px; }


	/** WIDGETS **/

	#list-contributors {
		height: 250px;
		overflow: auto;
		margin: 0;
		padding: 0 0 0 24px;
		list-style-type: decimal;
	}
		#list-contributors li { margin: 0 0 14px 0; }
		.user-avatar { width: 50px; height: 50px; margin: 0 14px 0 0; }


	#smart-shopper {
		background: #2a2a2a;
		color: #fff;
		padding-top: 16px;
		font-size: 3em;
	}
		#smart-shopper .dk_container { margin-left: 10px; }


	/* related products */

	.related-thumb { width: 50px; height: 50px; margin-right: 14px;}

	#list-relproducts li {
		padding: 10px;
		border-bottom: 1px solid #fff;
	}

	#list-relproducts li:hover {
		background: #f7f7f7;
	}



/********* PAGE ELEMENTS: PRICE DETAIL PAGE ***********/

#store-info, #item-info {
	width: 48%;
}

#store-info h3 { 
	font-weight: 600;
	border-bottom: 1px solid #f7f7f7; 
	border-top: 4px solid #ededed; 
	padding: 10px 0;
	margin: 0 0 24px 0;
}

.store-details { margin: 14px 0 0 0;}

#item-info {
	background: #f4f4f4;
	padding: 2%;
	border-top: 4px solid #2b2b2b;
	border-bottom: 1px solid #ccc;
}
	#item-info h3 { margin: 0; }
	#item-thumbnail { 
		border: 1px solid #000; 
		width: 150px; height: 150px;
		margin: 7px 21px 7px 0;
	}

/* directions */
#map-directions { margin: 24px 0; }
#pointB { width: 62%; margin-right: 3%;}



/********* PAGE ELEMENTS: OPTION DETAIL PAGE ***********/

#price-options ol {  }
	#price-options li { margin: 0 0 24px 0; padding: 0 0 24px 0; border-bottom: 1px solid #ccc;}
	#price-options li:last-child { border: 0;}
.option-col { width: 23%; margin-right: 2%;}
.store-details.button { display: block; min-width: 80px;}

.detail-shop { font-weight: 600; }

.item-price { color: #b51616; }
.price-option{ margin-bottom: 14px; padding-bottom: 24px; border-bottom: 1px solid #f7f7f7; }



/********* PAGE ELEMENTS: STORE PAGE ***********/

.branch-list ul { list-style-type: disc; padding: 7px 24px; }
.store .featured-products h3, .item-price { margin: 0; }

.store-header {
	border-bottom: 1px solid #eee;
	border-top: 3px solid #eee;
}
	.store-header h2 { margin-top: 14px; }
	.store-header .red-button { margin-top: 10px; font-weight: 600; padding: 7px 14px;}
.detail-price-single { padding: 7px 14px; }

.branch-contact, .branch-hours { margin-top: 14px; }



/********* PAGE ELEMENTS: HOMEPAGE ***********/

#featured-header {
	width: 100% !important;
	height: 350px !important;
	background-repeat: no-repeat !important;
}
	#featured-header .intro-copy {
		font-size: 2em;
		line-height: 1.2;
		font-weight: 600;
		color: #000;
		max-width: 400px;
		top: 25%;
		padding: 24px;
	}
#featured-promos { background: #222222; margin-bottom: 24px; }
#featured-promos ul li {
	float: left;
	width: 25%;
	text-align: center;
}
	#featured-promos a {
		color: #fff;
		display: block;
		padding: 20px;	
	}
	#featured-promos a:hover { background: #000; }



/* 
.featured-products { font-size: 0.813em; margin-bottom: 36px; }
	.featured-products li a { color: #333; text-decoration: none; border: 1px solid #eee; }
	.featured-products li a:hover { background: #eee; border: 1px solid #999; 
		box-shadow: 0 2px 3px rgba(0,0,0,0.15); 
	}
.featured-products .detail-header {
	padding: 0 14px;
}
.featured-products .promo { position: relative; left: -14px; }
.featured-products .item-thumb {
	width: 100%;
	min-width: 120px; 
	min-height: 120px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	-webkit-transition: all 0.3s ease-in;  
	-moz-transition: all 0.3s ease-in;  
	-o-transition: all 0.3s ease-in;  
}
.posted-info { font-size: 0.813em; }
	.price-summary { padding: 2px 0 0 0;}
	.featured-products .promo { 
		width: 46px;
		height: 46px; 
		background: #941f1f;
		color: #fff;
		text-align: center;
		padding: 5px;
		font-size: 0.813em;
	}
	.price-lowest { font-weight: 900; color: #b51616 ; }
.posted-details {
	min-height: 40px;
	padding: 0 5px;
	-webkit-transition: all 0.3s ease-in;  
	-moz-transition: all 0.3s ease-in;  
	-o-transition: all 0.3s ease-in; 
}
	.user-avatar-small { width: 30px; height: 30px; margin-right: 14px; }
span.authenticated { font-style: italic; }

.featured-products h3 { 
	padding: 7px 14px; 
	color: #333; font-weight: 900; font-size: 1em; line-height: 1.2;
	display: block; margin: 0; height: 95px;
	background: #f7f7f7; border-bottom: 1px solid #eee;
	-webkit-transition: all 0.3s ease-in;  
	-moz-transition: all 0.3s ease-in;  
	-o-transition: all 0.3s ease-in; 
}

.featured-products a:hover h3 { color: #fff; background: #333; }

*/

.featured-products li a.block { 
	border: 1px solid #eee; margin-bottom: 24px; color: #666;
	-webkit-transition: all 0.3s ease-in;  
	-moz-transition: all 0.3s ease-in;  
	-o-transition: all 0.3s ease-in;  
}
	.featured-products li a.block:hover { 
		background: #f7f7f7; 
		border: 1px solid #999; 
		box-shadow: 0 2px 3px rgba(0,0,0,0.15); 
	}

.item-header { 
	background: #f7f7f7; border-bottom: 1px solid #eee; 
	width: 100%;
	padding: 7px 14px;  
	-webkit-transition: all 0.3s ease-in;  
	-moz-transition: all 0.3s ease-in;  
	-o-transition: all 0.3s ease-in; 
}
.featured-products h3 { 
	vertical-align: middle;
	display: table-cell;
	color: #333; font-weight: 900; 
	font-size: 1em; line-height: 1.4;
	margin: 0; 
	-webkit-transition: all 0.3s ease-in;  
	-moz-transition: all 0.3s ease-in;  
	-o-transition: all 0.3s ease-in; 
}
.featured-products a:hover .item-header { background: #333; }
.featured-products a:hover h3 { color: #fff; }

.promo {
	background: #941f1f;
	color: #fff;
	padding: 5px;
	font-size: 0.813em;
	margin: 14px 0 0 0;
	text-align: center;
}
.price-summary { padding: 14px; }
.container-thumb { overflow: none; }
.item-thumb { margin: 7px; }
.posted-info { font-size: 0.75em; border-top: 1px solid #eee;}
.price-lowest { color: #b51616; font-weight: 900; }

.posted-details {
	-webkit-transition: all 0.3s ease-in;  
	-moz-transition: all 0.3s ease-in;  
	-o-transition: all 0.3s ease-in; 
}




/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	/* tabs */
	ul.tabNavigation li { 
		padding: 0 0 10px 0;
		font-size: 0.75em;
	}
		ul.tabNavigation li a { 
			border-bottom: 4px solid #ccc;
			padding: 0 5px 7px 5px;
		}
		ul.tabNavigation li a.selected { color: #2b2b2b; font-weight: 600; border-bottom: 6px solid #2b2b2b; }
	.tab-container { 
		padding: 24px 0 0 0; 
		border: 0;
	}

	body {
		
	}

	#content { min-height: 0; padding: 0; }
	#main-header .row { padding: 12px 0 6px 0;}
		#logo { 
			background: url('../img/logo-smaller.png') no-repeat; 
			margin: 0 14px; width: 92px; height: 30px; background-size: 92px 30px;}
		#main-header .columns { float: left; padding: 0; }
		#searchbox {  }
		#site_search { padding: 3%; font-size: 1em; width: 94%; background: #fff; float: right; }

	#sidebar { margin-top: 25px; }

	.innercol { width: 100% !important; display: block; float: none; margin: 0 0 14px 0 !important; }

	#fb-widget, #sidebar-contributors, #crumbs, #popular-searches, .subheader, #smart-shopper
		{ display: none; }
}


/* ========================================== */
/* ! Provide higher res assets for retina     */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

	#logo {
		background: url('../img/logo@2x.png') no-repeat;
		background-size: 132px 43px;
	}

	.floating-header #logo { background-size: 92px 30px; }
	

}

