  @import "foundation/foundation-global", "foundation/components/global", "foundation/components/sub-nav";
/* MEDIA QUERIES */
  $break-small: 320px;
  $break-small-mid: 480px;
  $break-mid: 769px;
  $break-mid-large: 979px;
  $break-mid-larger: 1024px;
  $break-large: 1200px;
  $break-larger: 1600px;

/* FONTS */
  @import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic|Montserrat:400,700);

  $primary-font: 'Noto Sans', sans-serif, helvetica;
  $secondary-font: 'Montserrat', sans-serif, helvetica;

/* COLORS */
  
  $base-color-red: #b3181d;
  $base-color-red-darker: #9b1111;
  $base-color-red-lighter: #e1bfbf;

  $base-color-blue: #2c6289;
  $base-color-blue-lighter: #b3cada;
  $base-color-blue-darker: #1c3755;

  $base-color-light: #fff;
  $base-color-dark: #000;
  $base-color-neutral-dark: #3d3d3d;
  $base-color-neutral: #8c8c8c;

  $border-light: #ededed;
  $base-color-bg: #f9f9f9; /* #edf5f6 */

  $base-color-topbar: #1c3755;

  a:link, a:active, a:visited {
    color: #3d3d3d;
  }

  a.button {
    color: $base-color-light;
    text-decoration: none !important;
  }

/* FORMS */
  .button {
    background: $base-color-red;
    border: 1px solid $base-color-red-darker;

    &:hover { background: $base-color-dark; border-color: $base-color-dark; }
  }

/* ANIMATIONS */

/* BORDERS */

  $border-radius: 6px;

  .top-bar-section > ul > .divider {
    border-left: 1px solid $base-color-blue;
    border-right: 1px solid #000;
  }

/* TYPOGRAPHY */

  h1, h2, h3, h4, h5, h6 {
    font-family: $secondary-font;
  }

  .main-header, .sidebar-header {
    margin: 0;
    padding: 15px;
    color: $base-color-light;
    background: $base-color-blue;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.25em;
    -webkit-border-top-left-radius: $border-radius;
    -webkit-border-top-right-radius: $border-radius;
    -moz-border-radius-topleft: $border-radius;
    -moz-border-radius-topright: $border-radius;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  .sidebar-header {
    background: $base-color-blue-lighter;
    color: $base-color-blue-darker;
  }

  .label {
    background: $base-color-blue-lighter;
    color: $base-color-dark;
    font-weight: 700;
  }

  section {
    h3.sub-header {
      background: $base-color-blue-lighter;
      color: $base-color-blue-darker;
      margin: 0 0 emCalc(24px) 0;
      padding: emCalc(4px) emCalc(12px);
      font-size: emCalc(18px);
    }
  }

/* CAROUSELS */

  .gallery-carousel {

    a.item {
      display: block;
      float: left;
      color: $base-color-dark;
      line-height: 1.4;
      margin: 0 emCalc(12px);
      overflow: hidden; 
    }
    img {
      max-width: 120px;
      margin: auto;
    }
    .cat-info {
      font-size: emCalc(16px);
      padding: emCalc(6px) emCalc(12px);
      border-bottom: 2px solid $base-color-dark;
    }
    .title { font-weight: 700; }

    .thumb { overflow: hidden; text-align: center; }
  }

  #brand-carousel {
    a {
      display: block;
      height: 100px;
    }
  }

  .promos-near {
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
    margin-bottom: 24px;
    height: 200px;
    overflow: hidden;
  }

  .orbit-slides-container {
    background: #fff;
  }

  .promos-brands {
    background: #fff;
    padding: emCalc(12px) 0;
    margin: 0 0 emCalc(24px) 0;

    img {
      max-width: none;
      width: 200px;
      display: inline-block;
      vertical-align: middle;
    }
  }

/* GRIDS */
  
  .results-grid, .featured-grid {

    li.item {
      overflow: visible;
      position: relative;

      @media only screen and (min-width: $break-small) and (max-width: $break-small-mid) {
        width: 100%;
      }

      @media only screen and (min-width: $break-small-mid + 1) and (max-width: 978px) {
        width: 50%;
      }

      @media only screen and (min-width: 979px) and (max-width: $break-large) {
        width: 33.3333%;
      }

      @media (min-width: $break-small) and (max-width: $break-mid) {
        a { 
          background: $base-color-bg; 
          overflow: auto; 
          padding-top: 0;
          border-top: 2px solid $base-color-neutral-dark;
        }
        .thumb { 
          width: 35%;
          float: left; 
          margin: 0 emCalc(12px) 0 0;
        }
        h4 {
          font-size: 1.2em;
          line-height: 1.5;
        }

        .cat-info { border: 0; background: none; }
      }


    }

    .cat-thumb {
      position: relative;
      display: block;
      clear: both;
      margin-bottom: 24px;

      a { 
        &:hover {
          top: -10px;
        }
        position: relative;
        display: block;
        color: $base-color-dark;
        overflow: visible;
        -moz-transition: ease-in-out all 0.3s; 
        -webkit-transition: ease-in-out all 0.3s; 
        -o-transition: ease-in-out all 0.3s;
        transition: ease-in-out all 0.3s;
      }

      .thumb {
        width: 60%;
        overflow: hidden;
        margin: 0 auto emCalc(12px) auto;
      }

      img {
        width: 100%;
        border: 1px solid #ccc;
        display:inline-block; 
        vertical-align:middle;
      }

      .cat-info {
        width: 100%;
        padding: emCalc(12px);
        overflow: visible;
        font-size: 0.813em;
        line-height: 1.4;
        border-top: 2px solid $base-color-neutral-dark;
        -moz-transition: ease-in-out all 0.5s; 
        -webkit-transition: ease-in-out all 0.5s; 
        -o-transition: ease-in-out all 0.5s;
        transition: ease-in-out all 0.5s;
      }

      h4 {
        color: $base-color-dark;
      }

      .cat-title {
        font-weight: 700;
        font-size: 1.2em;
        line-height: 1.4;
      }
    }

    &.new-grid {
      .thumb {
        margin: 0;
        width: 100%;
        max-height: 200px;
      }
      a {
        background: #ededed;
      }

      .cat-info {
        background: $base-color-bg;
      }
    }

    &.featured-grid {
      a { 
        background: #fff; 
      }
      .thumb {
        margin-top: emCalc(12px);
      }

      .cat-info {
        background: $base-color-bg;
      }
    }

  }
 
  .results {
    .item {
      margin: 0 0 24px 0;
      padding: 0 0 24px 0;
      border-bottom: 1px solid $base-color-dark; 
    }
  }

  .establishments {
    .map-link {
      color: $base-color-dark;
      font-weight: 700;
      padding: emCalc(12px);
      display: block;
      border: 2px solid $base-color-dark;

      &:hover {
        text-decoration: none !important;
        color: $base-color-red;
        border-color: $base-color-red;
      }
    }

    .label {
      background: none;
      color: $base-color-dark;
      margin: 0;
      font-weight: 700;
      padding: 0 emCalc(6px) 0 0 !important;
    }

    .item {
      img { max-width: 300px; margin-bottom: emCalc(24px); }
      h2 { font-size: 1.2em; }
    }
  }

  .featured-grid {

    @media (min-width: $break-small) and (max-width: $break-mid) {

      li.item {
        .thumb { 
          margin: emCalc(6px);
          /* height: 100px; */
        }
      }

      a { 
        border-top: 2px solid $base-color-neutral-dark; 
      }

      .cat-thumb {
        .cat-info { 
          float: right; 
          width: 60%; 
          background: none; 
          border: 0; 
        }
      }
    }

  }

  .category-list {
    padding: emCalc(15px);
  }

/* GENERAL */

  body {
    font-family: $primary-font;
    background: $base-color-bg;
  }

  .breadcrumbs {
    padding: 0 0.875em;
    background: none;
    border: 0;
    margin-top: -12px;

    li a {
      color: $base-color-blue;
    }
  }

  .primary-content {
    h2 {
      font-size: emCalc(24px);
    }
  }

  .sub-content {
    h3 {
      font-size: emCalc(12px);
      color: $base-color-blue;
    }
  }

  .desktop-only {
    display: none;
    @media (min-width: $break-mid-large - 1) {
      display: block;
    }
  }

  .mobile-only {
    display: none; 
    @media (min-width: $break-small) and (max-width: $break-mid-large) {
      display: block;
    }
  }

/* HEADER */
  .top-bar {
    background: $base-color-topbar;

    .toggle-topbar.search-icon {
      position: absolute;
      top: 0;
      right: 40px;

      span {
        background: url('../img/icon-search.png') 10px 4px no-repeat;
        background-size: 18px;
        top: 8px;
      }
    }

    .toggle-topbar.loc-icon {
      position: absolute;
      top: 0;
      right: 80px;

      span {
        background: url('../img/icon-loc.png') 10px 6px no-repeat;
        background-size: 14px;
        top: 6px;
      }
    }

    .icon {
      display: block;
      width: 34px;
      height: 34px;
      position: relative;
    }

  }
  .top-bar-section ul li > a, .top-bar-section li a:not(.button), .top-bar-section .has-form {
    background: $base-color-topbar;
  }

  #main-header .name {
    background: $base-color-red;
    h1 {
      width: 123px;
      height: 60px;
      overflow: hidden;
    }
    h1 a {
      margin: 6px 15px;
      display: block;
      background: url('../img/save22-logo.png') 0 0 no-repeat;
      background-size: 93px 30px;
      width: 100%;
      height: 100%;
      line-height: 0%;
      font-size: 0;
      color: transparent;
      overflow: hidden;
    }
  }
  #main-header label {
    color: $border-light;
    font-weight: 300;
  }

  .breadcrumbs li:before {
    content: "›";
  }

  .top-bar-section .has-form.location-search { 
    background: #fff !important;
    @media (min-width: $break-small) and (max-width: $break-mid-large - 1) {
      padding-top: 0; 
      padding-bottom: 0;

      form {
        margin: 0;
      }

      #header-location { margin-bottom: 0;}
    }
  }

  .row .row.collapse.wide {
    width: 200%;
  }

  .all-category-links {
    background: $base-color-light;
    padding: emCalc(15px);
    border-left: 1px solid $base-color-neutral;
    border-right: 1px solid $base-color-neutral;
    border-bottom: 2px solid $base-color-neutral-dark;
    font-size: emCalc(14px);

    > ul > li { 
    }

    a { 
      color: $base-color-dark;
      display: block;
      border-bottom: 1px solid $border-light; 
      padding: 0 0 emCalc(8px) 0;

      &:hover {
        border-color: $base-color-neutral;
        color: $base-color-red;
      }
    }
  }

  .header-cat-link {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .mobile-search {
    margin: 0;
    height: 44px;
    overflow: hidden;
    border-bottom: 1px solid $base-color-neutral;
    background: $base-color-light;

    &.hide {
      display: none;
    }
    
    form { margin: 0; }

    .button {
      background: $base-color-blue;
      border: 1px solid $base-color-blue;
      width: 100%;
    }

    input[type=search] {
      background: $border-light;
      border-radius: 0;
      border: 0;
      padding: emCalc(15px) emCalc(15px);
      height: 44px;
    }
  }

/* FOOTER */

  #main-footer {
    background: $base-color-light;
    padding-top: 24px;

    h3 {
      font-size: 1em;
    }

    ul {
      list-style-type: none;
    }

    a {
      color: $base-color-dark;
      font-size: 0.813em;
    }
  }

/* SIDEBAR */

  .sidebar {
    section > ul {
      margin: 0;
    }

    h2 {
      font-size: 1em;
    }

    a .cat-info {
      color: $base-color-dark;
      font-size: 1.2em;
      margin-bottom: emCalc(24px);
    }

    .list-hot {
      @media (min-width: $break-small) and (max-width: $break-mid-large) {
        max-height: 510px;
        margin-bottom: emCalc(24px);
        overflow: auto;
      }
    }

    .list-shops {
      padding: 15px 0;
      margin-bottom: 24px;

      li {
        @media screen and (min-width: $break-mid-large) {
          height: 84px;
          overflow: hidden;
        }

        @media screen and (min-width: $break-small) and (max-width: $break-mid-large - 1) {
          width: 100%;
        }

      }

      img {
        display: block;
        margin: 12px auto;
        max-height: 78px;
      }
    }

    .cat-thumb {
      margin: 0;
      overflow: auto; 
      border-top: 2px solid $base-color-neutral;
      font-size: emCalc(11px);

      a {
        overflow: auto; 

        &:hover .cat-info {
          background: transparent; 
        }

        &:hover { display: block; background: $border-light; }
      }
      
      .thumb {
        width: 20%; 
        float: left;
        margin: emCalc(24px) emCalc(24px) emCalc(24px) 0;

        @media (min-width: $break-mid) and (max-width: $break-mid-large) {
          width: 100%;
          float: none;
          display: block;
        }
        @media (min-width: $break-small) and (max-width: $break-mid -1) {

        }
      }
    }

    .cat-info { 
      line-height: 1.4; 
      h4 { font-size: 1.5em; margin: emCalc(12px) 0 0 0;}
    }

  }

  .panel {
    &.callout.list-cat {
      a {
        color: #fff;
      }
      li {
        list-style-type: none;
      }
    }
  }

  #sidebar-categories {
    background: none !important;
    float: right;
    width: 100%;

    > ul {
      background: #fff;
    }
    > ul > li {
      list-style-type: none;
      padding: 5px 15px;
      border-bottom: 1px solid $border-light;
    }
    a {
      color: $base-color-neutral;
    }
    a:hover {
      font-weight: bold;
      color: $base-color-red;
    }

    .active {
      position: relative;
      background: $base-color-red;

      a { color: $base-color-light; }
    }
    .active:after {
      right: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    .active:after {
      border-color: rgba(255, 255, 255, 0);
      border-right-color: $base-color-red;
      border-width: 10px;
      top: 50%;
      margin-top: -10px;
    }
  }

/* NAVS */


/* HOME */ 

  #main-header .top-bar {
    margin: 0;
  }

  .search {
    .button {
      /* 
      -webkit-border-top-right-radius: $border-radius;
      -webkit-border-bottom-right-radius: $border-radius;
      -moz-border-radius-topright: $border-radius;
      -moz-border-radius-bottomright: $border-radius;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      */
    }

    input[type=search] {
      /* 
      -webkit-border-top-left-radius: $border-radius;
      -webkit-border-bottom-left-radius: $border-radius;
      -moz-border-radius-topleft: $border-radius;
      -moz-border-radius-bottomleft: $border-radius;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      */
    }
  }

  .home-intro {
    /* padding: 12px 15px; */
    font-size: 0.813em;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.15);
    margin-bottom: 24px;

    .copy { padding: 0 15px; 
      label {font-weight: 700;  }
    }

    label { margin: 0; }

    li {
      list-style-type: none;
    }

    input[type=text] {
      border: 0;
      box-shadow: none;
      border-bottom: 4px solid $base-color-topbar;
      margin-top: 13px;
      padding-bottom: 21px;
      padding-left: 0;
    }
  }

  .main-row {

    width: 100%;
    max-width: 1400px; 

    .columns {
    }

    h3 {
      font-size: 0.813em;
      margin-top: 8px;
      text-transform: uppercase;
    }
    h2 {
    }
  }

  .promos-brands {
    li {
    }
  }

  .featured-promo-thumb {
    height: 200px;
  }

  .section-links {
    border: 1px solid $border-light;
    margin-bottom: 24px;
    padding: 6px 12px 12px 12px;
    font-size: 0.813em;
    -webkit-border-bottom-right-radius: $border-radius;
    -webkit-border-bottom-left-radius: $border-radius;
    -moz-border-radius-bottomright: $border-radius;
    -moz-border-radius-bottomleft: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;

    ul li {
      list-style-type: none;
    }

    a {
      color: $base-color-blue-darker;
    }

    h2 {
      margin: 0 0 12px 0;
      font-size: 1.75em;
    }

    .large-block-grid-4 {
      ul { margin: 0; padding: 0; }
    }
  }

  .section {
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.3);

    a:hover {
      text-decoration: underline;
    }

    &.main-content {
      background: none;
    }

    &.results {
      margin-bottom: emCalc(24px);
    }
  }
  .section-container, .section-container.auto { margin: 0;}

  .map {
    @media (min-width: $break-small) and (max-width: $break-mid) {
      display: none;
    }
  }

  .home-preview {
    background: #ededed;
    margin: 0 0 -32px 0;
    .cat-thumb {
      h4 { font-size: emCalc(16px);}
    }
  }

  .home-new {
    background: #fff;
    padding: emCalc(24px) 0;
    margin: 0 0 emCalc(24px) 0;
    border-top: 1px solid $border-light;
    border-bottom: 1px solid $border-light;
  }

/* CATEGORY PAGE */

  .category-page {
    margin-bottom: 24px;
  }

/* OTHER PAGES */

  .list-promotions {
    h2 {
      font-size: emCalc(18px);
    }
  }

  .store-link {
    display: block;
    margin-bottom: emCalc(24px);
  }