// Global Foundation Settings
@import "settings";

/* COLORS */
  
  $base-color-red: #b3181d;
  $base-color-red-darker: #9b1111;
  $base-color-red-lighter: #e1bfbf;

  $base-color-blue: #2c6289;
  $base-color-blue-lighter: #b3cada;
  $base-color-blue-darker: #1c3755;

  $base-color-light: #fff;
  $base-color-dark: #000;
  $base-color-neutral-dark: #3d3d3d;
  $base-color-neutral: #8c8c8c;
  $base-color-neutral-light: #eee;

  $border-light: #ededed;
  $base-color-bg: #f9f9f9; /* #edf5f6 */


ul.catalog {

  [class*="block-grid-"] {
    padding: emCalc(40px) emCalc(20px);
  }

  .th {
    border: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }

  .item { 
    position: relative; 
    &:hover {
      .edit-photo { opacity: 1; }
    }
  }

  &.edit {
    .content {
      margin-top: emCalc(60px);
    }
  }

  .cover {
    h2 {
      margin: 0;
      span {
        display: block;
        border-bottom: 4px solid #000;
        margin: emCalc(15px) 0 0 0;
        padding: emCalc(10px);
        font-size: emCalc(28px);

        &:hover {
          background: #fffbe0;
        }
      }
    }
    img {
      width: 100%;
    }
    .quick-edit .edit-value.title {
      font-size: emCalc(66px);
      margin: 0;
      border-bottom: 4px solid #000;
    }

    .item {
      position: relative;
    }
    .edit-photo {
      top: 220px;
      opacity: 1;
    }
  }

  h3 { 
    span {
      display: block;
      font-size: emCalc(12px); 
      border-bottom: 2px solid #000;
      padding: emCalc(10px) 0;}
  }
  .item-set {
    font-size: emCalc(13px);

    .price { font-weight: bold; color:$base-color-red; }
  }
  .edit-photo {
    position: absolute;
    top: 15px; 
    right: 25px;
    -moz-transition: ease-in-out all 0.3s; 
    -webkit-transition: ease-in-out all 0.3s; 
    -o-transition: ease-in-out all 0.3s;
    transition: ease-in-out all 0.3s;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    opacity: 0;

    .button {
      font-weight: normal;
      font-size: emCalc(11px);
      margin: 0;
    }
  }
}


.sortable li {
  cursor: move;
}

a.add-item {
  background: #ccc;
  display: block;
  overflow: auto;
  clear: both;
  padding: emCalc(20px);
  line-height: 1.3;
  color: #333;
  font-weight: bold;
  border: 2px solid #666;
}

.new-item {
  border: 1px solid #ccc;
  background: #fff;
  padding: emCalc(15px);

  label {
    display: block;
    margin: emCalc(15px) 0;
    font-weight: bold;
  }
}

.quick-edit {
  cursor: text;

  .hide { display: none !important; }
  input, textarea {
    font-size: emCalc(16px);
  }

  .edit-value.title {
    font-size: emCalc(20px);
    font-weight: bold;
    border-bottom: 2px solid #000;
  }
}

.image-catalog{
  .item-set {
    margin-top: 56px;
    padding-top: emCalc(15px);
  }
  h2 { 
    margin: 0;
    span {
      display: block;
      padding:0 emCalc(20px) emCalc(10px) emCalc(20px); 
      border-bottom: 3px solid #000;
      margin: 0;
    }
  }
}
.catalog-overlay {
  position: relative;
  cursor: crosshair;
  margin-top: 0 !important;

  .item-box {
    border: 3px #FF00FF solid; 
    position:absolute;
    -moz-transition: ease-in-out background 0.3s; 
    -webkit-transition: ease-in-out background 0.3s; 
    -o-transition: ease-in-out background 0.3s;
    transition: ease-in-out background 0.3s;
    background: rgba(0,0,0,0);
    cursor: pointer;
    z-index: 200;

    &:hover {
      background: rgba(0,0,0,0.5);
    }

    .button-group {
      position: absolute;
      top: -33px;
      left: -3px;
      width: 154px;
    }
  }
}

.item-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);

  .photo {
    width: 45%;
    float: left;
    margin-right: 5%;

    img {
      display: block;
      margin: emCalc(20px) auto;
    }
  }

  .product-info {
    width: 46%;
    float: left;
    background: #fff;
    border: 1px solid #000;
    padding: emCalc(20px);
    margin: 2%;
  }
}

.edit-control {
  position:absolute;
  top: 0px; 
  background: #000; 
  width: 100%;
  padding: emCalc(10px) emCalc(10px) 0 emCalc(10px);

  ul.button-group:first-child {
    margin-left: emCalc(70px);
  }
}

.orbit-container .orbit-prev, .orbit-container .orbit-next { position: fixed; }
