
.three.columns { width: 24.5%; }
.four.columns { width: 30.5%; }
.six.columns { width: 46%; }
.nine.columns { width: 69%; }


input[type=text] { height: 16px;  }
.site_search { padding: 6px 6px 6px 32px; height: 16px; margin: 0; width: 73.5% !important; }
.searchbox .button { height: 30px; margin-left: 10px; }


ul.nolist li { padding: 0; }

 
#logo, .floating-header .logo-ie { display: none;}
.logo-ie { display: block; float: left; }
.floating-header { height: 44px; }
.floating-header .logo-ie-white { display: block; float: left; margin-right: 14px; margin-left: 15px; } 
.header-half { width: 68%; }

.logo-ie {
   display: block;
   margin: 10% 24px 8px 0;
}
.subheader { display: block; width: 100%; }

.top-bar { overflow: visible; }
.top-bar .nav-title { float: left; }
.topbar section { float: left; background: #eee; }
#smart-shopper.top-bar ul li.has-dropdown { background: url('../img/dk_arrows.png') center right no-repeat; padding-right: 0; }

#smart-shopper.top-bar ul li a.active { display: block; width: 100%; background: none; }
#smart-shopper.top-bar ul li.has-dropdown:hover { background: #333;}

.flyout-toggle { display: block; width: 7px; height: 5px; background: url('../img/dk_arrows.png') 20px 14px no-repeat;  }

#smart-shopper { border-bottom: 1px solid #6b6b6b; }
#smart-shopper .has-flyout { position: relative; z-index: 800; }

#featured-header { position: relative; z-index: -1; }

.tab-label { width: 135px; }



.product-detail #item-info {
   width: 96% !important;
}

ul.tabs-content li { list-style-type: none; list-style-image: none; list-style-position: outside; }

#content.product-detail .eight.columns { width: 62.5%; }
   #content.product-detail .eight.columns article { padding: 0 2%; }

#hub-categories ul#cat-list li { width: 20%; padding: 1% 2%; }
   #hub-categories ul#cat-list li a { padding: 0; }

#main-footer .social { display: none; }


.body-search input[type=text] { height: 24px; padding: 8px 24px 18px 44px;  }
.body-search a.button, .body-search a.button:hover { 
   color: #000;
   height: 30px;
}
.error-page { height: 400px; }
#sign-500 { left: -55%; }