.home-intro {
	height: 44px;
}

.home-intro .top-bar-section {
	float: none;
	clear: both;
	height: 44px;
	margin: 0;
}

#header-location {
	padding: 12px;
	height: 44px;
}

.breadcrumbs {
	margin: 12px auto;
	float: none;
	clear: both;
}

.button-minor {
	display: block;
	position: relative;
	height: 44px;
	width: 100%;
	overflow: hidden;
	float: none;
	margin: 12px 0;
}

.section, .button-minor, .featured-grid, .sub-header { *zoom: 1 !important; }
.section:before, .section:after, .button-minor:before, .featured-grid:before, .sub-header:before { content: " "; display: table !important; }
.section:after, .button-minor:after, .featured-grid:after, .sub-header:after { clear: both !important; }

.content {
	overflow: auto;
}