@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic|Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* MEDIA QUERIES */
/* FONTS */
/* COLORS */
/* #edf5f6 */
/* line 41, ../sass/styles.scss */
a:link, a:active, a:visited {
  color: #3d3d3d;
}

/* line 45, ../sass/styles.scss */
a.button {
  color: white;
  text-decoration: none !important;
}

/* FORMS */
/* line 51, ../sass/styles.scss */
.button {
  background: #b3181d;
  border: 1px solid #9b1111;
}
/* line 55, ../sass/styles.scss */
.button:hover {
  background: black;
  border-color: black;
}

/* line 59, ../sass/styles.scss */
.button-minor {
  color: black;
  font-weight: 700;
  padding: 0.75em;
  display: block;
  border: 2px solid black;
  margin-top: 0.75em;
  font-size: 0.75em;
}
/* line 68, ../sass/styles.scss */
.button-minor:hover {
  text-decoration: none !important;
  color: #b3181d;
  border-color: #b3181d;
}
/* line 74, ../sass/styles.scss */
.button-minor.home-more {
  font-size: 1.125em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 1.5em 0;
  font-family: "Montserrat", sans-serif, helvetica;
}

/* line 83, ../sass/styles.scss */
.main-header .button {
  margin: 0;
  background-color: #1c3755;
  border-color: #1c3755;
  font-weight: 300;
  font-size: 0.6875em;
}
/* line 90, ../sass/styles.scss */
.main-header .button:hover, .main-header .button:active {
  background: #b3cada;
  color: #1c3755;
}

/* ANIMATIONS */
/* BORDERS */
/* line 102, ../sass/styles.scss */
.top-bar-section > ul > .divider {
  border-left: 1px solid #2c6289;
  border-right: 1px solid #000;
}

/* TYPOGRAPHY */
/* line 109, ../sass/styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif, helvetica;
}

/* line 113, ../sass/styles.scss */
.main-header, .sidebar-header {
  margin: 0;
  padding: 15px;
  color: white;
  background: #2c6289;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25em;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

/* line 130, ../sass/styles.scss */
.sidebar-header {
  background: #b3cada;
  color: #1c3755;
}

/* line 135, ../sass/styles.scss */
.label {
  background: #b3cada;
  color: black;
  font-weight: 700;
}

/* line 142, ../sass/styles.scss */
section h3.sub-header {
  background: #b3cada;
  color: #1c3755;
  margin: 0 0 1.5em 0;
  padding: 0.25em 0.75em;
  font-size: 1.125em;
}

/* line 151, ../sass/styles.scss */
.location {
  color: #b3181d;
}

/* CAROUSELS */
/* line 159, ../sass/styles.scss */
.gallery-carousel a.item {
  display: block;
  float: left;
  color: black;
  line-height: 1.4;
  margin: 0 0.75em;
  overflow: hidden;
  border: 0;
}
/* line 168, ../sass/styles.scss */
.gallery-carousel img {
  max-width: 120px;
  margin: auto;
}
/* line 172, ../sass/styles.scss */
.gallery-carousel .cat-info {
  font-size: 1em;
  padding: 0.375em 0.75em;
}
/* line 176, ../sass/styles.scss */
.gallery-carousel .title {
  font-weight: 700;
}
/* line 178, ../sass/styles.scss */
.gallery-carousel .thumb {
  overflow: hidden;
  text-align: center;
}

/* line 182, ../sass/styles.scss */
#brand-carousel a {
  display: block;
  height: 100px;
}

/* line 189, ../sass/styles.scss */
#branch-carousel .item, #store-carousel .item {
  width: 250px;
  float: left;
  list-style-type: none;
}

/* line 193, ../sass/styles.scss */
#store-carousel img {
  width: 100%;
  max-width: none;
}

/* line 199, ../sass/styles.scss */
.promos-near {
  background: #fff;
  padding: 0;
  overflow: hidden;
  border: 3px solid #1c3755;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
  height: 480px;
}
/* line 207, ../sass/styles.scss */
.promos-near .item {
  float: none !important;
}
/* line 208, ../sass/styles.scss */
.promos-near .cat-item {
  position: relative;
  margin: 0 0 0.75em auto;
  width: 100%;
}
/* line 214, ../sass/styles.scss */
.promos-near .gallery-carousel img {
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  margin: 4px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: auto;
  max-width: none;
}
/* line 225, ../sass/styles.scss */
.promos-near .thumb {
  position: relative;
  max-height: 300px;
  width: 80%;
  max-width: 200px;
  margin: auto;
  overflow: hidden;
}
/* line 234, ../sass/styles.scss */
.promos-near .cat-info {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
  -o-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}
/* line 251, ../sass/styles.scss */
.promos-near h3 {
  position: relative;
  top: 35%;
  text-align: center;
  padding: 0.75em 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: block;
}
/* line 261, ../sass/styles.scss */
.promos-near a, .promos-near h3 {
  color: white;
}
/* line 266, ../sass/styles.scss */
.promos-near a:hover .cat-info {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

/* line 274, ../sass/styles.scss */
.down-next {
  display: block;
  background: #1c3755;
  width: 100%;
  font-size: 0;
  height: 30px;
  padding-top: 10px;
}
/* line 282, ../sass/styles.scss */
.down-next:hover {
  background: #2c6289;
}
/* line 286, ../sass/styles.scss */
.down-next span {
  display: block;
  margin: auto;
  width: 20px;
  height: 20px;
}
/* line 293, ../sass/styles.scss */
.down-next span, .down-next:hover span {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

/* line 302, ../sass/styles.scss */
.orbit-slides-container {
  background: #fff;
}

/* line 306, ../sass/styles.scss */
.promos-brands {
  background: #fff;
  padding: 0.75em 0;
  margin: 0 0 1.5em 0;
}
/* line 311, ../sass/styles.scss */
.promos-brands img {
  max-width: none;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}

/* line 319, ../sass/styles.scss */
.vert-carousel-trigger {
  font-size: 0;
  height: 35px;
  background: white;
}
/* line 324, ../sass/styles.scss */
.vert-carousel-trigger a {
  display: block;
  width: 100%;
  height: 35px;
  text-align: center;
  padding-top: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
/* line 337, ../sass/styles.scss */
.vert-carousel-trigger a:hover {
  background: #eeeeee;
}

/* GRIDS */
/* line 346, ../sass/styles.scss */
.results-grid li.item, .featured-grid li.item {
  overflow: visible;
  position: relative;
  /*
  @media only screen and (min-width: $break-small) {
    width: 100%;
  }
  */
}
@media only screen and (min-width: 20em) and (max-width: 30em) {
  /* line 346, ../sass/styles.scss */
  .results-grid li.item, .featured-grid li.item {
    width: 50%;
  }
}
@media only screen and (min-width: 47.9375em) and (max-width: 75em) {
  /* line 346, ../sass/styles.scss */
  .results-grid li.item, .featured-grid li.item {
    width: 33.3333%;
    font-size: 0.8125em;
  }
}
@media only screen and (min-width: 76em) {
  /* line 346, ../sass/styles.scss */
  .results-grid li.item, .featured-grid li.item {
    width: 20%;
  }
}
@media only screen and (min-width: 20em) and (max-width: 47.9375em) {
  /* line 370, ../sass/styles.scss */
  .results-grid li.item > a, .featured-grid li.item > a {
    background: #f9f9f9;
    overflow: auto;
    padding-top: 0;
    border-top: 2px solid #3d3d3d;
  }
  /* line 376, ../sass/styles.scss */
  .results-grid li.item .thumb, .featured-grid li.item .thumb {
    text-align: center;
  }
  /* line 379, ../sass/styles.scss */
  .results-grid li.item h4, .featured-grid li.item h4 {
    font-size: 1.2em;
    line-height: 1.5;
  }
  /* line 383, ../sass/styles.scss */
  .results-grid li.item .cat-info, .featured-grid li.item .cat-info {
    border: 0;
    background: white;
    padding: 0.75em;
  }
}
/* line 389, ../sass/styles.scss */
.results-grid .cat-thumb, .featured-grid .cat-thumb {
  position: relative;
  display: block;
  clear: both;
  margin-bottom: 24px;
}
/* line 395, ../sass/styles.scss */
.results-grid .cat-thumb a, .featured-grid .cat-thumb a {
  position: relative;
  display: block;
  color: black;
  overflow: visible;
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
  -o-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
/* line 396, ../sass/styles.scss */
.results-grid .cat-thumb a:hover, .featured-grid .cat-thumb a:hover {
  top: -10px;
}
/* line 410, ../sass/styles.scss */
.results-grid .cat-thumb .thumb, .featured-grid .cat-thumb .thumb {
  text-align: center;
  overflow: hidden;
  border: 3px solid white;
  max-height: 300px;
}
/* line 417, ../sass/styles.scss */
.results-grid .cat-thumb img, .featured-grid .cat-thumb img {
  max-width: none;
  width: 100%;
  height: auto;
  margin: auto;
}
/* line 424, ../sass/styles.scss */
.results-grid .cat-thumb .cat-info, .featured-grid .cat-thumb .cat-info {
  width: 100%;
  padding: 0.75em;
  overflow: visible;
  font-size: 0.813em;
  line-height: 1.4;
  border-top: 3px solid #3d3d3d;
  -moz-transition: ease-in-out all 0.5s;
  -webkit-transition: ease-in-out all 0.5s;
  -o-transition: ease-in-out all 0.5s;
  transition: ease-in-out all 0.5s;
}
/* line 437, ../sass/styles.scss */
.results-grid .cat-thumb h4, .featured-grid .cat-thumb h4 {
  color: black;
}
/* line 441, ../sass/styles.scss */
.results-grid .cat-thumb .cat-title, .featured-grid .cat-thumb .cat-title {
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.4;
}
/* line 449, ../sass/styles.scss */
.results-grid.new-grid .thumb, .featured-grid.new-grid .thumb {
  margin: 0;
  width: 100%;
  max-height: 200px;
  background: white;
}
/* line 455, ../sass/styles.scss */
.results-grid.new-grid a, .featured-grid.new-grid a {
  background: #ededed;
  border-top: 3px solid #3d3d3d;
}
/* line 460, ../sass/styles.scss */
.results-grid.new-grid .cat-info, .featured-grid.new-grid .cat-info {
  background: #f9f9f9;
  border-width: 1px;
}
/* line 467, ../sass/styles.scss */
.results-grid.featured-grid a, .featured-grid.featured-grid a {
  background: white;
}
@media (min-width: 20em) and (max-width: 47.9375em) {
  /* line 467, ../sass/styles.scss */
  .results-grid.featured-grid a, .featured-grid.featured-grid a {
    background: white;
    overflow: hidden;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }
}

/* line 481, ../sass/styles.scss */
.results .item {
  padding: 1.5em 0;
  border-bottom: 1px solid #8c8c8c;
  /* media query */
}
/* line 486, ../sass/styles.scss */
.results .item:hover .button {
  opacity: 1;
}
/* line 491, ../sass/styles.scss */
.results .item h2 {
  font-size: 1.375em;
}
@media only screen and (min-width: 20em) and (max-width: 47.9375em) {
  /* line 481, ../sass/styles.scss */
  .results .item {
    background: #ededed;
    border: 1px solid #8c8c8c;
    margin: 1.25em 0;
    padding: 0.9375em 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    text-align: center;
  }
  /* line 503, ../sass/styles.scss */
  .results .item img {
    display: block;
    margin: 0.75em auto;
  }
  /* line 505, ../sass/styles.scss */
  .results .item a img {
    margin-top: 0.75em;
  }
  /* line 507, ../sass/styles.scss */
  .results .item h2 {
    margin-top: 0.75em;
    font-size: 1.125em;
  }
  /* line 509, ../sass/styles.scss */
  .results .item .button {
    margin: 0 auto 1.5em auto;
    opacity: 1 !important;
  }
}
/* line 514, ../sass/styles.scss */
.results .item .button {
  opacity: 0;
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
  -o-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}

@media only screen and (min-width: 30em) and (max-width: 64em) {
  /* line 526, ../sass/styles.scss */
  .results-list .row .columns {
    width: 50%;
    text-align: left;
  }
  /* line 527, ../sass/styles.scss */
  .results-list .row .small-12.large-3 {
    width: 50%;
  }
  /* line 530, ../sass/styles.scss */
  .results-list .row .small-12.large-4 {
    width: 100%;
  }
  /* line 533, ../sass/styles.scss */
  .results-list .item h2 {
    margin-top: 1.5em;
  }
}
@media only screen and (min-width: 47.9375em) and (max-width: 61.1875em) {
  /* line 536, ../sass/styles.scss */
  .results-list .row .large-4 {
    width: 100% !important;
    display: block;
    float: none;
    clear: both;
  }
}
/* line 543, ../sass/styles.scss */
.results-list .item:hover {
  background: #ededed;
}
/* line 547, ../sass/styles.scss */
.results-list a {
  display: block;
  position: relative;
}

/* line 552, ../sass/styles.scss */
.establishments .label {
  background: none;
  color: black;
  margin: 0;
  font-weight: 700;
  padding: 0 0.375em 0 0 !important;
}
/* line 560, ../sass/styles.scss */
.establishments .item {
  border: 0;
}
/* line 562, ../sass/styles.scss */
.establishments .item img {
  margin-bottom: 1.5em;
  max-width: 80%;
}
/* line 563, ../sass/styles.scss */
.establishments .item h2 {
  font-size: 1.2em;
}
@media only screen and (min-width: 20em) and (max-width: 30em -1) {
  /* line 566, ../sass/styles.scss */
  .establishments .results-grid {
    padding: 0 !important;
    margin: 0 -24px;
  }
  /* line 571, ../sass/styles.scss */
  .establishments .results-grid img {
    max-width: 80%;
  }
}
@media only screen and (min-width: 30em) and (max-width: 61.1875em) {
  /* line 566, ../sass/styles.scss */
  .establishments .results-grid {
    padding: 0 !important;
  }
  /* line 576, ../sass/styles.scss */
  .establishments .results-grid img {
    max-width: 80%;
  }
}
/* line 579, ../sass/styles.scss */
.establishments .results-grid .item {
  padding: 0.75em;
  background: none;
  box-shadow: none;
}
@media only screen and (min-width: 20em) and (max-width: 29em) {
  /* line 579, ../sass/styles.scss */
  .establishments .results-grid .item {
    width: 100%;
    padding: 0;
    margin: 0.75em 0;
  }
}
@media only screen and (min-width: 30em) {
  /* line 579, ../sass/styles.scss */
  .establishments .results-grid .item {
    width: 50%;
    font-size: 0.8125em;
    text-align: left;
    clear: none;
  }
}
/* line 597, ../sass/styles.scss */
.establishments .results-grid .item h2 {
  margin-top: 0;
}
/* line 599, ../sass/styles.scss */
.establishments .results-grid .item:hover {
  background: none;
}
/* line 603, ../sass/styles.scss */
.establishments .results-grid .item-container {
  padding: 1.5em 0.75em;
  background: #ededed;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
  position: relative;
  display: block;
  overflow: auto;
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
  -o-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}
/* line 616, ../sass/styles.scss */
.establishments .results-grid .item-container:hover {
  top: -12px;
}
/* line 620, ../sass/styles.scss */
.establishments .results-grid .item-container .store-details {
  padding: 0 0.75em;
}

@media (min-width: 20em) and (max-width: 47.9375em) {
  /* line 633, ../sass/styles.scss */
  .featured-grid li.item .thumb {
    margin: 0.375em;
    /* height: 100px; */
  }
  /* line 640, ../sass/styles.scss */
  .featured-grid .cat-thumb .cat-info {
    float: right;
    background: none;
    border: 0;
  }
}

/* line 650, ../sass/styles.scss */
.no-tab {
  padding: 0.9375em;
}

/* line 656, ../sass/styles.scss */
.seo-list .results-grid .item {
  margin-bottom: 0.75em;
  position: relative;
}
/* line 657, ../sass/styles.scss */
.seo-list .results-grid .item-container {
  padding: 0.75em;
  background: white;
  border: 1px solid #eeeeee;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
  -o-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}
/* line 667, ../sass/styles.scss */
.seo-list .results-grid .item-container:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0);
  border-color: #8c8c8c;
}
/* line 673, ../sass/styles.scss */
.seo-list .results-grid .button-minor {
  border-color: #eeeeee;
}
@media only screen and (min-width: 20em) and (max-width: 29em) {
  /* line 678, ../sass/styles.scss */
  .seo-list .results-grid li {
    width: 100%;
  }
}
@media only screen and (min-width: 30em) and (max-width: 47.9375em) {
  /* line 682, ../sass/styles.scss */
  .seo-list .results-grid li {
    width: 50%;
    float: left;
    clear: none;
  }
}
/* line 686, ../sass/styles.scss */
.seo-list.links-list {
  padding-bottom: 1.5em;
}
/* line 689, ../sass/styles.scss */
.seo-list.links-list [class*="block-grid-"] > li {
  display: list-item;
  list-style-type: square;
  list-style-position: inside;
  color: #ededed;
}
/* line 696, ../sass/styles.scss */
.seo-list.links-list a:hover {
  border-bottom: 1px solid #8c8c8c;
}

/* line 703, ../sass/styles.scss */
.status {
  position: absolute;
  bottom: 4px;
  right: 0;
  color: white;
  font-family: "Montserrat", sans-serif, helvetica;
  padding: 0.375em;
  font-size: 0.75em;
  text-transform: uppercase;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  text-align: center;
}

/* line 718, ../sass/styles.scss */
.status-bg {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid #b3181d;
  border-top: 50px solid transparent;
  border-bottom: 0;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/* GENERAL */
/* line 730, ../sass/styles.scss */
body {
  font-family: "Noto Sans", sans-serif, helvetica;
  background: #f9f9f9;
}

/* line 735, ../sass/styles.scss */
.breadcrumbs {
  padding: 0 0.875em;
  background: none;
  border: 0;
  margin-top: -12px;
}
/* line 741, ../sass/styles.scss */
.breadcrumbs li a, .breadcrumbs li span {
  color: #2c6289;
}
/* line 744, ../sass/styles.scss */
.breadcrumbs li div {
  display: inline;
}
/* line 745, ../sass/styles.scss */
.breadcrumbs li div a span {
  font-size: 1em;
}

/* line 747, ../sass/styles.scss */
.pagination {
  margin: 0.9375em 0;
  height: 2.25em;
}
/* line 750, ../sass/styles.scss */
.pagination li {
  height: auto;
}
/* line 752, ../sass/styles.scss */
.pagination li a {
  background: #ededed;
  display: block;
  color: #3d3d3d;
  padding: 0.5em 1em;
}
/* line 753, ../sass/styles.scss */
.pagination li a:hover {
  background: #2c6289;
  color: white;
}
/* line 756, ../sass/styles.scss */
.pagination li.current a {
  background: #b3181d;
}
/* line 758, ../sass/styles.scss */
.pagination li.current a:hover {
  background: #3d3d3d;
}
/* line 760, ../sass/styles.scss */
.pagination li.unavailable a:hover {
  color: #8c8c8c;
}
@media (min-width: 20em) and (max-width: 47.9375em) {
  /* line 763, ../sass/styles.scss */
  .pagination li {
    display: none;
  }
  /* line 764, ../sass/styles.scss */
  .pagination li.arrow {
    display: block;
  }
}

/* line 769, ../sass/styles.scss */
.primary-content h2 {
  font-size: 1.5em;
}

/* line 775, ../sass/styles.scss */
.sub-content h3 {
  font-size: 0.75em;
  color: #2c6289;
}

/* line 781, ../sass/styles.scss */
.desktop-only {
  display: none;
}
@media (min-width: 60.1875em) {
  /* line 781, ../sass/styles.scss */
  .desktop-only {
    display: block;
  }
}

/* line 788, ../sass/styles.scss */
.mobile-only {
  display: none;
}
/* line 791, ../sass/styles.scss */
.mobile-only.drop-down {
  background: #3d3d3d;
  padding: 0.9375em;
  color: white;
  text-decoration: none !important;
  line-height: 1.4;
  font-family: "Montserrat", sans-serif, helvetica;
  display: none;
}
/* line 800, ../sass/styles.scss */
.mobile-only span.arrow {
  float: right;
  margin: 0.25em 0.9375em;
}
@media (min-width: 20em) and (max-width: 29em) {
  /* line 788, ../sass/styles.scss */
  .mobile-only {
    display: block;
  }
  /* line 808, ../sass/styles.scss */
  .mobile-only.drop-down {
    display: block;
  }
}

@media (min-width: 20em) and (max-width: 29em) {
  /* line 812, ../sass/styles.scss */
  .mobile-hide {
    display: none;
  }
}

/* line 820, ../sass/styles.scss */
.content.single-content {
  padding: 0.9375em 1.5em;
}
/* line 822, ../sass/styles.scss */
.content .drop-down {
  margin: 0 -0.9375em -0.9375em -0.9375em;
}

/* line 827, ../sass/styles.scss */
.section-container section .content > *:first-child, .section-container .section .content > *:first-child, .section-container.auto section .content > *:first-child, .section-container.auto .section .content > *:first-child {
  padding: 1.5em;
}

/* line 829, ../sass/styles.scss */
.section-container section .content.list-promotions > *:first-child, .section-container .section .content.list-promotions > *:first-child, .section-container.auto section .content.list-promotions > *:first-child, .section-container.auto .section .content.list-promotions > *:first-child {
  padding: 0 0 0.9375em 0;
}

/* line 831, ../sass/styles.scss */
.mbottom {
  margin-bottom: 1.5em;
}

/* HEADER */
/* line 835, ../sass/styles.scss */
.top-bar {
  background: #1c3755;
}
/* line 838, ../sass/styles.scss */
.top-bar .toggle-topbar.search-icon {
  position: absolute;
  top: 0;
  right: 40px;
}
/* line 843, ../sass/styles.scss */
.top-bar .toggle-topbar.search-icon span {
  background: url("../img/icon-search.png") 10px 4px no-repeat;
  background-size: 18px;
  top: 8px;
}
/* line 850, ../sass/styles.scss */
.top-bar .toggle-topbar.loc-icon {
  position: absolute;
  top: 0;
  right: 80px;
}
/* line 855, ../sass/styles.scss */
.top-bar .toggle-topbar.loc-icon span {
  background: url("../img/icon-loc.png") 10px 6px no-repeat;
  background-size: 14px;
  top: 6px;
}
/* line 862, ../sass/styles.scss */
.top-bar .icon {
  display: block;
  width: 34px;
  height: 34px;
  position: relative;
}

/* line 869, ../sass/styles.scss */
.top-bar-section ul li > a, .top-bar-section li a:not(.button), .top-bar-section .has-form {
  background: #1c3755;
}

/* line 873, ../sass/styles.scss */
#main-header .name {
  background: #b3181d;
}
/* line 875, ../sass/styles.scss */
#main-header .name h1 {
  width: 184px;
  height: 60px;
  overflow: hidden;
}
/* line 880, ../sass/styles.scss */
#main-header .name h1 a {
  line-height: 0%;
  font-size: 0;
  color: transparent;
  overflow: hidden;
}
/* line 886, ../sass/styles.scss */
#main-header .name .logo-img {
  margin-top: 8px;
  margin-right: -8px;
}

/* line 891, ../sass/styles.scss */
#main-header label {
  color: #ededed;
  font-weight: 300;
}

/* line 896, ../sass/styles.scss */
.breadcrumbs li:before {
  content: "›";
}

/* line 900, ../sass/styles.scss */
.top-bar-section .has-form.search {
  width: 400px;
}
/* line 902, ../sass/styles.scss */
.top-bar-section .has-form.search input[type=search] {
  background: #2b4968;
  border-color: #162c42;
  color: white;
}
/* line 907, ../sass/styles.scss */
.top-bar-section .has-form.search ::-webkit-input-placeholder {
  color: #6182a3;
}
/* line 910, ../sass/styles.scss */
.top-bar-section .has-form.search :-moz-placeholder {
  color: #6182a3;
}
/* line 913, ../sass/styles.scss */
.top-bar-section .has-form.search ::-moz-placeholder {
  color: #6182a3;
}
/* line 916, ../sass/styles.scss */
.top-bar-section .has-form.search :-ms-input-placeholder {
  color: #6182a3;
}

/* line 920, ../sass/styles.scss */
.top-bar-section .has-form.location-search {
  background: #fff !important;
}
@media (min-width: 20em) and (max-width: 60.1875em) {
  /* line 920, ../sass/styles.scss */
  .top-bar-section .has-form.location-search {
    padding-top: 0;
    padding-bottom: 0;
  }
  /* line 926, ../sass/styles.scss */
  .top-bar-section .has-form.location-search form {
    margin: 0;
  }
  /* line 930, ../sass/styles.scss */
  .top-bar-section .has-form.location-search #header-location {
    margin-bottom: 0;
  }
}

/* line 934, ../sass/styles.scss */
.row .row.collapse.wide {
  width: 200%;
}
@media (min-width: 20em) and (max-width: 75em) {
  /* line 934, ../sass/styles.scss */
  .row .row.collapse.wide {
    width: 160%;
  }
}

/* line 941, ../sass/styles.scss */
.all-category-links {
  background: white;
  padding: 0 0.9375em;
  border-left: 1px solid #8c8c8c;
  border-right: 1px solid #8c8c8c;
  border-bottom: 2px solid #3d3d3d;
  font-size: 0.875em;
}
/* line 949, ../sass/styles.scss */
.all-category-links > ul > li {
  padding-bottom: 0;
}
/* line 953, ../sass/styles.scss */
.all-category-links a {
  color: black;
  display: block;
  border-bottom: 1px solid #ededed;
  padding: 0.75em 0;
}
/* line 959, ../sass/styles.scss */
.all-category-links a:hover {
  border-color: #8c8c8c;
  color: #b3181d;
}

/* line 967, ../sass/styles.scss */
#main-header .top-bar .top-bar-section .menu-icon a span {
  position: absolute;
  left: 15px;
  top: 5px;
  display: block;
  width: 16px;
  height: 0;
  -webkit-box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
  box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
}

/* line 979, ../sass/styles.scss */
.top-bar-section li a.header-cat-link {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 45px;
}

/* line 985, ../sass/styles.scss */
.mobile-search {
  margin: 0;
  height: 44px;
  overflow: hidden;
  border-bottom: 1px solid #8c8c8c;
  background: white;
}
/* line 992, ../sass/styles.scss */
.mobile-search.hide {
  display: none;
}
/* line 996, ../sass/styles.scss */
.mobile-search form {
  margin: 0;
}
/* line 998, ../sass/styles.scss */
.mobile-search .button {
  background: #2c6289;
  border: 1px solid #2c6289;
  width: 100%;
}
/* line 1004, ../sass/styles.scss */
.mobile-search input[type=search] {
  background: #ededed;
  border-radius: 0;
  border: 0;
  padding: 0.9375em 0.9375em;
  height: 44px;
}

/* line 1013, ../sass/styles.scss */
.location-form {
  position: relative;
}
/* line 1016, ../sass/styles.scss */
.location-form .location-suggestions {
  position: absolute;
  z-index: 2000;
  top: 44px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
/* line 1023, ../sass/styles.scss */
.location-form .location-suggestions h3 {
  background: #2c6289;
  color: white;
  margin: 0;
  padding: 0.75em;
}
/* line 1029, ../sass/styles.scss */
.location-form .location-suggestions ul {
  background: #b3cada;
  max-height: 250px;
  overflow: auto;
  display: block;
  clear: both;
}
/* line 1036, ../sass/styles.scss */
.location-form .location-suggestions li {
  float: none !important;
}
/* line 1039, ../sass/styles.scss */
.location-form .location-suggestions li a {
  background: #b3cada;
  font-weight: 300;
  color: #1c3755;
}
/* line 1042, ../sass/styles.scss */
.location-form .location-suggestions li a:hover {
  background: #b3181d;
  color: white;
}

/* line 1048, ../sass/styles.scss */
.top-bar-section .location-autocomplete {
  margin: -14px 0 0 0;
  padding: 0;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  background: white;
  position: absolute;
  overflow: visible;
  width: 100%;
}
/* line 1060, ../sass/styles.scss */
.top-bar-section .location-autocomplete ul li {
  float: none !important;
}
/* line 1064, ../sass/styles.scss */
.top-bar-section .location-autocomplete a {
  background: white !important;
  color: #3d3d3d;
}
/* line 1068, ../sass/styles.scss */
.top-bar-section .location-autocomplete a:hover {
  background: #b3cada !important;
}
/* line 1072, ../sass/styles.scss */
.top-bar-section .location-autocomplete .message {
  padding: 0 0.75em 1.5em 0.75em;
  width: 200%;
  margin-bottom: -0.875em;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
/* line 1080, ../sass/styles.scss */
.top-bar-section .location-autocomplete .message.error h3 {
  background: #b3181d;
  color: white;
  margin: 0 -0.875em;
  margin-bottom: 0.875em;
  padding: 0.75em;
}
/* line 1087, ../sass/styles.scss */
.top-bar-section .location-autocomplete .message.error p {
  margin: 0;
  padding: 0;
}

/* line 1092, ../sass/styles.scss */
.top-bar-section ul li > a.link-map-view {
  background: #fff;
  color: black;
  border-left: 1px solid #eeeeee;
}
/* line 1097, ../sass/styles.scss */
.top-bar-section ul li > a.link-map-view:hover {
  background: #b3cada;
}

/* line 1102, ../sass/styles.scss */
.loc-icon {
  margin-left: 10px;
}

/* FOOTER */
/* line 1106, ../sass/styles.scss */
#main-footer {
  background: white;
  padding: 1.5em 0;
}
/* line 1110, ../sass/styles.scss */
#main-footer h3 {
  font-size: 1em;
}
/* line 1114, ../sass/styles.scss */
#main-footer ul {
  list-style-type: none;
}
/* line 1118, ../sass/styles.scss */
#main-footer a {
  color: black;
  font-size: 0.813em;
}

/* line 1124, ../sass/styles.scss */
.footer-links-list, .footer-links {
  background: #ededed;
  padding-top: 0.875em;
  font-size: 0.75em;
  font-family: "Montserrat", sans-serif, helvetica;
  text-transform: uppercase;
}
/* line 1131, ../sass/styles.scss */
.footer-links-list li, .footer-links li {
  margin-right: 1.5em;
}
/* line 1132, ../sass/styles.scss */
.footer-links-list a, .footer-links a {
  color: #3d3d3d;
}
/* line 1133, ../sass/styles.scss */
.footer-links-list a:hover, .footer-links a:hover {
  color: #8c8c8c;
}

/* line 1136, ../sass/styles.scss */
.footer-links {
  background: #2c6289;
  color: #eeeeee;
}
/* line 1139, ../sass/styles.scss */
.footer-links a {
  color: #b3cada;
}
/* line 1140, ../sass/styles.scss */
.footer-links a:hover {
  color: white;
}

/* line 1143, ../sass/styles.scss */
.list-cities {
  background: #b3cada;
}
/* line 1146, ../sass/styles.scss */
.list-cities h3 {
  color: #2c6289;
}
/* line 1150, ../sass/styles.scss */
.list-cities.footer-links-list {
  background: #b3cada;
}
/* line 1152, ../sass/styles.scss */
.list-cities.footer-links-list .inline-list {
  margin-bottom: 0.875em;
}
/* line 1153, ../sass/styles.scss */
.list-cities.footer-links-list h3 {
  margin-top: 4px;
}
/* line 1156, ../sass/styles.scss */
.list-cities [class*="block-grid-"] li {
  margin: 0;
}
/* line 1158, ../sass/styles.scss */
.list-cities a {
  color: #3d3d3d;
}
/* line 1160, ../sass/styles.scss */
.list-cities.list-many {
  padding: 1.5em 0;
}
/* line 1163, ../sass/styles.scss */
.list-cities.list-many h3 {
  margin-bottom: 1.5em;
}

/* SIDEBAR */
/* line 1172, ../sass/styles.scss */
.sidebar section {
  margin-bottom: 1.5em;
}
/* line 1174, ../sass/styles.scss */
.sidebar section > ul {
  margin: 0;
}
/* line 1179, ../sass/styles.scss */
.sidebar .list-flip-related {
  height: 230px;
  overflow: auto;
}
/* line 1184, ../sass/styles.scss */
.sidebar.flipbook .sidebar-header {
  font-size: 0.875em;
  padding: 0.375em 0.9375em !important;
  background: #2c6289;
  color: white;
  border-radius: 0;
}
/* line 1191, ../sass/styles.scss */
.sidebar.flipbook .sidebar-header .arrow {
  padding-right: 0.9375em;
  margin-top: 5px;
}
/* line 1196, ../sass/styles.scss */
.sidebar.flipbook .sidebar-header .arrow:after {
  background: #ededed;
  border-top-color: #1c3755 !important;
}
/* line 1202, ../sass/styles.scss */
.sidebar h2 {
  font-size: 1em;
}
/* line 1206, ../sass/styles.scss */
.sidebar a .cat-info {
  color: black;
  font-size: 1.2em;
  margin-bottom: 1.5em;
}
@media (min-width: 20em) and (max-width: 61.1875em) {
  /* line 1212, ../sass/styles.scss */
  .sidebar .list-hot {
    max-height: 510px;
    margin-bottom: 1.5em;
    overflow: auto;
  }
}
/* line 1220, ../sass/styles.scss */
.sidebar .list-shops {
  padding: 15px 0;
  margin-bottom: 24px;
}
@media screen and (min-width: 61.1875em) {
  /* line 1224, ../sass/styles.scss */
  .sidebar .list-shops li {
    height: 84px;
    overflow: hidden;
  }
}
@media screen and (min-width: 20em) and (max-width: 60.1875em) {
  /* line 1224, ../sass/styles.scss */
  .sidebar .list-shops li {
    width: 100%;
  }
}
/* line 1236, ../sass/styles.scss */
.sidebar .list-shops img {
  display: block;
  margin: 12px auto;
  max-height: 78px;
}
/* line 1244, ../sass/styles.scss */
.sidebar .cat-thumb {
  margin: 0;
  overflow: auto;
  border-top: 2px solid #8c8c8c;
  font-size: 0.6875em;
}
/* line 1250, ../sass/styles.scss */
.sidebar .cat-thumb a {
  overflow: auto;
}
/* line 1253, ../sass/styles.scss */
.sidebar .cat-thumb a:hover .cat-info {
  background: transparent;
}
/* line 1257, ../sass/styles.scss */
.sidebar .cat-thumb a:hover {
  display: block;
  background: #ededed;
}
/* line 1260, ../sass/styles.scss */
.sidebar .cat-thumb .thumb {
  width: 20%;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
}
@media (min-width: 47.9375em) and (max-width: 61.1875em) {
  /* line 1260, ../sass/styles.scss */
  .sidebar .cat-thumb .thumb {
    width: 100%;
    float: none;
    display: block;
  }
}
/* line 1273, ../sass/styles.scss */
.sidebar .cat-info {
  line-height: 1.4;
}
/* line 1275, ../sass/styles.scss */
.sidebar .cat-info h4 {
  font-size: 1.5em;
  margin: 0.75em 0 0 0;
}
/* line 1278, ../sass/styles.scss */
.sidebar [class*="block-grid-"] {
  margin: 0;
}
@media (min-width: 47.9375em) and (max-width: 61.1875em) {
  /* line 1282, ../sass/styles.scss */
  .sidebar span.arrow {
    float: none;
    margin: 0.75em auto 1.5em auto;
    display: block;
    width: 100%;
  }
}
/* line 1291, ../sass/styles.scss */
.sidebar .promos-available {
  font-family: "Montserrat", sans-serif, helvetica;
  font-size: 0.75em;
  color: #b3cada;
}
/* line 1297, ../sass/styles.scss */
.sidebar .nearby-shops {
  height: 300px;
  background: white;
}
/* line 1301, ../sass/styles.scss */
.sidebar .nearby-shops .item {
  text-align: center;
  margin: 0.75em auto;
  float: none;
  border-bottom: 1px solid #ededed;
}
/* line 1307, ../sass/styles.scss */
.sidebar .nearby-shops .thumb {
  padding: 0.75em;
}
/* line 1308, ../sass/styles.scss */
.sidebar .nearby-shops img {
  max-width: 100%;
  width: auto;
  max-height: 80px;
  margin-bottom: 0.75em;
}

/* line 1314, ../sass/styles.scss */
.panel.callout.list-cat a {
  color: #fff;
}
/* line 1317, ../sass/styles.scss */
.panel.callout.list-cat li {
  list-style-type: none;
}

/* line 1323, ../sass/styles.scss */
.list-links {
  background: none;
  width: 100%;
  margin-bottom: 1.5em;
}
/* line 1328, ../sass/styles.scss */
.list-links > ul {
  background: #fff;
}
/* line 1331, ../sass/styles.scss */
.list-links > ul > li {
  list-style-type: none;
  padding: 5px 15px;
  border-bottom: 1px solid #ededed;
}
/* line 1336, ../sass/styles.scss */
.list-links a {
  color: #8c8c8c;
  display: block;
}
/* line 1340, ../sass/styles.scss */
.list-links a:hover {
  font-weight: bold;
  color: #b3181d;
}
/* line 1345, ../sass/styles.scss */
.list-links .active {
  position: relative;
  background: #b3181d;
}
/* line 1349, ../sass/styles.scss */
.list-links .active a {
  color: white;
}
/* line 1351, ../sass/styles.scss */
.list-links .active:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 1361, ../sass/styles.scss */
.list-links .active:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #b3181d;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}
/* line 1370, ../sass/styles.scss */
.list-links.panel-links li {
  background: #ededed;
  border-color: #8c8c8c;
  border-left: 5px solid #8c8c8c;
}
/* line 1375, ../sass/styles.scss */
.list-links.panel-links li:hover {
  background: white;
}
/* line 1376, ../sass/styles.scss */
.list-links.panel-links a {
  color: black;
}
/* line 1379, ../sass/styles.scss */
.list-links.flipbook li {
  font-size: 0.75em;
  padding: 0.3125em 0.9375em;
}
/* line 1383, ../sass/styles.scss */
.list-links .trigger {
  padding: 0 !important;
}
/* line 1385, ../sass/styles.scss */
.list-links .trigger a {
  display: block;
  height: 35px;
}
/* line 1389, ../sass/styles.scss */
.list-links .trigger img {
  margin-top: 6px;
}

/* line 1395, ../sass/styles.scss */
.more-links {
  margin-top: -1.25em;
}

/* line 1399, ../sass/styles.scss */
.trigger-more-links, .trigger-close-menu {
  font-size: 0;
  text-align: center;
  position: relative;
  margin: -0.3125em -0.9375em !important;
}
/* line 1405, ../sass/styles.scss */
.trigger-more-links:hover, .trigger-close-menu:hover {
  background: #eeeeee;
}

/* ICONS */
/* line 1413, ../sass/styles.scss */
.header-establishments {
  background: url("../img/icon-sidebar-shops.svg") 15px 10px no-repeat #b3cada;
  padding-left: 60px;
}

/* line 1418, ../sass/styles.scss */
.header-top25 {
  background: url("../img/icon-sidebar-top25.svg") 15px 10px no-repeat #b3cada;
  padding-left: 60px;
}

/* line 1423, ../sass/styles.scss */
.header-nearby-shops {
  background: url("../img/icon-sidebar-nearby.svg") 15px 10px no-repeat #b3cada;
  padding-left: 60px;
}

/* line 1428, ../sass/styles.scss */
.tab-stores a {
  display: block;
  background: url("../img/icon-tab-stores.svg") 15px 15px no-repeat !important;
  padding-left: 40px !important;
}

/* line 1434, ../sass/styles.scss */
.tab-promos a {
  display: block;
  background: url("../img/icon-tab-promos.svg") 15px 15px no-repeat !important;
  padding-left: 40px !important;
}

/* line 1441, ../sass/styles.scss */
#seo-pages-links .seo-towns a {
  display: block;
  background: url("../img/icon-footer-towncities.svg") 15px 0 no-repeat !important;
  padding-left: 40px !important;
}
/* line 1446, ../sass/styles.scss */
#seo-pages-links .seo-shops a {
  display: block;
  background: url("../img/icon-footer-shops.svg") 15px -1px no-repeat !important;
  padding-left: 40px !important;
}

/* line 1455, ../sass/styles.scss */
.home-featured .header-tabs a.nearby-promos {
  display: block;
  background: url("../img/icon-feature-nearby.svg") 15px 8px no-repeat #1c3755 !important;
  padding-left: 55px !important;
  color: white;
}
/* line 1461, ../sass/styles.scss */
.home-featured .header-tabs a.popular-promos {
  display: block;
  background: url("../img/icon-feature-popular.svg") 15px 8px no-repeat !important;
  padding-left: 55px !important;
  color: white;
}
/* line 1467, ../sass/styles.scss */
.home-featured .header-tabs a.popular-promos:hover {
  background-color: #b3cada !important;
  color: #1c3755;
}

/* NAVS */
/* line 1476, ../sass/styles.scss */
.arrow-down, .arrow-left {
  position: relative;
  background: white;
}

/* line 1480, ../sass/styles.scss */
.arrow-down:after, .arrow-left:after, .arrow-right:after {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* line 1490, ../sass/styles.scss */
.arrow-down:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: white;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}

/* line 1498, ../sass/styles.scss */
.arrow-left:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: white;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}

/* line 1505, ../sass/styles.scss */
.arrow-right:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: white;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}

/* HOME */
/* line 1515, ../sass/styles.scss */
#main-header .top-bar {
  margin: 0;
  position: relative;
  z-index: 10;
}

/* line 1524, ../sass/styles.scss */
.home-intro {
  margin-top: 44px;
  font-size: 0.813em;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 24px;
  position: relative;
  z-index: 10;
  font-weight: 300;
  font-family: "Montserrat", sans-serif, helvetica;
}
/* line 1535, ../sass/styles.scss */
.home-intro .copy {
  padding: 0 15px;
  border-right: 1px solid #eeeeee;
}
/* line 1538, ../sass/styles.scss */
.home-intro .copy label {
  height: 45px;
  line-height: 30px;
  font-size: 0.6875em;
}
/* line 1545, ../sass/styles.scss */
.home-intro label {
  margin: 0 12px 0 0;
  float: right;
}
/* line 1547, ../sass/styles.scss */
.home-intro li {
  list-style-type: none;
}
/* line 1552, ../sass/styles.scss */
.home-intro input[type=text] {
  background: #ededed;
  border: 0;
  box-shadow: none;
  border-bottom: 4px solid #1c3755;
  margin-top: 0;
  line-height: 46px;
  height: 46px;
}

/* line 1563, ../sass/styles.scss */
.main-row {
  width: 100%;
  max-width: 1400px;
}
/* line 1571, ../sass/styles.scss */
.main-row h3 {
  font-size: 0.813em;
  margin-top: 8px;
  text-transform: uppercase;
}

/* line 1585, ../sass/styles.scss */
.featured-promo-thumb {
  height: 200px;
}

/* line 1589, ../sass/styles.scss */
.section-links {
  border: 1px solid #ededed;
  margin-bottom: 24px;
  padding: 6px 12px 12px 12px;
  font-size: 0.813em;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
/* line 1601, ../sass/styles.scss */
.section-links ul li {
  list-style-type: none;
}
/* line 1605, ../sass/styles.scss */
.section-links a {
  color: #1c3755;
}
/* line 1609, ../sass/styles.scss */
.section-links h2 {
  margin: 0 0 12px 0;
  font-size: 1.75em;
}
/* line 1615, ../sass/styles.scss */
.section-links .large-block-grid-4 ul {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 20em) and (max-width: 47.9375em) {
  /* line 1589, ../sass/styles.scss */
  .section-links {
    display: none;
  }
}

/* line 1623, ../sass/styles.scss */
.section {
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
/* line 1627, ../sass/styles.scss */
.section a:hover {
  text-decoration: underline;
}
/* line 1631, ../sass/styles.scss */
.section.main-content {
  background: none;
}
/* line 1635, ../sass/styles.scss */
.section.results {
  margin-bottom: 1.5em;
}

/* line 1639, ../sass/styles.scss */
.section-container, .section-container.auto {
  margin: 0;
}

/* line 1641, ../sass/styles.scss */
.section-container.tabs section .content, .section-container.tabs .section .content {
  z-index: 1 !important;
}

/* line 1645, ../sass/styles.scss */
.location-ads {
  z-index: 2;
  margin-top: 50px;
}

/* line 1652, ../sass/styles.scss */
.home-featured.home-content {
  position: absolute;
  top: -5px;
  max-width: none;
}
/* line 1658, ../sass/styles.scss */
.home-featured.home-content .row .columns {
  padding-right: 0;
}
/* line 1663, ../sass/styles.scss */
.home-featured .row {
  margin-right: 0 !important;
}

/* line 1669, ../sass/styles.scss */
.header-tabs {
  background: #2c6289;
  width: 100%;
  display: block;
  overflow: auto;
  font-family: "Montserrat", sans-serif, helvetica;
  font-size: 0.75em;
}
/* line 1677, ../sass/styles.scss */
.header-tabs a {
  color: white;
  display: block;
  padding: 0.75em;
}
/* line 1682, ../sass/styles.scss */
.header-tabs a:hover {
  background: #b3cada;
  color: #2c6289;
}
/* line 1688, ../sass/styles.scss */
.header-tabs ul {
  list-style-type: none;
}
/* line 1692, ../sass/styles.scss */
.header-tabs li {
  float: left;
}
/* line 1695, ../sass/styles.scss */
.header-tabs .active {
  background: #1c3755;
}

/* line 1700, ../sass/styles.scss */
.header-tabs, .all-category-links, .mobile-search {
  position: relative;
  z-index: 3;
}

@media (min-width: 20em) and (max-width: 30em) {
  /* line 1706, ../sass/styles.scss */
  .home-featured {
    height: auto;
    position: relative;
  }

  /* line 1710, ../sass/styles.scss */
  .location-ads {
    position: relative;
  }

  /* line 1713, ../sass/styles.scss */
  .promos-near {
    position: relative;
  }
}
/* line 1718, ../sass/styles.scss */
.home-preview {
  position: relative;
  background: #ededed;
  margin: 0;
  z-index: 2;
  padding: 0.75em 0;
  top: 570px;
}
/* line 1726, ../sass/styles.scss */
.home-preview.page {
  top: 0 !important;
}
/* line 1730, ../sass/styles.scss */
.home-preview.home-content {
  padding: 3em 0;
}
/* line 1734, ../sass/styles.scss */
.home-preview .sub-header {
  display: block;
  clear: both;
  height: 34px;
}
/* line 1738, ../sass/styles.scss */
.home-preview .desc {
  display: block;
  float: left;
}
/* line 1739, ../sass/styles.scss */
.home-preview .current-category {
  display: block;
  background: #2c6289;
  color: white;
  padding: 0.25em 1em;
  font-weight: 300;
  margin: -0.25em -1em;
  border-bottom: 6px solid #1c3755;
}
/* line 1750, ../sass/styles.scss */
.home-preview .cat-thumb h4 {
  font-size: 1em;
}
/* line 1753, ../sass/styles.scss */
.home-preview .cat-info {
  background: #f9f9f9;
}
@media (min-width: 20em) and (max-width: 47.9375em) {
  /* line 1758, ../sass/styles.scss */
  .home-preview .featured-grid a {
    border-top: 3px solid #3d3d3d;
  }
}
@media only screen and (min-width: 20em) and (max-width: 75em) {
  /* line 1764, ../sass/styles.scss */
  .home-preview #sidebar-establishments {
    font-size: 0.8125em !important;
  }
}

/* line 1771, ../sass/styles.scss */
.home-new {
  /* background: #fff; */
  padding: 1.5em 0;
  margin: 0 0 1.5em 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

@media only screen and (min-width: 61.1875em) {
  /* line 1780, ../sass/styles.scss */
  .home-content .results-grid > li.item, .home-content .featured-grid > li.item {
    width: 20%;
  }
}

/* line 1787, ../sass/styles.scss */
#map {
  position: absolute;
  width: 100%;
  height: 598px;
  top: 40px;
  left: 0;
  z-index: 1;
}
/* line 1795, ../sass/styles.scss */
#map.map-page {
  position: relative;
  top: -1.5em;
}
/* line 1800, ../sass/styles.scss */
#map img {
  max-width: none;
}
/* line 1804, ../sass/styles.scss */
#map .map-catalog {
  overflow: hidden;
}
/* line 1807, ../sass/styles.scss */
#map div h3 {
  font-size: 1em;
}

/* line 1812, ../sass/styles.scss */
.map-catalog {
  width: 150px;
  margin: 0;
}
/* line 1816, ../sass/styles.scss */
.map-catalog img {
  margin-top: 0.75em;
}

/* line 1822, ../sass/styles.scss */
.loc-search {
  z-index: 2;
}
/* line 1825, ../sass/styles.scss */
.loc-search h2 {
  font-size: 1.25em;
}
/* line 1827, ../sass/styles.scss */
.loc-search.message {
  width: 50%;
  background: white;
  margin: 0 2.5em !important;
  padding: 1.25em;
  border-top: 4px solid #b3181d;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}
/* line 1838, ../sass/styles.scss */
.loc-search .inline-list a {
  display: block;
  background: #b3cada;
  border-radius: 6px;
  padding: 0.875em;
  margin-bottom: 0.875em;
  color: #1c3755;
}
/* line 1846, ../sass/styles.scss */
.loc-search .inline-list a:hover {
  background: #1c3755;
  color: white;
}

/* line 1852, ../sass/styles.scss */
.map-container {
  display: block;
  height: auto;
  margin-bottom: 600px;
}

/* CATEGORY PAGE */
/* line 1860, ../sass/styles.scss */
.category-page {
  margin-bottom: 24px;
}

/* OTHER PAGES */
/* line 1866, ../sass/styles.scss */
.branch-details {
  padding: 1.25em;
  margin-bottom: 1.5em;
}

/* line 1869, ../sass/styles.scss */
.list-promotions h2 {
  font-size: 1.125em;
}

/* line 1874, ../sass/styles.scss */
.store-link {
  display: block;
  margin-bottom: 1.5em;
}
/* line 1877, ../sass/styles.scss */
.store-link img {
  max-width: 180px;
}
/* line 1879, ../sass/styles.scss */
.store-link.flipbook {
  margin: 0.75em 0;
}

/* ERROR 404 */
/* line 1886, ../sass/styles.scss */
.error-page h1 {
  font-size: 4.5em;
  margin-bottom: 0.2em;
}
/* line 1894, ../sass/styles.scss */
.error-page .inline-list a {
  background: #b3cada;
  border-radius: 6px;
  padding: 0.75em;
  margin-bottom: 0.75em;
}
/* line 1900, ../sass/styles.scss */
.error-page .inline-list a:hover {
  background: #b3181d;
  color: white;
}

/* LOADER */
/* line 1909, ../sass/styles.scss */
.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
}
/* line 1917, ../sass/styles.scss */
.loader-container .loader {
  padding: 1.5em;
  color: white;
  margin: auto;
  margin-top: 50%;
  top: -40px;
  text-align: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif, helvetica;
}
/* line 1928, ../sass/styles.scss */
.loader-container img {
  border-radius: 50%;
}
/* line 1935, ../sass/styles.scss */
.loader-container.flipbook img {
  width: 30px;
  border: 0;
}

/* SINGLE PAGE LIGHTBOX */
/* line 1945, ../sass/styles.scss */
.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 25;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
/* line 1954, ../sass/styles.scss */
.lightbox .thumb {
  padding: 4%;
}
/* line 1958, ../sass/styles.scss */
.lightbox h2, .lightbox h3 {
  margin: 0;
  color: white;
  font-weight: normal;
}
/* line 1964, ../sass/styles.scss */
.lightbox a {
  color: #eeeeee;
}
/* line 1966, ../sass/styles.scss */
.lightbox .info {
  padding: 2% 4%;
  border-bottom: 4px solid #3d3d3d;
  font-size: 0.75em;
}
/* line 1972, ../sass/styles.scss */
.lightbox .close-lightbox {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.9375em;
  text-transform: uppercase;
  background: black;
  font-family: "Montserrat", sans-serif, helvetica;
  font-weight: 700;
}
/* line 1981, ../sass/styles.scss */
.lightbox .close-lightbox:hover {
  background: #9b1111;
}

@media screen and (min-width: 20em) and (max-width: 30em) {
  /* line 1988, ../sass/styles.scss */
  .location-ads {
    margin: 0;
  }

  /* line 1991, ../sass/styles.scss */
  .home-featured .row {
    margin: 0;
  }
}
@media screen and (min-width: 20em) and (max-width: 47.9375em) {
  /* line 1994, ../sass/styles.scss */
  .top-bar .name h1 a {
    width: 100%;
  }

  /* line 1997, ../sass/styles.scss */
  #sidebar-establishments {
    display: none;
  }

  /* line 2002, ../sass/styles.scss */
  .home-intro .top-bar-section .small-3 {
    width: 10%;
  }
  /* line 2005, ../sass/styles.scss */
  .home-intro .top-bar-section .small-9 {
    width: 90%;
    float: left;
  }
  /* line 2010, ../sass/styles.scss */
  .home-intro .top-bar-section .loc-icon {
    margin-left: 0;
    padding-top: 6px;
  }
  /* line 2014, ../sass/styles.scss */
  .home-intro .top-bar-section ul {
    width: 70% !important;
    float: left;
  }
  /* line 2015, ../sass/styles.scss */
  .home-intro .top-bar-section ul.map-view {
    float: left;
    width: 27% !important;
  }
  /* line 2019, ../sass/styles.scss */
  .home-intro .top-bar-section ul.map-view li a.link-map-view {
    padding: 3px 0;
  }
  /* line 2023, ../sass/styles.scss */
  .home-intro .top-bar-section ul.map-view img {
    margin: 4px 12px 0 0;
    height: 80%;
  }
  /* line 2026, ../sass/styles.scss */
  .home-intro .top-bar-section .location-suggestions ul {
    width: 100% !important;
  }
  /* line 2029, ../sass/styles.scss */
  .home-intro .loc-suggestions-trigger {
    /* padding: 3px 0 0 0;  */
  }
  /* line 2031, ../sass/styles.scss */
  .home-intro .loc-suggestions-trigger span {
    display: none;
  }

  /* line 2034, ../sass/styles.scss */
  .mobile-shop-info {
    padding-top: 1.25em;
  }

  /* FLIPBOOK */
  /* line 2039, ../sass/styles.scss */
  .flipbook.sidebar {
    display: none;
  }
}
@media screen and (min-width: 48.9375em) {
  /* FLIPBOOK */
  /* line 2045, ../sass/styles.scss */
  .flipbook.sidebar {
    display: block;
  }
}
@media screen and (min-width: 30em) and (max-width: 64em) {
  /* line 2049, ../sass/styles.scss */
  body {
    font-size: 0.875em;
  }

  /* line 2053, ../sass/styles.scss */
  .mobile-shop-info {
    padding-top: 2.25em;
  }
  /* line 2055, ../sass/styles.scss */
  .mobile-shop-info .store-link {
    width: 50%;
    float: left;
  }
  /* line 2059, ../sass/styles.scss */
  .mobile-shop-info .store-link img {
    width: 100%;
    padding-right: 1.5em;
  }
  /* line 2061, ../sass/styles.scss */
  .mobile-shop-info p {
    display: block;
    width: 50%;
    float: left;
  }

  /* line 2069, ../sass/styles.scss */
  .branch-details .row .small-12.large-4, .branch-details .row .small-12.large-8 {
    width: 50%;
  }
  /* line 2074, ../sass/styles.scss */
  .branch-details .row .small-12.large-8 .large-block-grid-2 li {
    width: 100%;
  }
}
@media screen and (min-width: 61.1875em) {
  /* line 2084, ../sass/styles.scss */
  .home-preview .sub-header .current-category {
    display: block;
    float: right;
  }
}
@media screen and (min-width: 75em) {
  /* line 2094, ../sass/styles.scss */
  .establishments .results-grid .store-link img {
    max-width: 250px;
  }
}
