@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic|Montserrat:400,700);
/* line 4, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 12, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
}

/* line 25, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_global.scss */
a:focus {
  outline: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_global.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 33, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_global.scss */
object,
embed {
  height: 100%;
}

/* line 34, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 40, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 45, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 46, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 47, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_global.scss */
.text-left {
  text-align: left !important;
}

/* line 48, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_global.scss */
.text-right {
  text-align: right !important;
}

/* line 49, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_global.scss */
.text-center {
  text-align: center !important;
}

/* line 50, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_global.scss */
.text-justify {
  text-align: justify !important;
}

/* line 51, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 57, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_global.scss */
img {
  display: inline-block;
}

/* line 67, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 70, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* Side Nav */
/* line 65, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_sub-nav.scss */
.sub-nav {
  display: block;
  width: auto;
  overflow: hidden;
  margin: -0.25em 0 1.125em;
  padding-top: 0.25em;
  margin-right: 0;
  margin-left: -0.5625em;
}
/* line 37, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_sub-nav.scss */
.sub-nav dt,
.sub-nav dd {
  float: left;
  display: inline;
  margin-left: 0.5625em;
  margin-bottom: 0.625em;
  font-weight: normal;
  font-size: 0.875em;
}
/* line 45, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_sub-nav.scss */
.sub-nav dt a,
.sub-nav dd a {
  color: #999999;
  text-decoration: none;
}
/* line 49, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/zurb-foundation-4.1.1/scss/foundation/components/_sub-nav.scss */
.sub-nav dt.active a,
.sub-nav dd.active a {
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  font-weight: bold;
  background: #2ba6cb;
  padding: 0.1875em 0.5625em;
  cursor: default;
  color: white;
}

/* MEDIA QUERIES */
/* FONTS */
/* COLORS */
/* line 38, ../sass/styles.scss */
a:link, a:active, a:visited {
  color: #e5886e;
}

/* line 42, ../sass/styles.scss */
a.button {
  color: white;
  text-decoration: none !important;
}

/* FORMS */
/* line 48, ../sass/styles.scss */
.button {
  background: #db4e2e;
  border: 1px solid #bd4327;
}
/* line 52, ../sass/styles.scss */
.button:hover {
  background: black;
  border-color: black;
}

/* ANIMATIONS */
/* BORDERS */
/* line 61, ../sass/styles.scss */
.top-bar-section > ul > .divider {
  border-left: 1px solid #86a0be;
  border-right: 1px solid #1c3755;
}

/* TYPOGRAPHY */
/* line 68, ../sass/styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif, helvetica;
}

/* line 72, ../sass/styles.scss */
.main-header, .sidebar-header {
  margin: 0;
  padding: 15px;
  color: white;
  background: #4d84ab;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25em;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

/* line 89, ../sass/styles.scss */
.sidebar-header {
  background: #bbd3e4;
  color: #365f91;
}

/* line 94, ../sass/styles.scss */
.label {
  background: #bbd3e4;
  color: black;
  font-weight: 700;
}

/* CAROUSELS */
/* line 102, ../sass/styles.scss */
.list_carousel {
  width: 100%;
}
/* line 105, ../sass/styles.scss */
.list_carousel .orbit-prev, .list_carousel .orbit-next {
  background: #bd4327;
}
/* line 108, ../sass/styles.scss */
.list_carousel .orbit-prev > span, .list_carousel .orbit-next > span {
  border-width: 10px;
}

/* line 111, ../sass/styles.scss */
.list_carousel ul {
  margin: 0;
  padding: 0 100px;
  list-style: none;
  display: block;
}

/* line 117, ../sass/styles.scss */
.list_carousel li {
  padding: 0;
  margin: 6px 12px;
  display: block;
  float: left;
  text-align: center;
  overflow: visible;
}

/* line 125, ../sass/styles.scss */
.list_carousel.responsive {
  width: auto;
  margin-left: 0;
}

/* line 129, ../sass/styles.scss */
.clearfix {
  float: none;
  clear: both;
}

/* line 137, ../sass/styles.scss */
.gallery-carousel a.item {
  display: block;
  float: left;
  color: black;
  line-height: 1.4;
  margin: 0 0.75em;
}
/* line 144, ../sass/styles.scss */
.gallery-carousel img {
  width: 150px;
  margin: 0.75em auto;
}
/* line 148, ../sass/styles.scss */
.gallery-carousel .cat-info {
  font-size: 0.875em;
  padding-bottom: 0.75em;
}
/* line 152, ../sass/styles.scss */
.gallery-carousel .title {
  font-weight: 700;
}

/* GRIDS */
/* line 158, ../sass/styles.scss */
.results-grid li.item {
  width: 33.3333%;
  display: block;
  float: none;
}
@media only screen and (min-width: 320px) and (max-width: 766px) {
  /* line 158, ../sass/styles.scss */
  .results-grid li.item {
    width: 100%;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1200px) {
  /* line 158, ../sass/styles.scss */
  .results-grid li.item {
    width: 50%;
  }
}

/* line 174, ../sass/styles.scss */
.cat-thumb {
  background: #fff;
  display: block;
  margin-bottom: 12px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  border: 2px solid #fff;
}
/* line 187, ../sass/styles.scss */
.cat-thumb:hover {
  border: 2px solid #000;
}
/* line 191, ../sass/styles.scss */
.cat-thumb a {
  display: block;
  width: 100%;
}
/* line 199, ../sass/styles.scss */
.cat-thumb .thumb {
  display: block;
  height: 250px;
  overflow: hidden;
}
@media only screen and (min-width: 767px) and (max-width: 979px) {
  /* line 199, ../sass/styles.scss */
  .cat-thumb .thumb {
    height: 180px;
  }
}
/* line 209, ../sass/styles.scss */
.cat-thumb img {
  width: 100%;
}
/* line 213, ../sass/styles.scss */
.cat-thumb .cat-info {
  padding: 12px;
  font-size: 0.813em;
  line-height: 1.4;
  -moz-transition: ease-in-out all 0.5s;
  -webkit-transition: ease-in-out all 0.5s;
  -o-transition: ease-in-out all 0.5s;
  transition: ease-in-out all 0.5s;
}
/* line 223, ../sass/styles.scss */
.cat-thumb h4 {
  color: #000;
}

/* line 228, ../sass/styles.scss */
.results {
  margin-bottom: 24px;
}
/* line 231, ../sass/styles.scss */
.results .item {
  margin: 24px 0 0 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #909090;
}
/* line 237, ../sass/styles.scss */
.results h2 {
  font-size: 1.25em;
}
/* line 241, ../sass/styles.scss */
.results .pagination {
  margin: 15px auto;
  text-align: center;
}
/* line 246, ../sass/styles.scss */
.results .store-link {
  display: block;
  margin: 0 0 24px 0;
}

/* line 253, ../sass/styles.scss */
.establishments .map-link {
  color: black;
  font-weight: 700;
  padding: 0.75em;
  display: block;
  border: 2px solid black;
}
/* line 260, ../sass/styles.scss */
.establishments .map-link:hover {
  text-decoration: none !important;
  color: #db4e2e;
  border-color: #db4e2e;
}
/* line 267, ../sass/styles.scss */
.establishments .label {
  background: none;
  color: black;
  margin: 0;
  font-weight: 700;
  padding: 0 0.375em 0 0 !important;
}

/* GENERAL */
/* line 278, ../sass/styles.scss */
body {
  font-family: "Noto Sans", sans-serif, helvetica;
  background: #edf5f6;
}

/* line 283, ../sass/styles.scss */
.breadcrumbs {
  padding: 0 0.875em;
  background: none;
  border: 0;
  margin-top: -12px;
}
/* line 289, ../sass/styles.scss */
.breadcrumbs li a {
  color: #4d84ab;
}

/* line 295, ../sass/styles.scss */
.primary-content h2 {
  font-size: 1.5em;
}

/* line 301, ../sass/styles.scss */
.sub-content h3 {
  font-size: 0.75em;
  color: #4d84ab;
}

/* HEADER */
/* line 309, ../sass/styles.scss */
.top-bar {
  background: #175b8c;
}

/* line 312, ../sass/styles.scss */
.top-bar-section ul li > a, .top-bar-section li a:not(.button), .top-bar-section .has-form {
  background: #175b8c;
}

/* line 316, ../sass/styles.scss */
#main-header .name {
  background: #db4e2e;
}
/* line 318, ../sass/styles.scss */
#main-header .name h1 {
  width: 123px;
  height: 60px;
  overflow: hidden;
}
/* line 323, ../sass/styles.scss */
#main-header .name h1 a {
  margin: 6px 15px;
  display: block;
  background: url("../img/save22-logo.png") 0 0 no-repeat;
  background-size: 93px 30px;
  width: 100%;
  height: 100%;
  line-height: 0%;
  font-size: 0;
  color: transparent;
  overflow: hidden;
}

/* line 336, ../sass/styles.scss */
#main-header label {
  color: #d1e0e2;
  font-weight: 300;
}

/* line 341, ../sass/styles.scss */
.breadcrumbs li:before {
  content: "›";
}

/* line 345, ../sass/styles.scss */
.location-search {
  background: #fff !important;
}

/* FOOTER */
/* line 349, ../sass/styles.scss */
#main-footer {
  background: white;
  padding-top: 24px;
}
/* line 353, ../sass/styles.scss */
#main-footer h3 {
  font-size: 1em;
}
/* line 357, ../sass/styles.scss */
#main-footer ul {
  list-style-type: none;
}
/* line 361, ../sass/styles.scss */
#main-footer a {
  color: black;
  font-size: 0.813em;
}

/* SIDEBAR */
/* line 370, ../sass/styles.scss */
.sidebar section > ul {
  margin: 0;
}
/* line 374, ../sass/styles.scss */
.sidebar h2 {
  font-size: 1em;
}
/* line 378, ../sass/styles.scss */
.sidebar a .cat-info {
  color: black;
}
/* line 382, ../sass/styles.scss */
.sidebar .list-shops {
  padding: 15px 0;
  margin-bottom: 24px;
}
@media screen and (min-width: 979px) {
  /* line 386, ../sass/styles.scss */
  .sidebar .list-shops li {
    height: 84px;
    overflow: hidden;
  }
}
@media screen and (min-width: 320px) and (max-width: 978px) {
  /* line 386, ../sass/styles.scss */
  .sidebar .list-shops li {
    width: 100%;
  }
}
/* line 398, ../sass/styles.scss */
.sidebar .list-shops img {
  display: block;
  margin: 12px auto;
  max-height: 78px;
}

/* line 409, ../sass/styles.scss */
.panel.callout.list-cat a {
  color: #fff;
}
/* line 412, ../sass/styles.scss */
.panel.callout.list-cat li {
  list-style-type: none;
}

/* line 418, ../sass/styles.scss */
#sidebar-categories {
  background: none !important;
  float: right;
  width: 100%;
    /*
    &.mfixed {
      left: 66.66667% !important;
      top: emCalc(50px) !important;
      padding-right: emCalc(15px) !important;
      padding-left: emCalc(15px) !important;

      > ul {
        box-shadow: 0 2px 3px rgba(0,0,0,0.3);
      }
    }
    */
}
/* line 423, ../sass/styles.scss */
#sidebar-categories > ul {
  background: #fff;
}
/* line 426, ../sass/styles.scss */
#sidebar-categories > ul > li {
  list-style-type: none;
  padding: 5px 15px;
  border-bottom: 1px solid #d1e0e2;
}
/* line 431, ../sass/styles.scss */
#sidebar-categories a {
  color: #e5886e;
}
/* line 434, ../sass/styles.scss */
#sidebar-categories a:hover {
  font-weight: bold;
  color: #db4e2e;
}

/* NAVS */
  /* 
    .sub-nav.cat-links { 
      @include sub-nav($base-color-dark, 1.013em, $base-color-topbar); 
      
      background: $base-color-orange-light;
      margin: 0;
      padding: emCalc(6px) 0;
      border-bottom: 2px solid $base-color-red-darker;
      border-top: 2px solid $base-color-red-darker;
      font-family: $secondary-font;
      height: 40px;
      overflow: hidden;

      dt, dd {
        margin-bottom: 0;
      }

      a { margin-left: 24px; }
    }

    [data-magellan-expedition] {
      padding: 0;
    }
  */
/* line 480, ../sass/styles.scss */
#links-categories {
  width: 100%;
  font-size: 1.125em;
  font-family: "Montserrat", sans-serif, helvetica;
  background: #e5886e;
  border-bottom: 2px solid #bd4327;
  border-top: 2px solid #bd4327;
}
/* line 488, ../sass/styles.scss */
#links-categories a {
  color: black;
}

/* HOME */
/* line 493, ../sass/styles.scss */
#main-header .top-bar {
  margin: 0;
}

/* line 498, ../sass/styles.scss */
.search .button {
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* line 507, ../sass/styles.scss */
.search input[type=search] {
  -webkit-border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* line 517, ../sass/styles.scss */
.home-intro {
  /* padding: 12px 15px; */
  font-size: 0.813em;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 24px;
}
/* line 524, ../sass/styles.scss */
.home-intro .copy {
  padding: 0 15px;
}
/* line 525, ../sass/styles.scss */
.home-intro .copy label {
  font-weight: 700;
}
/* line 528, ../sass/styles.scss */
.home-intro label {
  margin: 0;
}
/* line 530, ../sass/styles.scss */
.home-intro li {
  list-style-type: none;
}
/* line 534, ../sass/styles.scss */
.home-intro input[type=text] {
  border: 0;
  box-shadow: none;
  border-bottom: 4px solid #175b8c;
  margin-top: 13px;
  padding-bottom: 21px;
  padding-left: 0;
}

/* line 544, ../sass/styles.scss */
.main-row {
  width: 100%;
  max-width: 1400px;
}
/* line 552, ../sass/styles.scss */
.main-row h3 {
  font-size: 0.813em;
  margin-top: 8px;
  text-transform: uppercase;
}

/* line 566, ../sass/styles.scss */
.featured-promo-thumb {
  height: 200px;
}

/* line 570, ../sass/styles.scss */
.section-links {
  border: 1px solid #d1e0e2;
  margin-bottom: 24px;
  padding: 6px 12px 12px 12px;
  font-size: 0.813em;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
/* line 582, ../sass/styles.scss */
.section-links ul li {
  list-style-type: none;
}
/* line 586, ../sass/styles.scss */
.section-links a {
  color: #365f91;
}
/* line 590, ../sass/styles.scss */
.section-links h2 {
  margin: 0 0 12px 0;
  font-size: 1.75em;
}

/* line 596, ../sass/styles.scss */
.section {
  background: #fff;
}
/* line 599, ../sass/styles.scss */
.section a:hover {
  text-decoration: underline;
}
/* line 603, ../sass/styles.scss */
.section.main-content {
  background: none;
}

/* line 607, ../sass/styles.scss */
.section-container, .section-container.auto {
  margin: 0;
}

@media (min-width: 320px) and (max-width: 480px) {
  /* line 609, ../sass/styles.scss */
  .map {
    display: none;
  }
}

/* line 615, ../sass/styles.scss */
.promos-near {
  border: 1px solid #000;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 24px;
}

/* line 622, ../sass/styles.scss */
.orbit-slides-container {
  background: #fff;
}

/* line 626, ../sass/styles.scss */
.promos-brands {
  border-bottom: 1px solid #000;
  padding-bottom: 12px;
}
/* line 630, ../sass/styles.scss */
.promos-brands #featured2 {
  padding: 24px;
  margin-left: 100px;
  margin-right: 100px;
}
/* line 634, ../sass/styles.scss */
.promos-brands #featured2 > li {
  padding: 0 100px;
}

/* CATEGORY PAGE */
/* line 642, ../sass/styles.scss */
.category-page {
  margin-bottom: 24px;
}
