
.three.columns { width: 24.5%; }
.four.columns { width: 30.5%; }
.six.columns { width: 46%; }
.nine.columns { width: 69%; }


input[type=text] { height: 16px;  }
#site_search { padding: 6px 6px 6px 32px; }

ul.nolist li { padding: 0; }


.floating-header { height: 56px; }

.floating-header #logo { display: none; }

.floating-header .logo-ie8 { display: block; float: left; margin-right: 14px; } 

#site_search { height: 16px; margin: 0; }

.flyout-toggle { display: block; width: 7px; height: 5px; background: url('../img/dk_arrows_white.png') 20px 14px no-repeat;  }

#smart-shopper .has-flyout { position: relative; z-index: 800; }

#popular-searches ul {  margin-top: 67px; margin-left: 24px;  }

#searchbox .button { height: 30px; margin-left: 10px; }

#featured-header { position: relative; z-index: -1; }

.tab-label { width: 135px; }

.floating-header { height: 44px; }


.product-detail #item-info {
	width: 96% !important;
}

ul.tabs-content li { list-style-type: none; list-style-image: none; list-style-position: outside; }

#content.product-detail .eight.columns { width: 62.5%; }
	#content.product-detail .eight.columns article { padding: 0 2%; }

#hub-categories ul#cat-list li { width: 20.7%; }