@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic);
@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic);

/* clearfix */

	.group:before,
	.group:after {
	    content: "";
	    display: table;
	} 
	.group:after {
	    clear: both;
	}
	.group {
	    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
	}

/* reusables */

	.uppercase { text-transform: uppercase; }
	.lowercase { text-transform: lowercase; }

	.nolist { margin: 0; padding: 0; list-style-type: none; }
	.list-nav li { float: left; display: block; margin-right: 10px; }

	.nofloat { float: none; }

	.block { display: block; }
	.hide { display: none !important; }

	.relative { position: relative; }
	.absolute { position: absolute; }

	.overflow-visible { overflow: visible !important;}

	.impt { color: #b51616; font-weight: 900; }

	.mtop { margin-top: 25px; }

	.footnote { margin-top: 24px; }
		.footnote p { font-size: 0.813em; }

	.box-shadow { 
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
	}

	.mobile-visible { display: none; }


/* typography */

	h2.single-header, .store-name { 
		text-align: center;
		padding: 24px 0;
		text-transform: uppercase; 
		font-weight: 900; 
		letter-spacing: 2px;
		border-top: 2px solid #999;
		margin: 0;
	}
		.reveal-modal h2.single-header { margin: 0 0 24px 0; display: block; border-bottom: 3px solid #3b3b3b; }

	h2.page-header, h2.store-name { 
		border-bottom: 3px solid #3b3b3b; margin-bottom: 24px; 
	}

	.no-border-top { border-top: 0 !important; }

	#main-header a:link, #main-header a:active, #main-header a:visited, 
	#sidebar li a, #featured-promos a {
			color: #4f4f4f;
			text-decoration: none;
		}

	#main-header a:hover, #main-footer a:hover { 
		text-decoration: underline;
	}

	a, .transition { 
		-webkit-transition: all 0.2s ease-in;  
		-moz-transition: all 0.2s ease-in;  
		-o-transition: all 0.2s ease-in; 
		transition: all 0.2s ease-in;
	}

	a img { border: 0; }

	h3.mobile-hidden-header {
		cursor: pointer;
	}

/* forms */

	.button.red-button {
	  background: #a90329; /* Old browsers */
	  background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	  background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	  background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
	  background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	  background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
	  color: #fff;
	  border: 1px solid #810c0c;
	  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
	}



/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	/* general stuff */

	body {
		font-family: 'Lato', helvetica, sans-serif;	
		font-size: 100%;
		line-height: 1.5;
		color: #4b4b4b;
	}

	#main-header {
		background: #f8f8f8; 
		border-top: 4px solid #2b2b2b;
		border-bottom: 1px solid #d4d4d4;
		box-shadow: 0 0px 5px 0 rgba(0,0,0,0.35);
		width: 100%;
	}

	#main-header .row { padding: 12px 0 0 0; z-index: 10; }

	#logo {
		width: 174px;
		height: 34px; 
		text-indent: -9999px;
		margin: 0 24px 8px 16px;
		-webkit-transition: background-position 0.2s ease-in;
		-moz-transition: background-position 0.2s ease-in;  
		-o-transition: background-position 0.2s ease-in;  
		transition: background-position 0.2s ease-in;  
	}
		.logo-ie8 { display: none; }
		.subheader {
			font-size: 0.75em;
			font-style: italic;
			font-weight: 400;
			padding-left: 16px;
			margin-bottom: 12px;
		}
	.country-copy .intro { padding: 6px 12px; font-style: italic; }
	#searchbox { margin-top: 2px; }
		#searchbox form { margin: 0; }
		#site_search { 
			border: 0;
			border-bottom: 2px solid #e0e0e0; 
			background: url('../img/searchicon.png') 8px center no-repeat #fff;
			padding-left: 30px;
			margin: 0 0 0 0;
			font-family: 'Lato', sans-serif;
			width: 65%;
		}
			#site_search:focus { border: 2px solid #ccc; }
		#searchbox .button { 
			box-shadow: none;
			border-color: #ccc;
			height: 32px;
			padding: 0px 2% !important;
			font-weight: 400;
			width: 35%;
		}

	.floating-header {
		position: fixed;
		width: 100%;
		z-index: 1000;
	}
		#main-header.floating-header .subheader, 
		.floating-header #popular-searches, 
		.floating-header .country-copy { display: none; }
		#main-header.floating-header #logo { width: 174px; background-position: 0 -34px !important; margin-right: 24px; margin-bottom: 4px;}
		#main-header.floating-header { border-top: 0; background: #2d2d2d; border-bottom: 1px solid #000; top: 0;
			box-shadow: 0px 0px 25px rgba(0,0,0,0.50);
		}
		#main-header.floating-header .row { padding: 8px 0 0 0;}

		.floating-header #searchbox { margin-top: 0; }
		.floating-header .button { background: #7d7e7d; /* Old browsers */
			background: -moz-linear-gradient(top,  #7d7e7d 0%, #3d3d3d 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#3d3d3d)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #7d7e7d 0%,#3d3d3d 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #7d7e7d 0%,#3d3d3d 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #7d7e7d 0%,#3d3d3d 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #7d7e7d 0%,#3d3d3d 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#3d3d3d',GradientType=0 ); /* IE6-9 */
			border-color: #000 !important;
			color: #fff;
		}
		.floating-header .button:hover { 
			background: #45484d; /* Old browsers */
			background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
			border-color: #000 !important;
			box-shadow: 2px 2px 0 rgba(0,0,0,1);
		}
		.floating-header #searchbox #site_search {
			background-color: #333;
			border: 0;
			border-bottom: 1px solid #565656;
		}
		.floating-header #site_search:focus { border-color: #ccc; color: #fff; }


	#smart-shopper.top-bar .row ul > li.active { background: #4d4d4d; }

	.logo-set { position: relative; }
	.current-country, .my-account { 
		position: absolute;
		right: 8px;
	}
		.current-country img { 
			margin-left: 12px;
			border: 1px solid #666; 
		   filter: url(../img/grayscale.svg#grayscale);
    		filter: grayscale(100%); 
    		-webkit-filter: grayscale(100%); /* New WebKit */
   		 -moz-filter: grayscale(100%);
    		-ms-filter: grayscale(100%); 
    		-o-filter: grayscale(100%); 
    		filter: gray; /* IE */
    		-webkit-filter: grayscale(1); /* Old WebKit */
    		opacity: 0.8;
		}
		
		.current-country img:hover, .current-country img.selected {
    		filter: grayscale(0); 
    		-webkit-filter: grayscale(0); /* New WebKit */
   		 -moz-filter: grayscale(0);
    		-ms-filter: grayscale(0); 
    		-o-filter: grayscale(0); 
    		filter: gray; /* IE */
    		-webkit-filter: grayscale(0); /* Old WebKit */
    		border: 1px solid #ccc;
		}
		.current-country img:hover {
    		opacity: 1;
    	}

	#main-header.floating-header .my-account { top: 12px; }

	.copyright .current-country { left: 0; top: -5px; width: 100px; }

	/* login - text link on header */
		#main-header .my-account { top: 24px; right: 24px; }
		#main-header .my-account a {
			display: block;
			padding: 12px;
			float: left;
			font-size: 0.813em;
			text-align: center;
			text-transform: uppercase;
			text-decoration: none;
			background: #fff; font-weight: 900; 
		}
			#main-header .my-account a:hover { background: #000; color: #fff; }
		#main-header.floating-header .my-account a { color: #ccc; }
		#main-header.floating-header .my-account a.selected { background: #000; color: #fff; }
		#main-header.floating-header .my-account { top: 4px; }

	/* CONTENTS */

	#content {
		min-height: 300px; margin: 0 0 0 0;
	}

	#crumbs { color: #ccc; margin: 24px 0 21px 0; font-size: 0.875em; }
		#crumbs a { color: #999; text-decoration: none; margin: 0 10px; padding: 0 0 5px 0; }
			#crumbs a:hover { border-bottom: 1px solid #d4d4d4; text-decoration: none; color: #A9190F; }
		#crumbs .home { margin: 0 10px 0 0; }
		#crumbs .current-page { color: #333; font-weight: 600; }


	/* FOOTER */

		#main-footer {
			background: #eee;
			padding: 35px 0 8px 0;
			border-top: 1px solid #d4d4d4;
			color: #7e7e7e;
		}
			#main-footer a { color: #505050; text-transform: uppercase; font-size: 0.875em; }
			.copyright { margin-top: 25px; border-top: 3px solid #d4d4d4; padding: 14px 0 0 0;}
			.copyright .columns { font-size: 0.813em; }
			.copyright .rights { display: block; float: left; margin-left: 100px; }
			.copyright .rights a { margin-left: 12px; }

		.twitter-footer {  }
		.download-apple { margin-right: 14px; }
		
			#main-footer h3 { 
				color: #3b3b3b; 
				margin: 0 0 10px 0; 
				font-size: 1.125em;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: 900;
			}

		#main-footer .social .fb-frame { margin-left: 12px; }


.top-bar ul li.toggle-topbar { width: 100%; }


/* FACEBOOK COMMENTS */
.fb-comments, .fb-comments iframe[style], .fb-comments span {
width: 100% !important;
}


