@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic);

/* clearfix */

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.bold { font-weight: bold; }
.italic { font-style: italic; }

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.nolist { margin: 0; padding: 0; list-style-type: none; }
.list-nav li { float: left; display: block; margin-right: 10px; }
ul li:last-child, ol li:last-child { margin: 0; border: 0; }

.nofloat { float: none; }

.block { display: block; }
.hide { display: none !important; }

.relative { position: relative; }
.absolute { position: absolute; }

.overflow-visible { overflow: visible !important;}

.impt { color: #b51616; font-weight: 900; }

h2.single-header, .store-name { 
	text-align: center;
	padding: 14px 0;
	text-transform: uppercase; 
	font-weight: 900; 
	letter-spacing: 2px; 
	border-bottom: 2px solid #d4d4d4;
	border-top: 1px solid #999;
}
	.reveal-modal h2.single-header { margin: 0 0 24px 0; display: block; }

#main-header a:link, #main-header a:active, #main-header a:visited, 
#sidebar li a, #featured-promos a {
		color: #4f4f4f;
		text-decoration: none;
	}

#main-header a:hover, #main-footer a:hover { 
	text-decoration: underline;
}

a img { border: 0; }

/* forms */

.button.red-button {
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
  color: #fff;
  border: 1px solid #810c0c;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
}


.mtop { margin-top: 25px; }

.footnote { margin-top: 24px; }
	.footnote p { font-size: 0.813em; }

.box-shadow { 
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}



/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	/* general stuff */

	body {
		font-family: 'Lato', helvetica, sans-serif;	
		font-size: 100%;
		line-height: 1.5;
		color: #4b4b4b;
	}

	#main-header {
		/* background: url('../img/christmas-header.jpg') 0 0 repeat-x; */
		background: #f8f8f8; 
		border-top: 4px solid #2b2b2b;
		border-bottom: 1px solid #eee;
	}

	#searchbox { margin-top: 12px; }

	#main-header .row {
		padding: 18px 0 0 0;
	}

	#logo {
		width: 132px;
		height: 43px; 
		text-indent: -9999px;
		margin: 0 24px 10px 16px;
		-webkit-transition: background-position 0.2s ease-in;  
		-moz-transition: background-position 0.2s ease-in;  
		-o-transition: background-position 0.2s ease-in;  
	}
		.logo-ie8 { display: none; }
		.subheader {
			font-size: 0.75em;
			font-style: italic;
			font-weight: 600;
			padding-left: 16px;
		}

	#searchbox { min-width: 78%; }

		#site_search { border: 1px solid #e0e0e0; width: 40%;}
			#site_search:focus { width: 98%; border: 2px solid #2d2d2d; }
		#popular-searches ul { margin-top: 14px; font-size: 0.813em; font-weight: bold; }
		#popular-searches li { margin-right: 20px; }
		#popular-searches li.label { color: #828282; letter-spacing: 1px; margin-top: 6px; }

	.floating-header {
		box-shadow: 0px 2px 7px rgba(0,0,0,0.20);
		position: fixed;
		width: 100%;
		z-index: 1000;
	}
		.floating-header .subheader, .floating-header #popular-searches { display: none; }
		.floating-header #logo { width: 92px; height: 30px; background-size: 92px 60px !important; background-position: 0 -30px !important; margin-right: 24px;}
		#main-header.floating-header { border-top: 0; background: #2d2d2d; border-bottom: 1px solid #000;}
		#main-header.floating-header .row { padding: 12px 0 0 0;}

		.floating-header #searchbox { margin-top: 0; }

	/* CONTENTS */

	#content {
		min-height: 300px; margin: 14px 0 0 0;
	}

	#crumbs { color: #ccc; margin: 7px 0 21px 0; font-size: 0.875em; }
		#crumbs a { color: #999; text-decoration: none; margin: 0 10px; padding: 0 0 5px 0; }
			#crumbs a:hover { border-bottom: 1px solid #999; }
		#crumbs .home { margin: 0 10px 0 0; }
		#crumbs .current-page { color: #333; }


	/* FOOTER */

	#main-footer {
		background: #f7f7f7;
		padding: 28px 0;
		border-top: 1px solid #efefef;
		font-size: 0.813em;
	}
		.copyright { margin-top: 25px; border-top: 3px solid #eee; padding-top: 14px; }
	.twitter-footer {  }
	.download-apple { margin-right: 14px; }
	
		#main-footer h3 { 
			color: #3b3b3b; 
			margin: 0 0 10px 0; 
			font-size: 0.813em;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 900;
		}

	#country-options { 
		text-transform: uppercase; 
		font-size: 0.75em; 
		letter-spacing: 1px; 
		color: #ccc; 
		margin-right: 16px;
	}
		#country-options li { margin-left: 14px; }
		#country-options a { 
			color: #333;
			font-size: 0.813em;
		}
		#country-options .current { font-weight: bold; }



	/* SIDEBAR */

	#sidebar {
		font-size: 0.813em;
		color: #4b4b4b;
		overflow: hidden;
	}
		#sidebar h3 { 
			color: #3b3b3b; 
			border-bottom: 1px solid #ccc; 
			border-top: 4px solid #ededed; 
			margin: 10px 0; 
			padding: 10px 0;
			font-size: 0.813em;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 900;
		}
		#sidebar .widget { margin-bottom: 42px; }


	/** WIDGETS **/

	#list-contributors {
		height: 250px;
		overflow: auto;
		margin: 0;
		padding: 0 0 0 24px;
		list-style-type: decimal;
	}
		#list-contributors li { margin: 0 0 14px 0; }
		.user-avatar { width: 50px; height: 50px; margin: 0 14px 0 0; }


	#smart-shopper {
		background: #2a2a2a;
		color: #fff;
		padding-top: 14px;
	}
		#smart-shopper .columns, #smart-shopper .dk_container, #smart-shopper .dk_options li { font-size: 1.5em; }
			.dk_container { margin-bottom: 14px; }
		#smart-shopper .dk_container { margin-left: 10px; white-space: normal; }
		#smart-shopper span.block { margin-top: 10px;}


	/* related products */

	.related-thumb { width: 50px; height: 50px; margin-right: 14px;}

	#list-relproducts li {
		padding: 10px;
		border-bottom: 1px solid #fff;
		font-size: 0.875em;
	}

	#list-relproducts li:hover {
		background: #f7f7f7;
	}



/********* PAGE ELEMENTS: PRICE DETAIL PAGE ***********/

#store-info, #item-info {
	width: 48%;
}
#content.product-detail #item-info { width: 100%; }

#store-info h3 { 
	font-weight: 600;
	border-bottom: 1px solid #f7f7f7; 
	border-top: 4px solid #ededed; 
	padding: 10px 0;
	margin: 0 0 24px 0;
}

.store-details { margin: 14px 0 0 0;}

#item-info {
	background: #f4f4f4;
	padding: 2%;
	border-top: 4px solid #2b2b2b;
	border-bottom: 1px solid #ccc;
}
	#item-info h3 { margin: 0; }
	#item-thumbnail { 
		border: 1px solid #000; 
		width: 150px; min-height: 150px;
		margin: 7px 21px 7px 0;
	}

/* directions */
#map { max-width: 100%; overflow: none; }
#map-directions { margin: 24px 0; }
.pointB { width: 62% !important; margin-right: 3% !important;}



/********* PAGE ELEMENTS: OPTION DETAIL PAGE ***********/
#content.odp h2.single-header { border: 0; margin-top: 0; text-transform: none; letter-spacing: 0; text-align: left; }
#price-options ol {  }
	#price-options li { margin: 0 0 24px 0; padding: 0 0 24px 0; border-bottom: 1px solid #ccc;}
	#price-options li:last-child { border: 0;}
.option-col { width: 23%; margin-right: 2%;}
.store-details.button { display: block; min-width: 80px;}

.detail-shop { font-weight: 600; }

.item-price { color: #b51616; }
.price-option{ margin-bottom: 14px; padding-bottom: 24px; border-bottom: 1px solid #f7f7f7; }



/********* PAGE ELEMENTS: PRODUCT DETAIL PAGE ***********/

a.store-details { color: #4b4b4b; }
	a.store-details span.button { margin-top: 14px; }
.post-date a { color: #4b4b4b; font-size: 0.813em; }

ul.tabs-content { word-wrap: break-word; }


/********* PAGE ELEMENTS: STORE PAGE ***********/

.branch-list ul { list-style-type: disc; padding: 7px 24px; }
.store .featured-products h3, .item-price { margin: 0; }

.store-header {
	border-bottom: 1px solid #eee;
	border-top: 3px solid #eee;
}
	.store-header h2 { margin-top: 14px; }
	.store-header .red-button { margin-top: 10px; font-weight: 600; padding: 7px 14px;}
.detail-price-single { padding: 7px 14px; }



/********* PAGE ELEMENTS: HOMEPAGE ***********/

#featured-header {
	width: 100% !important;
	height: 350px !important;
	background-repeat: no-repeat !important;
	margin-bottom: 24px;
}
	#featured-header .intro-copy {
		font-size: 2em;
		line-height: 1.2;
		font-weight: 600;
		color: #000;
		max-width: 400px;
		top: 25%;
		padding: 24px;
	}
#featured-promos { background: #222222; margin-bottom: 24px; }
#featured-promos ul li {
	float: left;
	width: 25%;
	text-align: center;
}
	#featured-promos a {
		color: #fff;
		display: block;
		padding: 20px;	
	}
	#featured-promos a:hover { background: #000; }


ul.featured-products { margin-top: 24px !important; }

.featured-products li a.block { 
	background: #f7f7f7;
	border: 2px solid #eee; color: #666;
	-webkit-transition: all 0.3s ease-in;  
	-moz-transition: all 0.3s ease-in;  
	-o-transition: all 0.3s ease-in;  
}
	.featured-products li a.block:hover { 
		border: 2px solid #999; 
		box-shadow: 0 2px 3px rgba(0,0,0,0.15); 
		position: relative;
		top: -5px;
	}

.detail-header { 
	display: block;
	float: left;
	width: 49%;
}

.item-header { 
	background: #fff;
	width: 100%;
	padding: 7px 14px;  
	vertical-align: middle;
	display: table-cell;
	border-bottom: 1px solid #d4d4d4;
	-webkit-transition: all 0.3s ease-in;  
	-moz-transition: all 0.3s ease-in;  
	-o-transition: all 0.3s ease-in; 
}
.featured-products h3 { 
	color: #333; font-weight: 600; 
	font-size: 1em; line-height: 1.4;
	margin: 0; 
	-webkit-transition: all 0.3s ease-in;  
	-moz-transition: all 0.3s ease-in;  
	-o-transition: all 0.3s ease-in; 
}

.promo {
	font-weight: 900;
	padding: 4px 8px;
	display: block;
	background: #333;
	color: #fff;
	border-radius: 4px;
	margin: 0 14px 14px 14px;
	font-size: 0.75em;
	text-transform: uppercase;
	text-align: center;
	max-width: 100px;
}
.price-summary { padding: 7px 14px; }
.container-thumb { overflow: none; width: 100px; height: 100px; float: right; }

.price-lowest { color: #b51616; font-weight: 900; white-space: nowrap; }

.posted-details { border-top: 1px solid #eee; }
.user-avatar-small { width: 30px; height: 30px; margin: 7px; opacity: 0.5; }
.posted-info { font-size: 0.75em; padding: 7px; margin-top: 2px; }

.posted-details {
	-webkit-transition: all 0.3s ease-in;  
	-moz-transition: all 0.3s ease-in;  
	-o-transition: all 0.3s ease-in; 
}

.dk_toggle { width: 230px; height: 56px; overflow: hidden; }



.pagination { font-weight: 600; margin: 24px 0; border-top: 1px solid #d4d4d4; padding: 24px 0; }
	.pagination a:hover { text-decoration: underline; }



/* SERP PAGE */

#content.search #sidebar { 
	margin-top: 24px;
}

.search-results li a.block {
	margin-bottom: 24px;
	border: 0;
	border-top: 1px solid #d4d4d4;
}
	.search-results li a.block:hover { border: 0; border-top: 1px solid #d4d4d4; box-shadow: 0 0 0; }



/* ABOUT TAB */

#about-tab {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999;
}
	#about-tab a { color: #fff; }
	.tab-label { 
		box-shadow: 0px 2px 7px rgba(0,0,0,0.20); 
		font-weight: 900; 
		font-size: 0.813em; display: block; 
		background: #2d2d2d; 
		padding: 8px 16px;
		width: 120px;
	}

#about-tab article { 
	display: none; 
	background: #2d2d2d;  
	padding: 8px 16px; 
	width: 240px; 
	color: #fff;
}
	#about-tab p { font-size: 0.875em; }
	#about-tab h3 { 
		color: #ccc; 
		text-transform: uppercase; 
		font-size: 0.875em; 
		line-height: 1.8; 
		font-weight: 900; 
		border-bottom: 1px solid #333; 
		padding-bottom: 14px; 
	}



/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	#content { min-height: 0; padding: 0; }
	#main-header .row { padding: 12px 0 6px 0;}
		#logo { margin: 0 14px; width: 92px; height: 30px; background-size: 92px 60px !important;}

		.floating-header #logo { width: 92px; height: 30px; background-size: 92px 60px !important; margin-right: 12px;}
		.logo-set, #searchbox, .floating-header .logo-set, .floating-header #searchbox { display: block; float: left; }
		#searchbox, .floating-header #searchbox { min-width: 180px; margin: 0; padding: 0; }
			#site_search, #site_search:focus { width: 90%; }

	.innercol { width: 100% !important; display: block; float: none; margin: 0 0 14px 0 !important; overflow: visible; }

	#fb-widget, #crumbs, #popular-searches, .subheader, #smart-shopper, #about-tab
		{ display: none; }

	ul.featured-products li a.block { margin-bottom: 24px;  }
	.posted-info { display: inline-block; position: relative; top: -4px; }


	/* tabs */
	dl.tabs { height: auto; }
	dl.tabs dd {
		float: none;
	}
		dl.tabs dd a { background: #f7f7f7; border-top: 1px solid #ccc; font-weight: 900; }
		dd.active { border: 0 !important; }
		dd.active a {
			background: #B51616 !important;
			border-top: 0 !important;
			color: #fff !important;
		}

	/* widgets */
	#sidebar .widget, #sidebar h3  { margin: 0; }
	.widget-content { display: none; padding: 14px; margin: 0; }
	#sidebar .widget-content ul li a { color: #333 !important; }
	#sidebar { padding: 0; margin: 0 0 24px 0; border: 1px solid #d4d4d4;}
	#sidebar h3, #main-footer h3 {
		padding: 20px; 
		font-size: 1em;	
		cursor: pointer;
		margin-bottom: 0;
		border-bottom: 1px solid #999;
	}
	#sidebar h3 { background: #2d2d2d; color: #fff; border-top: 0; }
	#main-footer h3 {
		background: #eee;
		border-top: 1px solid #fff;
	}

	.related-thumb.left { float: left; }

	/* footer */
	.copyright { margin: 0; padding-bottom: 24px; }
	#main-footer { padding: 0; }
	#main-footer .four.columns 	{
		display: block;
		padding: 0;
		margin: 0;
	}

	/* featured and shop */

	#featured-header {
		background-position: center center;
	}

	.price-option, .price-option:last-child {
		border: 2px solid #ccc;
		padding: 14px;
		background: #f7f7f7;
	}
		.ugc-info { font-size: 0.813em; }
		.price-option .price { font-size: 1.2em; }
		.price-option p {margin:0;}
		.price-option .more-info { font-style: italic; }



	/*******

		STYLE CHANGES FOR MOBILE VIEW

	*******/

	body { 
		background: #ededed;
	}
	#main-header { 
		border-bottom: 1px solid #ccc;
  		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
	}
	#logo {
		background-size: 92px 30px;
	}
		.floating-header #logo { width: 92px; height: 30px; background-size: 92px 60px !important; }

	#main-footer h3 { background: #fff; border-left: 10px solid #ccc; }

	#content.odp h2.single-header, #content.product-detail h2.single-header, #content.store h2 { 
		text-align: left !important; 
		border: 0; margin-top: 0; 
		text-transform: none; 
		letter-spacing: 0;
	}

	.widget-content { background: #fff; }


	/* homepage / featured */

	ul.featured-products li a.block, li.price-option { 
		border: 1px solid #999; 
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25); 
	} 
		ul.featured-products li a.block:hover { 
			border: 1px solid #999; 
			box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25); 
		}

	ul.pagination { 
		border-top: 2px solid #666;
	}

	/* option detail page */

	#item-info, #store-info h3, #store-info article, #map-directions, 
		article.branch-address, article.branch-contact, article.branch-list { 
		background: #fff; padding: 14px; 
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
	}
		#item-info h3 { margin: 7px 0 24px 0; }

	#store-info h3 { border-top: 4px solid #A9190F; }

	#map-directions {
		border-top: 4px solid #2B2B2B;
	}


	/* product detail page */

	dl.tabs { 
		margin: 14px -15px;
		border-bottom: 2px solid #666;
		text-transform: uppercase;
		letter-spacing: 1px;
	}


	/* store */
	#content.store .six article { margin-bottom: 24px; }

}




/* ========================================== */
/* ! Provide higher res assets for retina     */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

	#logo {
		background-size: 132px 86px;
	}
		.floating-header #logo { width: 92px; height: 30px; background-size: 92px 60px !important; }
}

@media only screen and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {

	#logo {
		background-size: 92px 30px;
	}
		.floating-header #logo { width: 92px; height: 30px; background-size: 92px 60px !important; }

}


