

/********* PAGE ELEMENTS: PRODUCT DETAIL PAGE ***********/

   #content.product-detail .shop a { color: #4b4b4b; }
      a.store-details span { margin-top: 14px; }
   .post-date a { color: #4b4b4b; font-size: 0.813em; }
   span.detail-branch { font-weight: 400; }

   ul.tabs-content, #item-description { word-wrap: break-word; }

   .tags-box { font-size: 0.75em; float: right; color: #999; margin: 24px 0; border-top: 3px solid #ccc; width: 100%; }
      .tags-box h3 { text-transform: uppercase; letter-spacing: 3px; padding: 12px 0 0 0; }
   ul#item-tags a { color: #999; font-size: 0.875em; }

   .shop a:hover { text-decoration: underline; }

   .product-header { padding: 0; font-weight: normal; letter-spacing: 0; text-transform: none; }
   .product-header h2 { max-width: 45%; line-height: 1.4; text-align: left; }

   .price-range { font-size: 1.8em; margin: 0 24px 0 12px; padding: 12px 24px; border-color: #ccc; border-style: solid; border-width: 0 1px; }

   .price-saved { padding: 8px 24px 8px 0; }