@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic);
@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic);

/* clearfix */

	.group:before,
	.group:after {
	    content: "";
	    display: table;
	} 
	.group:after {
	    clear: both;
	}
	.group {
	    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
	}

/* reusables */

	.uppercase { text-transform: uppercase; }
	.lowercase { text-transform: lowercase; }

	.nolist { margin: 0; padding: 0; list-style-type: none; }
	.list-nav li { float: left; display: block; margin-right: 10px; }

	.nofloat { float: none; }

	.block { display: block; }
	.hide { display: none !important; }

	.relative { position: relative; }
	.absolute { position: absolute; }

	.overflow-visible { overflow: visible !important;}

	.impt { color: #b51616; font-weight: 900; }

	.mtop { margin-top: 25px; }

	.footnote { margin-top: 24px; }
		.footnote p { font-size: 0.813em; }

	.box-shadow { 
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
	}

	.mobile-visible { display: none; }


/* typography */

	h2.single-header, .store-name { 
		text-align: center;
		padding: 24px 0;
		text-transform: uppercase; 
		font-weight: 900; 
		letter-spacing: 2px;
		border-top: 2px solid #999;
		margin: 0;
	}
		.reveal-modal h2.single-header { margin: 0 0 24px 0; display: block; border-bottom: 3px solid #3b3b3b; }

	h2.page-header, h2.store-name { 
		border-bottom: 3px solid #3b3b3b; margin-bottom: 24px; 
	}

	.no-border-top { border-top: 0 !important; }

	#main-header a:link, #main-header a:active, #main-header a:visited, 
	#sidebar li a, #featured-promos a {
			color: #4f4f4f;
			text-decoration: none;
		}

	#main-header a:hover, #main-footer a:hover { 
		text-decoration: underline;
	}

	a, .transition { 
		-webkit-transition: all 0.2s ease-in;  
		-moz-transition: all 0.2s ease-in;  
		-o-transition: all 0.2s ease-in; 
		transition: all 0.2s ease-in;
	}

	a img { border: 0; }

	h3.mobile-hidden-header {
		cursor: pointer;
	}

/* forms */

	.button.red-button {
	  background: #a90329; /* Old browsers */
	  background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	  background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	  background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
	  background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	  background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
	  color: #fff;
	  border: 1px solid #810c0c;
	  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
	}



/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	/* general stuff */

	body {
		font-family: 'Lato', helvetica, sans-serif;	
		font-size: 100%;
		line-height: 1.5;
		color: #4b4b4b;
	}

	#main-header {
		background: #f8f8f8; 
		border-top: 4px solid #2b2b2b;
		border-bottom: 1px solid #d4d4d4;
		box-shadow: 0 0px 5px 0 rgba(0,0,0,0.35);
		-webkit-transition: box-shadow 0.5s ease-in;  
		-moz-transition: box-shadow 0.5s ease-in;  
		-o-transition: box-shadow 0.5s ease-in; 
		transition: box-shadow 0.5s ease-in;
	}

	#main-header .row { padding: 12px 0 0 0; z-index: 10; }

	#logo {
		width: 174px;
		height: 34px; 
		text-indent: -9999px;
		margin: 0 24px 8px 16px;
		-webkit-transition: background-position 0.2s ease-in;
		-moz-transition: background-position 0.2s ease-in;  
		-o-transition: background-position 0.2s ease-in;  
		transition: background-position 0.2s ease-in;  
	}
		.logo-ie8 { display: none; }
		.subheader {
			font-size: 0.75em;
			font-style: italic;
			font-weight: 400;
			padding-left: 16px;
			margin-bottom: 12px;
		}

	#searchbox { min-width: 75%; margin-top: 2px; }
		#searchbox form { margin: 0; }
		#site_search { 
			border: 0;
			border-bottom: 2px solid #e0e0e0; width: 60%; 
			background: url('../img/searchicon.png') 8px center no-repeat #fff;
			padding-left: 30px;
			margin: 0 8px 0 0;
			font-family: 'Lato', sans-serif;
		}
			#site_search:focus { border: 2px solid #ccc; }
		#searchbox .button { 
			box-shadow: none;
			border-color: #ccc;
			height: 32px;
			padding: 0px 14px !important;
		}

	.floating-header {
		position: fixed;
		width: 100%;
		z-index: 1000;
	}
		#main-header.floating-header .subheader, .floating-header #popular-searches { display: none; }
		#main-header.floating-header #logo { width: 174px; background-position: 0 -34px !important; margin-right: 24px; margin-bottom: 4px;}
		#main-header.floating-header { border-top: 0; background: #2d2d2d; border-bottom: 1px solid #000;
			box-shadow: 0px 0px 25px rgba(0,0,0,0.50);
		}
		#main-header.floating-header .row { padding: 8px 0 0 0;}

		.floating-header #searchbox { margin-top: 0; }
		.floating-header .button { background: #7d7e7d; /* Old browsers */
			background: -moz-linear-gradient(top,  #7d7e7d 0%, #3d3d3d 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#3d3d3d)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #7d7e7d 0%,#3d3d3d 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #7d7e7d 0%,#3d3d3d 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #7d7e7d 0%,#3d3d3d 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #7d7e7d 0%,#3d3d3d 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#3d3d3d',GradientType=0 ); /* IE6-9 */
			border-color: #565656 !important;
			color: #ccc;
		}
		.floating-header .button:hover { 
			background: #45484d; /* Old browsers */
			background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
			border-color: #000 !important;
		}
		.floating-header #searchbox #site_search {
			background-color: #333;
			border: 0;
			border-bottom: 1px solid #565656;
		}
		.floating-header #site_search:focus { border-color: #ccc; color: #fff; }


	#smart-shopper.top-bar .row ul > li.active { background: #4d4d4d; }

	.logo-set { position: relative; }
	.current-country, .my-account { 
		position: absolute;
		right: 8px;
	}
		.current-country img { 
			margin-left: 12px;
			border: 1px solid #666; 
		   filter: url(../img/grayscale.svg#grayscale);
    		filter: grayscale(100%); 
    		-webkit-filter: grayscale(100%); /* New WebKit */
   		 -moz-filter: grayscale(100%);
    		-ms-filter: grayscale(100%); 
    		-o-filter: grayscale(100%); 
    		filter: gray; /* IE */
    		-webkit-filter: grayscale(1); /* Old WebKit */
    		opacity: 0.8;
		}
		
		.current-country img:hover, .current-country img.selected {
    		filter: grayscale(0); 
    		-webkit-filter: grayscale(0); /* New WebKit */
   		 -moz-filter: grayscale(0);
    		-ms-filter: grayscale(0); 
    		-o-filter: grayscale(0); 
    		filter: gray; /* IE */
    		-webkit-filter: grayscale(0); /* Old WebKit */
    		border: 1px solid #ccc;
		}
		.current-country img:hover {
    		opacity: 1;
    	}

	#main-header.floating-header .my-account { top: 12px; }

	.copyright .current-country { left: 0; top: -5px; width: 100px; }

	/* login - text link on header */
		#main-header .my-account { top: 24px; right: 24px; }
		#main-header .my-account a {
			display: block;
			padding: 12px;
			float: left;
			font-size: 0.813em;
			text-align: center;
			text-transform: uppercase;
			text-decoration: none;
			background: #fff; font-weight: 900; 
		}
			#main-header .my-account a:hover { background: #000; color: #fff; }
		#main-header.floating-header .my-account a { color: #ccc; }
		#main-header.floating-header .my-account a.selected { background: #000; color: #fff; }
		#main-header.floating-header .my-account { top: 4px; }

	/* CONTENTS */

	#content {
		min-height: 300px; margin: 0 0 0 0;
	}

	#crumbs { color: #ccc; margin: 24px 0 21px 0; font-size: 0.875em; }
		#crumbs a { color: #999; text-decoration: none; margin: 0 10px; padding: 0 0 5px 0; }
			#crumbs a:hover { border-bottom: 1px solid #d4d4d4; text-decoration: none; color: #A9190F; }
		#crumbs .home { margin: 0 10px 0 0; }
		#crumbs .current-page { color: #333; font-weight: 600; }


	/* FOOTER */

		#main-footer {
			background: #eee;
			padding: 35px 0 8px 0;
			border-top: 1px solid #d4d4d4;
			color: #7e7e7e;
		}
			#main-footer a { color: #505050; text-transform: uppercase; font-size: 0.875em; }
			.copyright { margin-top: 25px; border-top: 3px solid #d4d4d4; padding: 14px 0 0 0;}
			.copyright .columns { font-size: 0.813em; }
			.copyright .rights { display: block; float: left; margin-left: 100px; }
			.copyright .rights a { margin-left: 12px; }

		.twitter-footer {  }
		.download-apple { margin-right: 14px; }
		
			#main-footer h3 { 
				color: #3b3b3b; 
				margin: 0 0 10px 0; 
				font-size: 1.125em;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: 900;
			}

		#main-footer .social .fb-frame { margin-left: 12px; }


	/* SIDEBAR */

		#sidebar {
			font-size: 0.813em;
			color: #4b4b4b;
			overflow: hidden;
			margin-top: 24px;
		}
			#sidebar h3 { 
				background: #eee;
				color: #3b3b3b; 
				border-bottom: 1px solid #ccc; 
				margin: 0; 
				padding: 14px 10px;
				font-size: 0.813em;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: 900;
			}
			#sidebar .widget { margin-bottom: 42px; border: 1px solid #ccc; }


	/** WIDGETS **/

		#list-contributors {
			height: 250px;
			overflow: auto;
			margin: 0;
			padding: 0 0 0 24px;
			list-style-type: decimal;
		}
			#list-contributors li { margin: 0 0 14px 0; }
			.user-avatar { width: 50px; height: 50px; margin: 0 14px 0 0; }


		#smart-shopper { 
			box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
			position: relative;
			z-index: 900;
			background: #3b3b3b;
			margin: 0;
			top: 0;
		}
		#smart-shopper .row {  }
			#smart-shopper h1 { padding: 14px 15px; margin: 0; color: #fff; font-size: 1em; font-weight: 900; color: #ccc; text-transform: uppercase; letter-spacing: 1px;}
			#smart-shopper .nav-title:hover { background: none; }

		#popular-searches { font-size: 0.813em; padding-top: 8px; }
		#popular-searches:hover { background: none; }
			#popular-searches a:first-child { padding: 0; }
			#popular-searches a { display: inline; margin: 0 8px; color: #a5a5a5;  }
			#popular-searches a:hover { text-decoration: underline; }
			#popular-searches .label { letter-spacing: 1px; color: #a5a5a5; font-size: 0.815em; font-weight: 900; }

	/* HERO shots */
		#hero-html { 
			margin: 0; 
			background: url('../img/bg1.jpg') top center no-repeat #eee; 
			background-size: 100%;
			border-top: 1px solid #fff;
			box-shadow: 0 2px 4px rgba(0,0,0,0.10);
		}
		#hero-html .columns { 
			text-align: center;
			-webkit-transition: all 0.2s ease-in;  
			-moz-transition: all 0.2s ease-in;  
			-o-transition: all 0.2s ease-in; 
			transition: all 0.2s ease-in; 
			padding: 28px 0 14px 0; 
		}
		#hero-html .columns img { width: 166px; height: 165px; margin: 0 auto;
		}
		#hero-html .columns:hover { position: relative; top: 8px; }
		#hero-html .hero-copy { font-size: 0.875em; text-transform: uppercase; font-weight: 900; margin: 14px auto 0 auto; letter-spacing: 1px;  padding: 12px;}
		#hero-html .intro4 { text-align: right; padding: 18px 10px; }
		.intro4 h1 { font-family: 'Carrois Gothic', sans-serif; font-size: 2.5em; line-height: 1.2; margin: 6px 0 0 0; }

		#hero-html.hasbanner .row { width: 100%; }
		#featured-header {
			width: 100% !important;
			min-height: 350px;
			background-repeat: no-repeat !important;
			background-position: center center !important;
		}
			#featured-header .intro-copy {
				font-family: 'Carrois Gothic', sans-serif;
				font-size: 2.5em;
				line-height: 1.2;
				max-width: 40%;
				display: block;
				padding: 36px;
				margin: 4% 5% 0 0;
				border-bottom: 4px solid #000; 
			}
				#featured-header .dark { color: #fff; background: rgba(0,0,0,0.5); text-shadow: 1px 2px 0 rgba(0,0,0,0.8); }
				#featured-header .light { color: #333; background: rgba(255,255,255,0.7); text-shadow: 1px 1px 0 rgba(255,255,255,.8); }
				#featured-header .button { font-size: 0.813em; text-transform: uppercase; max-width: 250px; text-shadow: none; }

	/* DOWNLOAD / DL buttons */
		#main-footer #footer-download a { text-decoration: none; font-size: 0.813em; }
		.dl-button { 
			display: block;
			max-width: 180px;
			padding: 10px;
			border-radius: 4px;
			margin: 0 0 10px 0;
			overflow: auto;
			background: #ffffff; 
			background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); 
			background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); 
			background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); 
			background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
			background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); 
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
			border: 1px solid #ccc;
			box-shadow: 0 2px 2px rgba(0,0,0,0.25);
			position: relative;
		}
			.dl-button img { margin-right: 8px; }
			#main-footer .dl-button:hover { box-shadow: 0 2px 0 rgba(255,255,255,1); top: 2px; }
			.dl-button .bigger { font-weight: 900; text-transform: lowercase; font-size: 1.75em; line-height: 1; }

	/* related products */

		.related-thumb { width: 50px; height: 50px; margin-right: 14px;}

		#list-relproducts li {
			padding: 10px;
			border-bottom: 1px solid #fff;
			font-size: 0.875em;
		}

		#list-relproducts li:hover {
			background: #f7f7f7;
		}



/********* PAGE ELEMENTS: PRICE DETAIL PAGE ***********/

	#content.product-detail h2.single-header { border-bottom: 3px solid #3b3b3b; }

	#store-info, #item-info {
		width: 48%;
	}

	#content.product-detail #item-info { width: 100%; }

	#store-info h3 { 
		font-weight: 600;
		padding: 4.75%;
		margin: 0 0 24px 0;
		font-size: 1.275em;
		background: #3b3b3b;
		color: #ccc;
	}
		#store-info h3 .impt { color: #fff; letter-spacing: 1px; }

	.store-details { margin: 14px 0 0 0;}

	#item-info {
		background: #f4f4f4;
		padding: 12px 20px;
	}
		#item-thumbnail { 
			border: 1px solid #ccc; 
			max-width: 100%; 
			min-height: 150px;
			margin: 7px auto 24px auto;
			overflow: hidden;
			display: block;
		}
		#item-info .back { 
			color: #666; 
			display: block; 
			margin: 12px 0 0 0; 
			border-top: 1px solid #ccc; 
			padding: 10px 0; 
			text-transform: uppercase; 
			letter-spacing: 1px; 
			font-size: 1em; 
			font-weight: 900; 
		}
			#item-info .back:hover { color: #000; }


/* directions */
	#map { max-width: 100%; overflow: none; }
	#map-directions { margin: 24px 0; }



/********* PAGE ELEMENTS: OPTION DETAIL PAGE ***********/

	#content.odp h2.single-header { font-weight: 400; text-align: left; }
	ol#price-list > li:nth-child(odd) {background: #f7f7f7; }
		ol#price-list > li { padding: 24px 12px; border-bottom: 1px solid #ccc;}
		ol#price-list > li:last-child { border: 0;}
	.option-col { width: 23%; margin-right: 2%;}
	.store-details.button { display: block; min-width: 80px;}

	.detail-shop { font-weight: 600; }

	.item-price { color: #b51616; }
	.price-option{ border-bottom: 1px solid #f7f7f7; }

	.branch-contact { margin-top: 16px; }
	.store-website a {
		display: block;
		background: #2d2d2d;
		margin-top: -24px;
		padding: 12px 24px;
		text-align: center;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #fff;
	}
		.store-website a:hover { background: #eaeaea; color: #000; }


/********* PAGE ELEMENTS: PRODUCT DETAIL PAGE ***********/

	#content.product-detail .shop a { color: #4b4b4b; }
		a.store-details span { margin-top: 14px; }
	.post-date a { color: #4b4b4b; font-size: 0.813em; }
	span.detail-branch { font-weight: 400; }

	ul.tabs-content, #item-description { word-wrap: break-word; }

	.tags-box { font-size: 0.75em; float: right; color: #999; margin: 24px 0; border-top: 3px solid #ccc; width: 100%; }
		.tags-box h3 { text-transform: uppercase; letter-spacing: 3px; padding: 12px 0 0 0; }
	ul#item-tags a { color: #999; font-size: 0.875em; }

	div.shop a:hover { text-decoration: underline; }


/********* PAGE ELEMENTS: STORE PAGE ***********/

	.branch-list ul { list-style-type: disc; padding: 7px 24px; }
	.store .featured-products h3, .item-price { margin: 0; }


	.detail-price-single { padding: 7px 14px; }

	.store-description {
		border: 1px solid #ccc;
		padding: 12px;
	}

	.branch-name { margin: 0 0 12px 0; }
	.branch-list ul { 
		display: block;
		overflow: auto;
		max-height: 150px;
	}

	#store-image { width: 100%; max-height: 220px; overflow: hidden; }
		#store-image img { width: 100%; height: auto; }

	#content.store dl.tabs { background: #4c4c4c; border-top: 2px solid #ccc; }
		#content.store dl.tabs dd a { color: #fff; text-transform: uppercase; font-weight: 900; letter-spacing: 2px; }
		#content.store dl.tabs dd.active a { color: #333; }

	#store-tabs { display: block; }
	#content.store dl.tabs.floating-header { border-top: 2px solid #000; }

	h2.store-name { position: relative; }
		h2.store-name a.store-url {
			background: rgba(0,0,0,0.3);
			display: block;
			padding: 6px 12px 12px 12px;
			width: 40px; height: 40px;
			text-align: left;
			position: absolute;
			right: 0;
			bottom: 0;
		}
		h2.store-name a.store-url:hover {
			background: rgba(0,0,0,0.8);
		}


/********* PAGE ELEMENTS: HOMEPAGE ***********/

	#container { position: relative; }

	#container .item {
		float: left;
		width: 29.33%;
		margin: 14px 1.9% 14px 2%;
	}

	#container .item a {
		display: block;
		background: #f7f7f7;
		border: 1px solid #ccc;
		color: #666;

		-webkit-transition: all 0.2s ease-in-out;  
		-moz-transition: all 0.2s ease-in-out;  
		-o-transition: all 0.2s ease-in-out;  
		transition: all 0.2s ease-in-out;
	}

		#container .item a:hover  {
			position: relative;
			top: -5px;
			border: 1px solid #666;
			box-shadow: 0 2px 2px rgba(0,0,0,0.15); 
		}

	.detail-header { 
		display: block;
		float: left;
		width: 49%;
	}
	.item-header { 
		background: #fff;
		width: 100%;
		border-bottom: 1px solid #d4d4d4;
	}
	.item-header h3 { 
		color: #333; 
		font-weight: 600; 
		font-size: 1em; 
		line-height: 1.4;
		margin: 0;
		padding: 10px 16px;
	}

	.promo {
		font-weight: 900;
		padding: 4px 8px;
		display: block;
		background: #333;
		color: #fff;
		margin: 0 14px 14px 14px;
		font-size: 0.75em;
		text-align: center;
		width: 85px;
		border-radius: 4px;
	}
	.price-summary { padding: 7px 14px; }
	.container-thumb { overflow: auto; width: 100px; float: right; }

	.price-lowest { color: #b51616; font-weight: 900; white-space: nowrap; }

	.posted-details { border-top: 1px solid #eee; }
	.user-avatar-small { width: 30px; height: 30px; margin: 7px; opacity: 0.5; }
	.posted-info { font-size: 0.75em; padding: 7px; margin-top: 2px; }


	.pagination { font-weight: 600; margin: 24px auto 0 auto; background: #f7f7f7; padding: 24px 24px 48px 12px; border-top: 1px solid #ccc; }
		.pagination a:hover { text-decoration: underline; }





/********* PAGE ELEMENTS: SERP OR SEARCH PAGE ***********/

	#content.search #sidebar { 
		margin-top: 24px;
	}

	.search-results li a.block {
		margin-bottom: 24px;
		border-width: 1px 1px 1px 1px;
	}
		.search-results li a.block:hover { 	
			border-width: 1px 1px 1px 1px;
			position: relative; top: 0;
		}

	span.results-copy {
		font-size: 1.25em; 
	}



/* ABOUT TAB */

	#about-tab {
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 999;
	}
		#about-tab a { color: #fff; }
		.tab-label { 
			box-shadow: 0 0 4px rgba(0,0,0,0.50);
			display: block; 
			background: #000; 
			padding: 8px 16px;
			width: 160px;
			font-weight: 600;
		}
		#about-tab a.tab-label { color: #ccc; }
		.tab-label .about-logo { margin: 0 0 0 6px;}

	#about-tab article { 
		display: none; 
		background: #000;  
		padding: 8px 16px; 
		width: 240px; 
		color: #fff;
	}
		#about-tab p { font-size: 0.875em; }
		#about-tab h3 { 
			color: #ccc; 
			text-transform: uppercase; 
			font-size: 0.875em; 
			line-height: 1.8; 
			font-weight: 900; 
			border-bottom: 1px solid #333; 
			padding-bottom: 14px; 
		}



/* HUB CATEGORIES */ 

	#hub-categories {
		background: #fff;
		border-top: 1px solid #ccc;
		text-transform: uppercase; 
		letter-spacing: 1px; 
		font-weight: 600;
	}
		#hub-categories ul { border-left: 1px dotted #ccc; margin: 0; }
		#hub-categories ul > li { 
			border-style: dotted;
			border-color: #ccc;
			border-width: 0 1px 1px 0; 
			display: block;
			width: 25%;
			-webkit-transition: all 0.2s ease-in;  
			-moz-transition: all 0.2s ease-in;  
			-o-transition: all 0.2s ease-in;   
			transition: all 0.2s ease-in;
			float: left;
		}
		#hub-categories ul > li:hover { border-bottom: 1px solid #3b3b3b;  background: #f7f7f7;  }
			#hub-categories ul > li:hover a { color: #000;  }
		#hub-categories a { 
			color: #666; 
			display: block;
			width: 100%;
			padding: 6% 8%;
		}
		#hub-categories .label {
			background: #f7f7f7;
			border-top: 1px solid #ccc;
			color: #898989;
			font-size: 0.813em;
			text-align: left;
			padding: 2% 1.8%;
		}
			#hub-categories .label:hover { background: #f7f7f7; border-style: dotted; border-color: #ccc; }
		#hub-categories .current {
			background: #222;
			border-style: solid;
			color: #fff;
			}
			#hub-categories .current a { font-weight: 900; color: #fff; }


	/* ERROR PAGES */

		.error-page {
			background: url('../img/bg1.jpg') top center no-repeat;
			background-size: 100%;
			padding-bottom: 48px;
		}
		div.aisle-sign { 
			text-align: center;
			position: relative;
			top: -50px;
			z-index: 1;
			-webkit-transition: all 0.2s ease-in;  
			-moz-transition: all 0.2s ease-in;  
			-o-transition: all 0.2s ease-in;   
			transition: all 0.2s ease-in;
		}
			#sign-404.aisle-sign:hover {
				top: -40px;
			}
		.aisle-header {
			display: block;
			display: block;
			width: 400px;
			height: 202px;
			margin: auto;
			text-indent: -900%;
		}
			#aisle-404 {
				background: url('../img/error-404@2x.png') center center no-repeat;
				background-size: 400px;
			}

		#sign-500 { 
			position: absolute;
			top: -200px;
			-webkit-transition: all 0.2s ease-in;  
			-moz-transition: all 0.2s ease-in;  
			-o-transition: all 0.2s ease-in; 
			transition: all 0.2s ease-in; 
		}

		#sign-500:hover { top: -130px; }

		#aisle-500.aisle-header {
			width: 467px;
			height: 463px;
			background: url('../img/error-500b@2x.png') center center no-repeat;
			background-size: 467px;
		}

		.error-page h2 { 
			background: #026951;
			width: 400px;
			padding: 12px 24px;
			border: 1px solid #026951;
			color: #fff;
			margin: auto;
			font-size: 1.2em;
			box-shadow: 0 2px 2px rgba(0,0,0,0.3);
		}

		.error-page p.explained { margin: 24px; text-align: center; font-size: 1.25em; margin-top: -20px; }

		#error-500 { height: 400px; }
		#error-500 p.explained {
			text-align: right;
			margin-top: 100px;
		}

		body.error #main-footer {
			background: 0; border: 0;
		}

	/* body search */

		.body-search input[type=text] { 
			border: 1px solid #666;
			background: url('../img/searchicon.png') 12px center no-repeat #fff;
			padding: 24px 24px 24px 48px;
			margin: 0 8px 0 0;
			font-size: 2em;
		}
			.body-search input[type=text]:focus { border: 2px solid #666; }
		.body-search a.button { 
			border-color: #666;
			padding-top: 10px;
			font-size: 2em;
			height: 50px;
			background: #b3181d !important;
			color: #fff;
		}
			.body-search a.button:hover, .body-search a.button-active { background: #8c0f0f; border: 2px solid #666; height: 51px; }

		#error-500 .body-search a.button { font-size: 1.25em; padding-top: 14px;}


.top-bar ul li.toggle-topbar { width: 100%; }

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

	@media screen and (max-width: 1024px) {
		#searchbox { min-width: 50%;}
	}

	@media screen and (max-width: 1025px) {
		 #container .item { width: 46%;  }
		 ol#price-list > li { padding: 12px; }
		 .price-option .price-header .price, 
		 .price-option .price-header .store { font-size: 1.25em !important; }
		 .price-option  .viewmore { top: 0; width: 18px; }
	}

	@media handheld, only screen and (max-width: 767px) {

	h2.single-header, .store-name { 
		border-top: 0;
	}
		#content { min-height: 0; padding: 0; }
		#main-header { border: 0; padding-bottom: 8px;
			background: #ffffff;
			background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee));
			background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
			background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
			background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%);
			background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%);
		}
			#logo { margin: 0 14px; width: 174px; height: 34px; }
			#main-header.floating-header .row { padding: 8px 0;}
			#main-header.floating-header #logo { width: 174px; height: 34px; background-size: 174px  !important; margin-right: 12px;}
			.logo-set, #main-header.floating-header .logo-set { display: block; float: left; }

			#searchbox, #main-header.floating-header #searchbox { display: none; min-width: 150px; }
			#searchbox, #main-header.floating-header #searchbox { margin: 0; padding: 0; }
				#site_search, #site_search:focus { width: 180px; }
				#searchbox .button { display: none; }
			.my-account { display: none; }

		#smart-shopper li.has-flyout { margin-left: 0; }
		#smart-shopper li.has-flyout { overflow: hidden; }
		#smart-shopper li { border-bottom: 1px solid #000; border-top: 1px solid #666; }

		.top-bar ul li.toggle-topbar:hover { background: none; }
		.top-bar ul.dropdown > li a { 
				border-top: 1px solid #333;
			}
		.top-bar ul li.has-dropdown.moved .back.title h5 a { text-transform: uppercase; font-size: 1.25em; border: 0; }
		.top-bar ul li.has-dropdown.moved .back.title { background: #333; }

		.innercol, #container .item { width: 100% !important; display: block; float: none; margin: 14px 0; overflow: visible; }

		#fb-widget, #crumbs, #popular-searches, .subheader, #about-tab, .tags-box, #hero-html, #main-footer .social
			{ display: none; }

		.posted-info { display: inline-block; position: relative; top: -4px; }

		/* tabs */
		dl.tabs { height: auto; }
		dl.tabs dd {
			float: none;
		}
			dl.tabs dd a { background: #f7f7f7; border-top: 1px solid #ccc; font-weight: 900; }
			dd.active { border: 0 !important; }
			dd.active a {
				background: #B51616 !important;
				border-top: 0 !important;
				color: #fff !important;
			}

		h3.mobile-hidden-header { 
			background: #000;
			color: #fff;
			padding: 18px;
			margin: 24px -15px 0 -15px;
			text-transform: uppercase;
			font-weight: 900;
			letter-spacing: 2px;
			position: relative;
			cursor: pointer;
		}
		h3.mobile-hidden-header span.arrow,
			#main-footer h3 span.arrow {
			top: 100%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		h3.mobile-hidden-header span.arrow,
			#main-footer h3 span.arrow  {
			border-color: rgba(255, 255, 255, 0);
			border-top-color: #ffffff;
			border-width: 8px;
			right: 22.5px;
			margin-top: -30px;
		}

		#main-footer h3 { position: relative; }
			#main-footer h3 span.arrow { border-top-color: #3b3b3b; }


		.mobile-hide { display: none; }
			.mobile-hide.open { display: block; }
		.mobile-visible { display: inline-block; visibility: visible; }

		/* widgets */
		#sidebar .widget, #sidebar h3  { margin: 0; }
		.widget-content { display: none; padding: 14px; margin: 0; }
		#sidebar .widget-content ul li a { color: #333 !important; }

		#main-footer .dl-button  { max-width: none; width: 100% !important; }
			.dl-button img { float: left; padding-left: 15px; }
		#main-footer a { font-size: 1em; padding: 12px 0; display: block; border-bottom: 1px #ccc; }

		#sidebar { padding: 0; margin: 0 0 24px 0; border: 1px solid #d4d4d4;}

		#sidebar h3, #main-footer h3 {
			padding: 20px; 
			font-size: 1em;	
			cursor: pointer;
			margin-bottom: 0;
			border-bottom: 1px solid #999;
		}
		#sidebar h3 { background: #2d2d2d; color: #fff; border-top: 0; }
		#main-footer h3 {
			background: #eee;
			border-top: 1px solid #fff;
		}


		.related-thumb.left { float: left; }

		/* footer */
			.copyright { margin: 0; padding-bottom: 24px; }
			#main-footer { padding: 0; }
			#main-footer .four.columns 	{
				display: block;
				padding: 0;
				margin: 0;
			}

		/* featured and shop */

			#featured-header {
				background-position: center center;
			}

			.price-option, .price-option:last-child {
				border: 2px solid #ccc;
				padding: 14px;
				background: #f7f7f7;
			}
				.ugc-info { font-size: 0.813em; }
				.price-option .price { font-size: 1.2em; }
				.price-option p {margin:0;}
				.price-option .more-info { font-style: italic; }



		/*******

			STYLE CHANGES FOR MOBILE VIEW

		*******/

			body { 
				background: #ededed;
			}
			#main-header { 
				border-bottom: 1px solid #ccc;
		  		box-shadow: 0 0 3px 0 rgba(0,0,0,0.25);
			}
				.floating-header #logo { width: 174px; height: 34px; background-size: 174px 34px !important; }

			#main-footer h3 { background: #fff; border-left: 5px solid #ccc; }

			#content.odp h2.single-header, #content.product-detail h2.single-header, #content.store h2 { 
				text-align: left !important; 
				border: 0; margin-top: 0; 
				text-transform: none; 
				letter-spacing: 0;
			}

			.widget-content { background: #f7f7f7; }


		/* homepage / featured */

			#container .item a, li.price-option { 
				border: 1px solid #999; 
				box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25); 
			} 
				#container .item a:hover { 
					border: 1px solid #999; 
					box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25); 
				}

			ul.pagination { 
				border-top: 2px solid #666;
				float: none;
				width: 100%;
				clear: both;
				padding: 12px 2px;
				background: none;
				margin: 0 0 24px 0;
			}

		/* option detail page */

			#item-info, #store-info h3, #store-info article, #map-directions, 
				article.branch-address, article.branch-contact, article.branch-list { 
				background: #fff; padding: 14px; 
				box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
			}
				#item-info h3 { margin: 7px 0 24px 0; }

			#store-info h3 { border-top: 4px solid #B51616; background: #79171a; }

			#map-directions {
				border-top: 4px solid #2B2B2B;
			}

			.reveal-modal { background: #eee; margin-left: -50%; }
				.reveal-modal h3 { margin-top: 24px !important; }

			#item-thumbnail { max-width: 100%; margin: 0 auto 24px auto; }

			#price-list li { margin-bottom: 24px; }
			#price-list li.price-option:last-child { border: 1px solid #999; }

			.comments.open { padding: 20px 0; border-bottom: 2px solid #999; }



		/* product detail page */

			dl.tabs { 
				margin: 14px -15px;
				border-bottom: 2px solid #666;
				text-transform: uppercase;
				letter-spacing: 1px;
			}

		/* store */
			#content.store .six article { margin-bottom: 24px; }


		/* categories */

			#hub-categories { background: #3b3b3b; }
			#hub-categories .innercol { margin: 0 !important; }
			#hub-categories #cat-list li { border-bottom: 1px solid #000; border-top: 1px solid #666;}
			#hub-categories a { color: #fff; border: 0; padding: 3% 5% 3% 10%; }
			#hub-categories .label { font-size: 1em; padding: 4%; }


	}


/* ========================================== */
/* ! Provide higher res assets for retina     */
/* ========================================== */

	@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

		#logo {
			background-size: 174px 34px;
		}
			.floating-header #logo { width: 174px; height: 34px; background-size: 174px; }
		#site_search, #content_site_search { 
			background: url('../img/searchicon@2x.png') 8px center no-repeat #fff;
			background-size: 14px 14px;
		}
		#content_site_search { background-position: 16px center;}
		#main-header.floating-header .row { padding: 8px 0 0 0; }
	}

	@media only screen and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {

		#logo {
			background-size: 174px 34px;
		}
			.floating-header #logo { width: 174px; height: 34px; background-size: 174px; }

	}


