
   /** WIDGETS **/

      #list-contributors {
         height: 250px;
         overflow: auto;
         margin: 0;
         padding: 0 0 0 24px;
         list-style-type: decimal;
      }
         #list-contributors li { margin: 0 0 14px 0; }
         .user-avatar { width: 50px; height: 50px; margin: 0 14px 0 0; }

      #smart-shopper { 
         box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
         position: relative;
         z-index: 1;
         background: #eee;
         margin: 0;
         top: 0;
      }
      #smart-shopper .row { }
      #smart-shopper section {  }
         #smart-shopper h1 { padding: 14px 15px 14px 15px; margin: 0; color: #333; font-size: 1em; font-weight: 900; text-transform: uppercase; letter-spacing: 1px;}
         #smart-shopper .nav-title:hover { background: none; }
      #smart-shopper a { 
         -webkit-transition: none;  
         -moz-transition: none;   
         -o-transition: none;  
         transition: none;  
         color: #5e5e5e;
      }

      .top-bar ul > li.has-dropdown .dropdown,
      .top-bar ul > li.has-dropdown .dropdown li, 
      #smart-shopper.top-bar ul > li.has-dropdown a:hover,
      #smart-shopper.top-bar a:hover
       {
         background: #333;
         color: #fff;
      }
      #smart-shopper.top-bar ul > li.has-dropdown .dropdown li a {
         color: #fff;
         background: #333;
      }
      #smart-shopper.top-bar .row ul > li.active, 
      #smart-shopper li.has-dropdown.active a.active { background: #fff; }
      #smart-shopper.top-bar .row ul > li > ul.dropdown > li { background: none; }
      .top-bar ul > li.divider { background: #ccc; 
         box-shadow: 1px 0 0 rgba(255, 255, 255, 0.5); 
      }
      .top-bar ul > li.has-dropdown .dropdown {
         box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5);
         height: auto;
      }

      .top-bar ul > li.has-dropdown a::after {
         border-color: #333 transparent transparent transparent;
      }

      .top-bar ul > li.has-dropdown a:hover:after {
         border-color: #fff transparent transparent transparent;
      }

   /* DOWNLOAD / DL buttons */
      #main-footer #footer-download a { text-decoration: none; font-size: 0.813em; }
      .dl-button { 
         display: block;
         max-width: 180px;
         padding: 10px;
         border-radius: 4px;
         margin: 0 0 10px 0;
         overflow: auto;
         background: #ffffff; 
         background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
         background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); 
         background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); 
         background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); 
         background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
         background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); 
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
         border: 1px solid #ccc;
         box-shadow: 0 2px 2px rgba(0,0,0,0.25);
         position: relative;
      }
         .dl-button img { margin-right: 8px; }
         #main-footer .dl-button:hover { box-shadow: 0 2px 0 rgba(255,255,255,1); top: 2px; }
         .dl-button .bigger { font-weight: 900; text-transform: lowercase; font-size: 1.75em; line-height: 1; }


   /* ERROR MODAL */

      #errorModal .button { margin-bottom: 12px; }
