.picker-search-button {
  margin-bottom: 24px;
}
#branchAddress-picker {
  z-index: 1;
}


.keywords .row {
  position: relative;
  overflow: auto;
}
.input-keywords { 
  height: 40px; 
}
.input-alert {
  position: absolute;
  left: -160px;
  width: 150px;
  text-align: center;
}


.reveal-modal .close-reveal-modal.button {
  font-size: 1em;
  position: relative;
  top: 0;
  color: #fff;
}


/* Add page */

.upload-images {
  margin: 24px 0;
}

.upload-images img {
  max-width: 200px;
}

td.pageno {
  text-align: center;
}