@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic|Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
/* MEDIA QUERIES */
/* FONTS */
/* COLORS */
/* #edf5f6 */
/* line 41, ../sass/styles.scss */
a:link, a:active, a:visited {
  color: #3d3d3d;
}

/* line 45, ../sass/styles.scss */
a.button {
  color: white;
  text-decoration: none !important;
}

/* FORMS */
/* line 51, ../sass/styles.scss */
.button {
  background: #b3181d;
  border: 1px solid #9b1111;
}
/* line 55, ../sass/styles.scss */
.button:hover {
  background: black;
  border-color: black;
}

/* line 59, ../sass/styles.scss */
.button-minor {
  color: black;
  font-weight: 700;
  padding: 0.75em;
  display: block;
  border: 2px solid black;
  margin-top: 0.75em;
  font-size: 0.75em;
}
/* line 68, ../sass/styles.scss */
.button-minor:hover {
  text-decoration: none !important;
  color: #b3181d;
  border-color: #b3181d;
}
/* line 74, ../sass/styles.scss */
.button-minor.home-more {
  font-size: 1.125em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 1.5em 0;
  font-family: "Montserrat", sans-serif, helvetica;
}

/* line 83, ../sass/styles.scss */
.main-header .button {
  margin: 0;
  background-color: #1c3755;
  border-color: #1c3755;
  font-weight: 300;
  font-size: 0.6875em;
}
/* line 90, ../sass/styles.scss */
.main-header .button:hover, .main-header .button:active {
  background: #b3cada;
  color: #1c3755;
}

/* ANIMATIONS */
/* BORDERS */
/* line 102, ../sass/styles.scss */
.top-bar-section > ul > .divider {
  border-left: 1px solid #2c6289;
  border-right: 1px solid #000;
}

/* TYPOGRAPHY */
/* line 109, ../sass/styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif, helvetica;
}

/* line 113, ../sass/styles.scss */
.main-header, .sidebar-header {
  margin: 0;
  padding: 15px;
  color: white;
  background: #2c6289;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25em;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

/* line 130, ../sass/styles.scss */
.sidebar-header {
  background: #b3cada;
  color: #1c3755;
}

/* line 135, ../sass/styles.scss */
.label {
  background: #b3cada;
  color: black;
  font-weight: 700;
}

/* line 142, ../sass/styles.scss */
section h3.sub-header {
  background: #b3cada;
  color: #1c3755;
  margin: 0 0 1.5em 0;
  padding: 0.25em 0.75em;
  font-size: 1.125em;
}

/* line 151, ../sass/styles.scss */
.location {
  color: #b3181d;
}

/* CAROUSELS */
/* line 159, ../sass/styles.scss */
.gallery-carousel a.item {
  display: block;
  float: left;
  color: black;
  line-height: 1.4;
  margin: 0 0.75em;
  overflow: hidden;
  border: 0;
}
/* line 168, ../sass/styles.scss */
.gallery-carousel img {
  max-width: 120px;
  margin: auto;
}
/* line 172, ../sass/styles.scss */
.gallery-carousel .cat-info {
  font-size: 1em;
  padding: 0.375em 0.75em;
  border-bottom: 2px solid black;
}
/* line 177, ../sass/styles.scss */
.gallery-carousel .title {
  font-weight: 700;
}
/* line 179, ../sass/styles.scss */
.gallery-carousel .thumb {
  overflow: hidden;
  text-align: center;
}

/* line 183, ../sass/styles.scss */
#brand-carousel a {
  display: block;
  height: 100px;
}

/* line 190, ../sass/styles.scss */
#branch-carousel .item, #store-carousel .item {
  width: 250px;
  float: left;
  list-style-type: none;
}

/* line 194, ../sass/styles.scss */
#store-carousel img {
  width: 100%;
  max-width: none;
}

/* line 200, ../sass/styles.scss */
.promos-near {
  background: rgba(255, 255, 255, 0.7);
  padding: 1.5em 0.75em;
  overflow: hidden;
  border: 3px solid #1c3755;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}
/* line 207, ../sass/styles.scss */
.promos-near .cat-item {
  position: relative;
}
/* line 210, ../sass/styles.scss */
.promos-near .gallery-carousel img {
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  margin: 4px;
  display: inline-block;
  vertical-align: middle;
  height: 200px;
  width: auto;
  max-width: none;
}
/* line 221, ../sass/styles.scss */
.promos-near .thumb {
  position: relative;
}
/* line 224, ../sass/styles.scss */
.promos-near .cat-info {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
  -o-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}
/* line 241, ../sass/styles.scss */
.promos-near h3 {
  position: relative;
  top: 35%;
  text-align: center;
  padding: 0.75em 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: block;
}
/* line 251, ../sass/styles.scss */
.promos-near a, .promos-near h3 {
  color: white;
}
/* line 256, ../sass/styles.scss */
.promos-near a:hover .cat-info {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

/* line 264, ../sass/styles.scss */
.orbit-slides-container {
  background: #fff;
}

/* line 268, ../sass/styles.scss */
.promos-brands {
  background: #fff;
  padding: 0.75em 0;
  margin: 0 0 1.5em 0;
}
/* line 273, ../sass/styles.scss */
.promos-brands img {
  max-width: none;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}

/* line 281, ../sass/styles.scss */
.vert-carousel-trigger {
  font-size: 0;
  height: 35px;
  background: white;
}
/* line 286, ../sass/styles.scss */
.vert-carousel-trigger a {
  display: block;
  width: 100%;
  height: 35px;
  text-align: center;
  padding-top: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
/* line 299, ../sass/styles.scss */
.vert-carousel-trigger a:hover {
  background: #eeeeee;
}

/* GRIDS */
/* line 308, ../sass/styles.scss */
.results-grid li.item, .featured-grid li.item {
  overflow: visible;
  position: relative;
  /*
  @media only screen and (min-width: $break-small) {
    width: 100%;
  }
  */
}
@media only screen and (min-width: 20em) and (max-width: 30em) {
  /* line 308, ../sass/styles.scss */
  .results-grid li.item, .featured-grid li.item {
    width: 50%;
  }
}
@media only screen and (min-width: 47.9375em) and (max-width: 75em) {
  /* line 308, ../sass/styles.scss */
  .results-grid li.item, .featured-grid li.item {
    width: 33.3333%;
    font-size: 0.8125em;
  }
}
@media only screen and (min-width: 76em) {
  /* line 308, ../sass/styles.scss */
  .results-grid li.item, .featured-grid li.item {
    width: 20%;
  }
}
@media only screen and (min-width: 20em) and (max-width: 47.9375em) {
  /* line 332, ../sass/styles.scss */
  .results-grid li.item > a, .featured-grid li.item > a {
    background: #f9f9f9;
    overflow: auto;
    padding-top: 0;
    border-top: 2px solid #3d3d3d;
  }
  /* line 338, ../sass/styles.scss */
  .results-grid li.item .thumb, .featured-grid li.item .thumb {
    text-align: center;
  }
  /* line 341, ../sass/styles.scss */
  .results-grid li.item h4, .featured-grid li.item h4 {
    font-size: 1.2em;
    line-height: 1.5;
  }
  /* line 345, ../sass/styles.scss */
  .results-grid li.item .cat-info, .featured-grid li.item .cat-info {
    border: 0;
    background: white;
    padding: 0.75em;
  }
}
/* line 351, ../sass/styles.scss */
.results-grid .cat-thumb, .featured-grid .cat-thumb {
  position: relative;
  display: block;
  clear: both;
  margin-bottom: 24px;
}
/* line 357, ../sass/styles.scss */
.results-grid .cat-thumb a, .featured-grid .cat-thumb a {
  position: relative;
  display: block;
  color: black;
  overflow: visible;
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
  -o-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
/* line 358, ../sass/styles.scss */
.results-grid .cat-thumb a:hover, .featured-grid .cat-thumb a:hover {
  top: -10px;
}
/* line 372, ../sass/styles.scss */
.results-grid .cat-thumb .thumb, .featured-grid .cat-thumb .thumb {
  text-align: center;
  overflow: hidden;
  border: 3px solid white;
  max-height: 300px;
}
/* line 379, ../sass/styles.scss */
.results-grid .cat-thumb img, .featured-grid .cat-thumb img {
  max-width: none;
  width: 100%;
  height: auto;
  margin: auto;
}
/* line 386, ../sass/styles.scss */
.results-grid .cat-thumb .cat-info, .featured-grid .cat-thumb .cat-info {
  width: 100%;
  padding: 0.75em;
  overflow: visible;
  font-size: 0.813em;
  line-height: 1.4;
  border-top: 3px solid #3d3d3d;
  -moz-transition: ease-in-out all 0.5s;
  -webkit-transition: ease-in-out all 0.5s;
  -o-transition: ease-in-out all 0.5s;
  transition: ease-in-out all 0.5s;
}
/* line 399, ../sass/styles.scss */
.results-grid .cat-thumb h4, .featured-grid .cat-thumb h4 {
  color: black;
}
/* line 403, ../sass/styles.scss */
.results-grid .cat-thumb .cat-title, .featured-grid .cat-thumb .cat-title {
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1.4;
}
/* line 411, ../sass/styles.scss */
.results-grid.new-grid .thumb, .featured-grid.new-grid .thumb {
  margin: 0;
  width: 100%;
  max-height: 200px;
  background: white;
}
/* line 417, ../sass/styles.scss */
.results-grid.new-grid a, .featured-grid.new-grid a {
  background: #ededed;
  border-top: 3px solid #3d3d3d;
}
/* line 422, ../sass/styles.scss */
.results-grid.new-grid .cat-info, .featured-grid.new-grid .cat-info {
  background: #f9f9f9;
  border-width: 1px;
}
/* line 429, ../sass/styles.scss */
.results-grid.featured-grid a, .featured-grid.featured-grid a {
  background: white;
}
@media (min-width: 20em) and (max-width: 47.9375em) {
  /* line 429, ../sass/styles.scss */
  .results-grid.featured-grid a, .featured-grid.featured-grid a {
    background: white;
    overflow: auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }
}

/* line 443, ../sass/styles.scss */
.results .item {
  padding: 1.5em 0;
  border-bottom: 1px solid #8c8c8c;
  /* media query */
}
/* line 448, ../sass/styles.scss */
.results .item:hover .button {
  opacity: 1;
}
/* line 453, ../sass/styles.scss */
.results .item h2 {
  font-size: 1.375em;
}
@media only screen and (min-width: 20em) and (max-width: 47.9375em) {
  /* line 443, ../sass/styles.scss */
  .results .item {
    background: #ededed;
    border: 1px solid #8c8c8c;
    margin: 1.25em 0;
    padding: 0.9375em 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    text-align: center;
  }
  /* line 465, ../sass/styles.scss */
  .results .item img {
    display: block;
    margin: 0.75em auto;
  }
  /* line 467, ../sass/styles.scss */
  .results .item a img {
    margin-top: 0.75em;
  }
  /* line 469, ../sass/styles.scss */
  .results .item h2 {
    margin-top: 0.75em;
    font-size: 1.125em;
  }
  /* line 471, ../sass/styles.scss */
  .results .item .button {
    margin: 0 auto 1.5em auto;
    opacity: 1 !important;
  }
}
/* line 476, ../sass/styles.scss */
.results .item .button {
  opacity: 0;
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
  -o-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}

@media only screen and (min-width: 30em) and (max-width: 64em) {
  /* line 488, ../sass/styles.scss */
  .results-list .row .columns {
    width: 50%;
    text-align: left;
  }
  /* line 489, ../sass/styles.scss */
  .results-list .row .small-12.large-3 {
    width: 50%;
  }
  /* line 492, ../sass/styles.scss */
  .results-list .row .small-12.large-4 {
    width: 100%;
  }
  /* line 495, ../sass/styles.scss */
  .results-list .item h2 {
    margin-top: 1.5em;
  }
}
@media only screen and (min-width: 47.9375em) and (max-width: 61.1875em) {
  /* line 498, ../sass/styles.scss */
  .results-list .row .large-4 {
    width: 100% !important;
    display: block;
    float: none;
    clear: both;
  }
}
/* line 505, ../sass/styles.scss */
.results-list .item:hover {
  background: #ededed;
}

/* line 512, ../sass/styles.scss */
.establishments .label {
  background: none;
  color: black;
  margin: 0;
  font-weight: 700;
  padding: 0 0.375em 0 0 !important;
}
/* line 520, ../sass/styles.scss */
.establishments .item {
  border: 0;
}
/* line 522, ../sass/styles.scss */
.establishments .item img {
  margin-bottom: 1.5em;
  max-width: 80%;
}
/* line 523, ../sass/styles.scss */
.establishments .item h2 {
  font-size: 1.2em;
}
@media only screen and (min-width: 20em) and (max-width: 30em -1) {
  /* line 526, ../sass/styles.scss */
  .establishments .results-grid {
    padding: 0 !important;
    margin: 0 -24px;
  }
  /* line 531, ../sass/styles.scss */
  .establishments .results-grid img {
    max-width: 80%;
  }
}
@media only screen and (min-width: 30em) and (max-width: 61.1875em) {
  /* line 526, ../sass/styles.scss */
  .establishments .results-grid {
    padding: 0 !important;
  }
  /* line 536, ../sass/styles.scss */
  .establishments .results-grid img {
    max-width: 80%;
  }
}
/* line 539, ../sass/styles.scss */
.establishments .results-grid .item {
  padding: 0.75em;
  background: none;
  box-shadow: none;
}
@media only screen and (min-width: 20em) and (max-width: 29em) {
  /* line 539, ../sass/styles.scss */
  .establishments .results-grid .item {
    width: 100%;
    padding: 0;
    margin: 0.75em 0;
  }
}
@media only screen and (min-width: 30em) {
  /* line 539, ../sass/styles.scss */
  .establishments .results-grid .item {
    width: 50%;
    font-size: 0.8125em;
    text-align: left;
    clear: none;
  }
}
/* line 557, ../sass/styles.scss */
.establishments .results-grid .item h2 {
  margin-top: 0;
}
/* line 559, ../sass/styles.scss */
.establishments .results-grid .item:hover {
  background: none;
}
/* line 563, ../sass/styles.scss */
.establishments .results-grid .item-container {
  padding: 1.5em 0.75em;
  background: #ededed;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid #ccc;
  position: relative;
  display: block;
  overflow: auto;
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
  -o-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}
/* line 576, ../sass/styles.scss */
.establishments .results-grid .item-container:hover {
  top: -12px;
}
/* line 580, ../sass/styles.scss */
.establishments .results-grid .item-container .store-details {
  padding: 0 0.75em;
}

@media (min-width: 20em) and (max-width: 47.9375em) {
  /* line 593, ../sass/styles.scss */
  .featured-grid li.item .thumb {
    margin: 0.375em;
    /* height: 100px; */
  }
  /* line 600, ../sass/styles.scss */
  .featured-grid .cat-thumb .cat-info {
    float: right;
    background: none;
    border: 0;
  }
}

/* line 610, ../sass/styles.scss */
.no-tab {
  padding: 0.9375em;
}

/* line 616, ../sass/styles.scss */
.seo-list .results-grid .item {
  margin-bottom: 0.75em;
  position: relative;
}
/* line 617, ../sass/styles.scss */
.seo-list .results-grid .item-container {
  padding: 0.75em;
  background: white;
  border: 1px solid #eeeeee;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
  -o-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}
/* line 627, ../sass/styles.scss */
.seo-list .results-grid .item-container:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0);
  border-color: #8c8c8c;
}
/* line 633, ../sass/styles.scss */
.seo-list .results-grid .button-minor {
  border-color: #eeeeee;
}
@media only screen and (min-width: 20em) and (max-width: 29em) {
  /* line 638, ../sass/styles.scss */
  .seo-list .results-grid li {
    width: 100%;
  }
}
@media only screen and (min-width: 30em) and (max-width: 47.9375em) {
  /* line 642, ../sass/styles.scss */
  .seo-list .results-grid li {
    width: 50%;
    float: left;
    clear: none;
  }
}
/* line 646, ../sass/styles.scss */
.seo-list.links-list {
  padding-bottom: 1.5em;
}
/* line 649, ../sass/styles.scss */
.seo-list.links-list [class*="block-grid-"] > li {
  display: list-item;
  list-style-type: square;
  list-style-position: inside;
  color: #ededed;
}
/* line 656, ../sass/styles.scss */
.seo-list.links-list a:hover {
  border-bottom: 1px solid #8c8c8c;
}

/* GENERAL */
/* line 665, ../sass/styles.scss */
body {
  font-family: "Noto Sans", sans-serif, helvetica;
  background: #f9f9f9;
}

/* line 670, ../sass/styles.scss */
.breadcrumbs {
  padding: 0 0.875em;
  background: none;
  border: 0;
  margin-top: -12px;
}
/* line 676, ../sass/styles.scss */
.breadcrumbs li a, .breadcrumbs li span {
  color: #2c6289;
}
/* line 679, ../sass/styles.scss */
.breadcrumbs li div {
  display: inline;
}
/* line 680, ../sass/styles.scss */
.breadcrumbs li div a span {
  font-size: 1em;
}

/* line 682, ../sass/styles.scss */
.pagination {
  margin: 0.9375em 0;
  height: 2.25em;
}
/* line 685, ../sass/styles.scss */
.pagination li {
  height: auto;
}
/* line 687, ../sass/styles.scss */
.pagination li a {
  background: #ededed;
  display: block;
  color: #3d3d3d;
  padding: 0.5em 1em;
}
/* line 688, ../sass/styles.scss */
.pagination li a:hover {
  background: #2c6289;
  color: white;
}
/* line 691, ../sass/styles.scss */
.pagination li.current a {
  background: #b3181d;
}
/* line 693, ../sass/styles.scss */
.pagination li.current a:hover {
  background: #3d3d3d;
}
/* line 695, ../sass/styles.scss */
.pagination li.unavailable a:hover {
  color: #8c8c8c;
}
@media (min-width: 20em) and (max-width: 47.9375em) {
  /* line 698, ../sass/styles.scss */
  .pagination li {
    display: none;
  }
  /* line 699, ../sass/styles.scss */
  .pagination li.arrow {
    display: block;
  }
}

/* line 704, ../sass/styles.scss */
.primary-content h2 {
  font-size: 1.5em;
}

/* line 710, ../sass/styles.scss */
.sub-content h3 {
  font-size: 0.75em;
  color: #2c6289;
}

/* line 716, ../sass/styles.scss */
.desktop-only {
  display: none;
}
@media (min-width: 60.1875em) {
  /* line 716, ../sass/styles.scss */
  .desktop-only {
    display: block;
  }
}

/* line 723, ../sass/styles.scss */
.mobile-only {
  display: none;
}
/* line 726, ../sass/styles.scss */
.mobile-only.drop-down {
  background: #3d3d3d;
  padding: 0.9375em;
  color: white;
  text-decoration: none !important;
  line-height: 1.4;
  font-family: "Montserrat", sans-serif, helvetica;
}
/* line 734, ../sass/styles.scss */
.mobile-only span.arrow {
  float: right;
  margin: 0.25em 0.9375em;
}
@media (min-width: 20em) and (max-width: 29em) {
  /* line 723, ../sass/styles.scss */
  .mobile-only {
    display: block;
  }
}

@media (min-width: 20em) and (max-width: 29em) {
  /* line 744, ../sass/styles.scss */
  .mobile-hide {
    display: none;
  }
}

/* line 752, ../sass/styles.scss */
.content.single-content {
  padding: 0.9375em 1.5em;
}
/* line 754, ../sass/styles.scss */
.content .drop-down {
  margin: 0 -0.9375em -0.9375em -0.9375em;
}

/* line 759, ../sass/styles.scss */
.section-container section .content > *:first-child, .section-container .section .content > *:first-child, .section-container.auto section .content > *:first-child, .section-container.auto .section .content > *:first-child {
  padding: 1.5em;
}

/* line 761, ../sass/styles.scss */
.section-container section .content.list-promotions > *:first-child, .section-container .section .content.list-promotions > *:first-child, .section-container.auto section .content.list-promotions > *:first-child, .section-container.auto .section .content.list-promotions > *:first-child {
  padding: 0 0 0.9375em 0;
}

/* line 763, ../sass/styles.scss */
.mbottom {
  margin-bottom: 1.5em;
}

/* HEADER */
/* line 767, ../sass/styles.scss */
.top-bar {
  background: #1c3755;
}
/* line 770, ../sass/styles.scss */
.top-bar .toggle-topbar.search-icon {
  position: absolute;
  top: 0;
  right: 40px;
}
/* line 775, ../sass/styles.scss */
.top-bar .toggle-topbar.search-icon span {
  background: url("../img/icon-search.png") 10px 4px no-repeat;
  background-size: 18px;
  top: 8px;
}
/* line 782, ../sass/styles.scss */
.top-bar .toggle-topbar.loc-icon {
  position: absolute;
  top: 0;
  right: 80px;
}
/* line 787, ../sass/styles.scss */
.top-bar .toggle-topbar.loc-icon span {
  background: url("../img/icon-loc.png") 10px 6px no-repeat;
  background-size: 14px;
  top: 6px;
}
/* line 794, ../sass/styles.scss */
.top-bar .icon {
  display: block;
  width: 34px;
  height: 34px;
  position: relative;
}

/* line 801, ../sass/styles.scss */
.top-bar-section ul li > a, .top-bar-section li a:not(.button), .top-bar-section .has-form {
  background: #1c3755;
}

/* line 805, ../sass/styles.scss */
#main-header .name {
  background: #b3181d;
}
/* line 807, ../sass/styles.scss */
#main-header .name h1 {
  width: 184px;
  height: 60px;
  overflow: hidden;
}
/* line 812, ../sass/styles.scss */
#main-header .name h1 a {
  line-height: 0%;
  font-size: 0;
  color: transparent;
  overflow: hidden;
}
/* line 818, ../sass/styles.scss */
#main-header .name .logo-img {
  margin-top: 8px;
  margin-right: -8px;
}

/* line 823, ../sass/styles.scss */
#main-header label {
  color: #ededed;
  font-weight: 300;
}

/* line 828, ../sass/styles.scss */
.breadcrumbs li:before {
  content: "›";
}

/* line 835, ../sass/styles.scss */
.top-bar-section .has-form.search {
  width: 400px;
}
/* line 837, ../sass/styles.scss */
.top-bar-section .has-form.search input[type=search] {
  background: #2b4968;
  border-color: #162c42;
  color: white;
}
/* line 842, ../sass/styles.scss */
.top-bar-section .has-form.search ::-webkit-input-placeholder {
  color: #6182a3;
}
/* line 845, ../sass/styles.scss */
.top-bar-section .has-form.search :-moz-placeholder {
  color: #6182a3;
}
/* line 848, ../sass/styles.scss */
.top-bar-section .has-form.search ::-moz-placeholder {
  color: #6182a3;
}
/* line 851, ../sass/styles.scss */
.top-bar-section .has-form.search :-ms-input-placeholder {
  color: #6182a3;
}

/* line 855, ../sass/styles.scss */
.top-bar-section .has-form.location-search {
  background: #fff !important;
}
@media (min-width: 20em) and (max-width: 60.1875em) {
  /* line 855, ../sass/styles.scss */
  .top-bar-section .has-form.location-search {
    padding-top: 0;
    padding-bottom: 0;
  }
  /* line 861, ../sass/styles.scss */
  .top-bar-section .has-form.location-search form {
    margin: 0;
  }
  /* line 865, ../sass/styles.scss */
  .top-bar-section .has-form.location-search #header-location {
    margin-bottom: 0;
  }
}

/* line 869, ../sass/styles.scss */
.row .row.collapse.wide {
  width: 200%;
}
@media (min-width: 20em) and (max-width: 75em) {
  /* line 869, ../sass/styles.scss */
  .row .row.collapse.wide {
    width: 160%;
  }
}

/* line 876, ../sass/styles.scss */
.all-category-links {
  background: white;
  padding: 0 0.9375em;
  border-left: 1px solid #8c8c8c;
  border-right: 1px solid #8c8c8c;
  border-bottom: 2px solid #3d3d3d;
  font-size: 0.875em;
}
/* line 884, ../sass/styles.scss */
.all-category-links > ul > li {
  padding-bottom: 0;
}
/* line 888, ../sass/styles.scss */
.all-category-links a {
  color: black;
  display: block;
  border-bottom: 1px solid #ededed;
  padding: 0.75em 0;
}
/* line 894, ../sass/styles.scss */
.all-category-links a:hover {
  border-color: #8c8c8c;
  color: #b3181d;
}

/* line 901, ../sass/styles.scss */
.header-cat-link {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 906, ../sass/styles.scss */
.mobile-search {
  margin: 0;
  height: 44px;
  overflow: hidden;
  border-bottom: 1px solid #8c8c8c;
  background: white;
}
/* line 913, ../sass/styles.scss */
.mobile-search.hide {
  display: none;
}
/* line 917, ../sass/styles.scss */
.mobile-search form {
  margin: 0;
}
/* line 919, ../sass/styles.scss */
.mobile-search .button {
  background: #2c6289;
  border: 1px solid #2c6289;
  width: 100%;
}
/* line 925, ../sass/styles.scss */
.mobile-search input[type=search] {
  background: #ededed;
  border-radius: 0;
  border: 0;
  padding: 0.9375em 0.9375em;
  height: 44px;
}

/* line 934, ../sass/styles.scss */
.location-form {
  position: relative;
}
/* line 937, ../sass/styles.scss */
.location-form .location-suggestions {
  position: absolute;
  z-index: 2000;
  top: 44px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
/* line 944, ../sass/styles.scss */
.location-form .location-suggestions h3 {
  background: #2c6289;
  color: white;
  margin: 0;
  padding: 0.75em;
}
/* line 950, ../sass/styles.scss */
.location-form .location-suggestions ul {
  background: #b3cada;
  max-height: 250px;
  overflow: auto;
  display: block;
  clear: both;
}
/* line 957, ../sass/styles.scss */
.location-form .location-suggestions li {
  float: none !important;
}
/* line 960, ../sass/styles.scss */
.location-form .location-suggestions li a {
  background: #b3cada;
  font-weight: 300;
  color: #1c3755;
}
/* line 963, ../sass/styles.scss */
.location-form .location-suggestions li a:hover {
  background: #b3181d;
  color: white;
}

/* line 969, ../sass/styles.scss */
.top-bar-section .location-autocomplete {
  margin: -14px 0 0 0;
  padding: 0;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  background: white;
  position: absolute;
  overflow: visible;
  width: 100%;
}
/* line 981, ../sass/styles.scss */
.top-bar-section .location-autocomplete ul li {
  float: none !important;
}
/* line 985, ../sass/styles.scss */
.top-bar-section .location-autocomplete a {
  background: white !important;
  color: #3d3d3d;
}
/* line 989, ../sass/styles.scss */
.top-bar-section .location-autocomplete a:hover {
  background: #b3cada !important;
}
/* line 993, ../sass/styles.scss */
.top-bar-section .location-autocomplete .message {
  padding: 0 0.75em 1.5em 0.75em;
  width: 200%;
  margin-bottom: -0.875em;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
/* line 1001, ../sass/styles.scss */
.top-bar-section .location-autocomplete .message.error h3 {
  background: #b3181d;
  color: white;
  margin: 0 -0.875em;
  margin-bottom: 0.875em;
  padding: 0.75em;
}
/* line 1008, ../sass/styles.scss */
.top-bar-section .location-autocomplete .message.error p {
  margin: 0;
  padding: 0;
}

/* line 1013, ../sass/styles.scss */
.top-bar-section ul li > a.link-map-view {
  background: #fff;
  color: black;
  border-left: 1px solid #eeeeee;
}
/* line 1018, ../sass/styles.scss */
.top-bar-section ul li > a.link-map-view:hover {
  background: #b3cada;
}

/* line 1023, ../sass/styles.scss */
.loc-icon {
  margin-left: 10px;
}

/* FOOTER */
/* line 1027, ../sass/styles.scss */
#main-footer {
  background: white;
  padding: 1.5em 0;
}
/* line 1031, ../sass/styles.scss */
#main-footer h3 {
  font-size: 1em;
}
/* line 1035, ../sass/styles.scss */
#main-footer ul {
  list-style-type: none;
}
/* line 1039, ../sass/styles.scss */
#main-footer a {
  color: black;
  font-size: 0.813em;
}

/* line 1045, ../sass/styles.scss */
.footer-links-list, .footer-links {
  background: #ededed;
  padding-top: 0.875em;
  font-size: 0.75em;
  font-family: "Montserrat", sans-serif, helvetica;
  text-transform: uppercase;
}
/* line 1052, ../sass/styles.scss */
.footer-links-list li, .footer-links li {
  margin-right: 1.5em;
}
/* line 1053, ../sass/styles.scss */
.footer-links-list a, .footer-links a {
  color: #3d3d3d;
}
/* line 1054, ../sass/styles.scss */
.footer-links-list a:hover, .footer-links a:hover {
  color: #8c8c8c;
}

/* line 1057, ../sass/styles.scss */
.footer-links {
  background: #2c6289;
  color: #eeeeee;
}
/* line 1060, ../sass/styles.scss */
.footer-links a {
  color: #b3cada;
}
/* line 1061, ../sass/styles.scss */
.footer-links a:hover {
  color: white;
}

/* line 1064, ../sass/styles.scss */
.list-cities {
  background: #b3cada;
}
/* line 1067, ../sass/styles.scss */
.list-cities h3 {
  color: #2c6289;
}
/* line 1071, ../sass/styles.scss */
.list-cities.footer-links-list {
  background: #b3cada;
}
/* line 1073, ../sass/styles.scss */
.list-cities.footer-links-list .inline-list {
  margin-bottom: 0.875em;
}
/* line 1074, ../sass/styles.scss */
.list-cities.footer-links-list h3 {
  margin-top: 4px;
}
/* line 1077, ../sass/styles.scss */
.list-cities [class*="block-grid-"] li {
  margin: 0;
}
/* line 1079, ../sass/styles.scss */
.list-cities a {
  color: #3d3d3d;
}
/* line 1081, ../sass/styles.scss */
.list-cities.list-many {
  padding: 1.5em 0;
}
/* line 1084, ../sass/styles.scss */
.list-cities.list-many h3 {
  margin-bottom: 1.5em;
}

/* SIDEBAR */
/* line 1093, ../sass/styles.scss */
.sidebar section {
  margin-bottom: 1.5em;
}
/* line 1095, ../sass/styles.scss */
.sidebar section > ul {
  margin: 0;
}
/* line 1100, ../sass/styles.scss */
.sidebar .list-flip-related {
  height: 230px;
  overflow: auto;
}
/* line 1105, ../sass/styles.scss */
.sidebar.flipbook .sidebar-header {
  font-size: 0.875em;
  padding: 0.375em 0.9375em !important;
  background: #2c6289;
  color: white;
  border-radius: 0;
}
/* line 1112, ../sass/styles.scss */
.sidebar.flipbook .sidebar-header .arrow {
  padding-right: 0.9375em;
  margin-top: 5px;
}
/* line 1117, ../sass/styles.scss */
.sidebar.flipbook .sidebar-header .arrow:after {
  background: #ededed;
  border-top-color: #1c3755 !important;
}
/* line 1123, ../sass/styles.scss */
.sidebar h2 {
  font-size: 1em;
}
/* line 1127, ../sass/styles.scss */
.sidebar a .cat-info {
  color: black;
  font-size: 1.2em;
  margin-bottom: 1.5em;
}
@media (min-width: 20em) and (max-width: 61.1875em) {
  /* line 1133, ../sass/styles.scss */
  .sidebar .list-hot {
    max-height: 510px;
    margin-bottom: 1.5em;
    overflow: auto;
  }
}
/* line 1141, ../sass/styles.scss */
.sidebar .list-shops {
  padding: 15px 0;
  margin-bottom: 24px;
}
@media screen and (min-width: 61.1875em) {
  /* line 1145, ../sass/styles.scss */
  .sidebar .list-shops li {
    height: 84px;
    overflow: hidden;
  }
}
@media screen and (min-width: 20em) and (max-width: 60.1875em) {
  /* line 1145, ../sass/styles.scss */
  .sidebar .list-shops li {
    width: 100%;
  }
}
/* line 1157, ../sass/styles.scss */
.sidebar .list-shops img {
  display: block;
  margin: 12px auto;
  max-height: 78px;
}
/* line 1165, ../sass/styles.scss */
.sidebar .cat-thumb {
  margin: 0;
  overflow: auto;
  border-top: 2px solid #8c8c8c;
  font-size: 0.6875em;
}
/* line 1171, ../sass/styles.scss */
.sidebar .cat-thumb a {
  overflow: auto;
}
/* line 1174, ../sass/styles.scss */
.sidebar .cat-thumb a:hover .cat-info {
  background: transparent;
}
/* line 1178, ../sass/styles.scss */
.sidebar .cat-thumb a:hover {
  display: block;
  background: #ededed;
}
/* line 1181, ../sass/styles.scss */
.sidebar .cat-thumb .thumb {
  width: 20%;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
}
@media (min-width: 47.9375em) and (max-width: 61.1875em) {
  /* line 1181, ../sass/styles.scss */
  .sidebar .cat-thumb .thumb {
    width: 100%;
    float: none;
    display: block;
  }
}
/* line 1194, ../sass/styles.scss */
.sidebar .cat-info {
  line-height: 1.4;
}
/* line 1196, ../sass/styles.scss */
.sidebar .cat-info h4 {
  font-size: 1.5em;
  margin: 0.75em 0 0 0;
}
/* line 1199, ../sass/styles.scss */
.sidebar [class*="block-grid-"] {
  margin: 0;
}
@media (min-width: 47.9375em) and (max-width: 61.1875em) {
  /* line 1203, ../sass/styles.scss */
  .sidebar span.arrow {
    float: none;
    margin: 0.75em auto 1.5em auto;
    display: block;
    width: 100%;
  }
}
/* line 1212, ../sass/styles.scss */
.sidebar .promos-available {
  font-family: "Montserrat", sans-serif, helvetica;
  font-size: 0.75em;
  color: #b3cada;
}
/* line 1218, ../sass/styles.scss */
.sidebar .nearby-shops {
  height: 300px;
  background: white;
}
/* line 1222, ../sass/styles.scss */
.sidebar .nearby-shops .item {
  text-align: center;
  margin: 0.75em auto;
  float: none;
  border-bottom: 1px solid #ededed;
}
/* line 1228, ../sass/styles.scss */
.sidebar .nearby-shops .thumb {
  padding: 0.75em;
}
/* line 1229, ../sass/styles.scss */
.sidebar .nearby-shops img {
  max-width: 100%;
  width: auto;
  max-height: 80px;
  margin-bottom: 0.75em;
}

/* line 1235, ../sass/styles.scss */
.panel.callout.list-cat a {
  color: #fff;
}
/* line 1238, ../sass/styles.scss */
.panel.callout.list-cat li {
  list-style-type: none;
}

/* line 1244, ../sass/styles.scss */
.list-links {
  background: none;
  width: 100%;
  margin-bottom: 1.5em;
}
/* line 1249, ../sass/styles.scss */
.list-links > ul {
  background: #fff;
}
/* line 1252, ../sass/styles.scss */
.list-links > ul > li {
  list-style-type: none;
  padding: 5px 15px;
  border-bottom: 1px solid #ededed;
}
/* line 1257, ../sass/styles.scss */
.list-links a {
  color: #8c8c8c;
  display: block;
}
/* line 1261, ../sass/styles.scss */
.list-links a:hover {
  font-weight: bold;
  color: #b3181d;
}
/* line 1266, ../sass/styles.scss */
.list-links .active {
  position: relative;
  background: #b3181d;
}
/* line 1270, ../sass/styles.scss */
.list-links .active a {
  color: white;
}
/* line 1272, ../sass/styles.scss */
.list-links .active:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 1282, ../sass/styles.scss */
.list-links .active:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #b3181d;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}
/* line 1291, ../sass/styles.scss */
.list-links.panel-links li {
  background: #ededed;
  border-color: #8c8c8c;
  border-left: 5px solid #8c8c8c;
}
/* line 1296, ../sass/styles.scss */
.list-links.panel-links li:hover {
  background: white;
}
/* line 1297, ../sass/styles.scss */
.list-links.panel-links a {
  color: black;
}
/* line 1300, ../sass/styles.scss */
.list-links.flipbook li {
  font-size: 0.75em;
  padding: 0.3125em 0.9375em;
}
/* line 1304, ../sass/styles.scss */
.list-links .trigger {
  padding: 0 !important;
}
/* line 1306, ../sass/styles.scss */
.list-links .trigger a {
  display: block;
  height: 35px;
}
/* line 1310, ../sass/styles.scss */
.list-links .trigger img {
  margin-top: 6px;
}

/* line 1316, ../sass/styles.scss */
.more-links {
  margin-top: -1.25em;
}

/* line 1320, ../sass/styles.scss */
.trigger-more-links, .trigger-close-menu {
  font-size: 0;
  text-align: center;
  position: relative;
  margin: -0.3125em -0.9375em !important;
}
/* line 1326, ../sass/styles.scss */
.trigger-more-links:hover, .trigger-close-menu:hover {
  background: #eeeeee;
}

/* NAVS */
/* line 1334, ../sass/styles.scss */
.arrow-down, .arrow-left {
  position: relative;
  background: white;
}

/* line 1338, ../sass/styles.scss */
.arrow-down:after, .arrow-left:after, .arrow-right:after {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* line 1348, ../sass/styles.scss */
.arrow-down:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: white;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}

/* line 1356, ../sass/styles.scss */
.arrow-left:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: white;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}

/* line 1363, ../sass/styles.scss */
.arrow-right:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: white;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}

/* HOME */
/* line 1373, ../sass/styles.scss */
#main-header .top-bar {
  margin: 0;
  position: relative;
  z-index: 10;
}

/* line 1382, ../sass/styles.scss */
.home-intro {
  margin-top: 44px;
  font-size: 0.813em;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 24px;
  position: relative;
  z-index: 10;
  font-weight: 300;
  font-family: "Montserrat", sans-serif, helvetica;
}
/* line 1393, ../sass/styles.scss */
.home-intro .copy {
  padding: 0 15px;
  border-right: 1px solid #eeeeee;
}
/* line 1396, ../sass/styles.scss */
.home-intro .copy label {
  height: 45px;
  line-height: 30px;
  font-size: 0.6875em;
}
/* line 1403, ../sass/styles.scss */
.home-intro label {
  margin: 0 12px 0 0;
  float: right;
}
/* line 1405, ../sass/styles.scss */
.home-intro li {
  list-style-type: none;
}
/* line 1410, ../sass/styles.scss */
.home-intro input[type=text] {
  background: #ededed;
  border: 0;
  box-shadow: none;
  border-bottom: 4px solid #1c3755;
  margin-top: 0;
  line-height: 46px;
  height: 46px;
}

/* line 1421, ../sass/styles.scss */
.main-row {
  width: 100%;
  max-width: 1400px;
}
/* line 1429, ../sass/styles.scss */
.main-row h3 {
  font-size: 0.813em;
  margin-top: 8px;
  text-transform: uppercase;
}

/* line 1443, ../sass/styles.scss */
.featured-promo-thumb {
  height: 200px;
}

/* line 1447, ../sass/styles.scss */
.section-links {
  border: 1px solid #ededed;
  margin-bottom: 24px;
  padding: 6px 12px 12px 12px;
  font-size: 0.813em;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
/* line 1459, ../sass/styles.scss */
.section-links ul li {
  list-style-type: none;
}
/* line 1463, ../sass/styles.scss */
.section-links a {
  color: #1c3755;
}
/* line 1467, ../sass/styles.scss */
.section-links h2 {
  margin: 0 0 12px 0;
  font-size: 1.75em;
}
/* line 1473, ../sass/styles.scss */
.section-links .large-block-grid-4 ul {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 20em) and (max-width: 47.9375em) {
  /* line 1447, ../sass/styles.scss */
  .section-links {
    display: none;
  }
}

/* line 1481, ../sass/styles.scss */
.section {
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
/* line 1485, ../sass/styles.scss */
.section a:hover {
  text-decoration: underline;
}
/* line 1489, ../sass/styles.scss */
.section.main-content {
  background: none;
}
/* line 1493, ../sass/styles.scss */
.section.results {
  margin-bottom: 1.5em;
}

/* line 1497, ../sass/styles.scss */
.section-container, .section-container.auto {
  margin: 0;
}

/* line 1499, ../sass/styles.scss */
.section-container.tabs section .content, .section-container.tabs .section .content {
  z-index: 1 !important;
}

/* line 1503, ../sass/styles.scss */
.location-ads {
  z-index: 2;
  margin-top: 50px;
}

/* line 1510, ../sass/styles.scss */
.home-featured.home-content {
  height: 600px;
  position: absolute;
  top: 200px;
}
/* line 1516, ../sass/styles.scss */
.home-featured .row {
  margin-right: 0 !important;
}

/* line 1522, ../sass/styles.scss */
.header-tabs {
  background: #2c6289;
  width: 100%;
  display: block;
  overflow: auto;
}
/* line 1528, ../sass/styles.scss */
.header-tabs a {
  color: white;
  display: block;
  padding: 0.75em;
}
/* line 1533, ../sass/styles.scss */
.header-tabs a:hover {
  background: #b3cada;
  color: #2c6289;
}
/* line 1539, ../sass/styles.scss */
.header-tabs ul {
  list-style-type: none;
}
/* line 1543, ../sass/styles.scss */
.header-tabs li {
  float: left;
}
/* line 1546, ../sass/styles.scss */
.header-tabs .active {
  background: #1c3755;
}

/* line 1551, ../sass/styles.scss */
.header-tabs, .all-category-links, .mobile-search {
  position: relative;
  z-index: 3;
}

@media (min-width: 20em) and (max-width: 30em) {
  /* line 1557, ../sass/styles.scss */
  .home-featured {
    height: auto;
    position: relative;
  }

  /* line 1561, ../sass/styles.scss */
  .location-ads {
    position: relative;
  }

  /* line 1564, ../sass/styles.scss */
  .promos-near {
    position: relative;
  }
}
/* line 1569, ../sass/styles.scss */
.home-preview {
  position: relative;
  background: #ededed;
  margin: 0;
  z-index: 2;
  padding: 0.75em 0;
  top: 600px;
}
/* line 1577, ../sass/styles.scss */
.home-preview.page {
  top: 0 !important;
}
/* line 1581, ../sass/styles.scss */
.home-preview.home-content {
  padding: 3em 0;
}
/* line 1585, ../sass/styles.scss */
.home-preview .sub-header {
  display: block;
  clear: both;
  height: 34px;
}
/* line 1589, ../sass/styles.scss */
.home-preview .desc {
  display: block;
  float: left;
}
/* line 1590, ../sass/styles.scss */
.home-preview .current-category {
  display: block;
  background: #2c6289;
  color: white;
  padding: 0.25em 1em;
  font-weight: 300;
  margin: -0.25em -1em;
  border-bottom: 6px solid #1c3755;
}
/* line 1601, ../sass/styles.scss */
.home-preview .cat-thumb h4 {
  font-size: 1em;
}
/* line 1604, ../sass/styles.scss */
.home-preview .cat-info {
  background: #f9f9f9;
}
@media (min-width: 20em) and (max-width: 47.9375em) {
  /* line 1609, ../sass/styles.scss */
  .home-preview .featured-grid a {
    border-top: 3px solid #3d3d3d;
  }
}
@media only screen and (min-width: 20em) and (max-width: 75em) {
  /* line 1615, ../sass/styles.scss */
  .home-preview #sidebar-establishments {
    font-size: 0.8125em !important;
  }
}

/* line 1622, ../sass/styles.scss */
.home-new {
  /* background: #fff; */
  padding: 1.5em 0;
  margin: 0 0 1.5em 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

@media only screen and (min-width: 61.1875em) {
  /* line 1631, ../sass/styles.scss */
  .home-content .results-grid > li.item, .home-content .featured-grid > li.item {
    width: 20%;
  }
}

/* line 1638, ../sass/styles.scss */
#map {
  position: absolute;
  width: 100%;
  height: 764px;
  top: 0;
  left: 0;
  z-index: 1;
}
/* line 1646, ../sass/styles.scss */
#map.map-page {
  position: relative;
  margin-top: -1.5em;
}
/* line 1651, ../sass/styles.scss */
#map img {
  max-width: none;
}
/* line 1655, ../sass/styles.scss */
#map .map-catalog {
  overflow: hidden;
}
/* line 1658, ../sass/styles.scss */
#map div h3 {
  font-size: 1em;
}

/* line 1663, ../sass/styles.scss */
.map-catalog {
  width: 150px;
  margin: 0;
}
/* line 1667, ../sass/styles.scss */
.map-catalog img {
  margin-top: 0.75em;
}

/* line 1673, ../sass/styles.scss */
.loc-search {
  z-index: 2;
}
/* line 1676, ../sass/styles.scss */
.loc-search h2 {
  font-size: 1.25em;
}
/* line 1678, ../sass/styles.scss */
.loc-search.message {
  width: 50%;
  background: white;
  margin: 0 2.5em !important;
  padding: 1.25em;
  border-top: 4px solid #b3181d;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}
/* line 1689, ../sass/styles.scss */
.loc-search .inline-list a {
  display: block;
  background: #b3cada;
  border-radius: 6px;
  padding: 0.875em;
  margin-bottom: 0.875em;
  color: #1c3755;
}
/* line 1697, ../sass/styles.scss */
.loc-search .inline-list a:hover {
  background: #1c3755;
  color: white;
}

/* line 1703, ../sass/styles.scss */
.map-container {
  display: block;
  height: auto;
  margin-bottom: 600px;
}

/* CATEGORY PAGE */
/* line 1711, ../sass/styles.scss */
.category-page {
  margin-bottom: 24px;
}

/* OTHER PAGES */
/* line 1717, ../sass/styles.scss */
.branch-details {
  padding: 1.25em;
  margin-bottom: 1.5em;
}

/* line 1720, ../sass/styles.scss */
.list-promotions h2 {
  font-size: 1.125em;
}

/* line 1725, ../sass/styles.scss */
.store-link {
  display: block;
  margin-bottom: 1.5em;
}
/* line 1728, ../sass/styles.scss */
.store-link img {
  max-width: 180px;
}
/* line 1730, ../sass/styles.scss */
.store-link.flipbook {
  margin: 0.75em 0;
}

/* line 1736, ../sass/styles.scss */
.flipbook .quick-categories {
  max-height: 120px;
  overflow: auto;
}

/* line 1742, ../sass/styles.scss */
.flipbook-container {
  background: #ededed;
}

/* line 1746, ../sass/styles.scss */
.page-numbers {
  background: #1c3755;
  color: white;
  padding: 0.75em;
  text-align: center;
  font-family: "Montserrat", sans-serif, helvetica;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 1756, ../sass/styles.scss */
.page-numbers .current-page {
  background: #2c6289;
  display: inline-block;
  padding: 4px 12px;
  border-radius: 6px;
}
/* line 1763, ../sass/styles.scss */
.page-numbers a {
  color: white;
}

/* line 1767, ../sass/styles.scss */
#flipbook-prev {
  right: 0;
}

/* line 1771, ../sass/styles.scss */
#flipbook-next {
  left: 0;
}

/* FLIPBOOK */
/* line 1777, ../sass/styles.scss */
body.flipbook {
  background: #fdfdfd;
  overflow: hidden;
}
@media only screen and (min-width: 47.9375em) and (max-width: 75em) {
  /* line 1782, ../sass/styles.scss */
  body.flipbook .row .large-3.sidebar {
    width: 36%;
  }
  /* line 1783, ../sass/styles.scss */
  body.flipbook .row .large-9.flipbook-container {
    width: 64%;
  }
  /* line 1784, ../sass/styles.scss */
  body.flipbook .section-container section .title a, body.flipbook .section-container .section .title a, body.flipbook .section-container.auto section .title a, body.flipbook .section-container.auto .section .title a {
    font-size: 0.75em;
  }
}
@media only screen and (min-width: 100em) {
  /* line 1789, ../sass/styles.scss */
  body.flipbook .row .large-3.sidebar {
    width: 18%;
  }
  /* line 1790, ../sass/styles.scss */
  body.flipbook .row .large-9.flipbook-container {
    width: 82%;
  }
}

/* line 1794, ../sass/styles.scss */
.top-bar-section.flipbook {
  overflow: hidden;
  height: 45px;
}
/* line 1798, ../sass/styles.scss */
.top-bar-section.flipbook > ul {
  overflow: hidden;
  height: 44px;
  background-color: #1c3755;
}
/* line 1804, ../sass/styles.scss */
.top-bar-section.flipbook .expiry {
  color: white;
  line-height: 2.8125em;
  padding: 0 1.5em;
}

/* line 1813, ../sass/styles.scss */
.sidebar.flipbook.columns {
  padding: 0 !important;
}
/* line 1814, ../sass/styles.scss */
.sidebar.flipbook .hide-sidebar {
  display: block;
  position: absolute;
  top: 45%;
  margin-top: -30px;
  margin-left: -30px;
  background: #2c6289;
  z-index: 100;
  font-size: 0px;
  padding: 20px 0;
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
  -o-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}
/* line 1829, ../sass/styles.scss */
.sidebar.flipbook .hide-sidebar:hover {
  margin-left: -40px;
}
/* line 1831, ../sass/styles.scss */
.sidebar.flipbook .hide-sidebar:hover .arrow {
  margin-right: 30px;
}
/* line 1836, ../sass/styles.scss */
.sidebar.flipbook .arrow {
  background: transparent;
  display: block;
  height: 20px;
  margin: 20px 20px;
  margin-left: 10px;
  margin-top: -20px;
  padding: 0.875em;
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
  -o-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}
/* line 1849, ../sass/styles.scss */
.sidebar.flipbook section {
  margin: 0 !important;
}
/* line 1852, ../sass/styles.scss */
.sidebar.flipbook .section-container section .content, .sidebar.flipbook .section-container .section .content, .sidebar.flipbook .section-container.auto section .content, .sidebar.flipbook .section-container.auto .section .content {
  padding: 0;
}
/* line 1855, ../sass/styles.scss */
.sidebar.flipbook .section-container section.active .title a, .sidebar.flipbook .section-container .section.active .title a, .sidebar.flipbook .section-container.auto section.active .title a, .sidebar.flipbook .section-container.auto .section.active .title a {
  background: #2c6289;
  color: white;
}
/* line 1860, ../sass/styles.scss */
.sidebar.flipbook .f-dropdown {
  display: none;
  padding: 0;
}
/* line 1864, ../sass/styles.scss */
.sidebar.flipbook .f-dropdown li {
  border-bottom: 1px solid #ededed;
  padding: 0.875em;
}
/* line 1869, ../sass/styles.scss */
.sidebar.flipbook .f-dropdown.open {
  display: block;
  position: absolute;
  top: 28px !important;
  left: -200px !important;
  height: 80%;
  overflow: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  z-index: 5000;
}

/* line 1880, ../sass/styles.scss */
.columns.sidebar.flipbook {
  background: white;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

/* line 1888, ../sass/styles.scss */
.sidebar.related-catalogs .cat-thumb {
  position: relative;
  overflow: hidden;
  margin: 1.5em;
  font-family: "Montserrat", sans-serif, helvetica;
  text-align: center;
  border: 0;
  width: 200px;
  margin: auto;
}
/* line 1899, ../sass/styles.scss */
.sidebar.related-catalogs .cat-thumb:hover .cat-info {
  opacity: 1;
}
/* line 1903, ../sass/styles.scss */
.sidebar.related-catalogs .cat-thumb:first-child {
  margin-top: 1.5em;
}
/* line 1908, ../sass/styles.scss */
.sidebar.related-catalogs h4 {
  color: white;
  margin-top: 0;
}
/* line 1909, ../sass/styles.scss */
.sidebar.related-catalogs strong {
  font-weight: 300;
}
/* line 1911, ../sass/styles.scss */
.sidebar.related-catalogs .thumb {
  width: 200px;
  margin: auto;
  float: none;
  position: relative;
  display: block;
  z-index: 1;
}
/* line 1920, ../sass/styles.scss */
.sidebar.related-catalogs img {
  width: 100%;
  height: auto;
  border: 3px solid #ededed;
}
/* line 1926, ../sass/styles.scss */
.sidebar.related-catalogs .cat-info {
  position: relative;
  bottom: 0;
  color: white;
  font-size: 1.25em;
  z-index: 2;
  top: 0;
  opacity: 0;
  -moz-transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
  -o-transition: ease-in-out all 0.3s;
  transition: ease-in-out all 0.3s;
}
/* line 1939, ../sass/styles.scss */
.sidebar.related-catalogs .cat-info div {
  border-top: 3px solid white;
  padding: 0.75em;
  position: absolute;
  background: #000;
  bottom: 0;
  width: 100%;
}
/* line 1949, ../sass/styles.scss */
.sidebar.related-catalogs .validity {
  margin: 12px 0;
  font-size: 0.875em;
}
@media only screen and (min-width: 47.9375em) and (max-width: 75em) {
  /* line 1955, ../sass/styles.scss */
  .sidebar.related-catalogs .cat-thumb, .sidebar.related-catalogs .thumb {
    width: 150px;
  }
  /* line 1958, ../sass/styles.scss */
  .sidebar.related-catalogs .cat-info {
    font-size: 0.875em;
  }
}

/* line 1963, ../sass/styles.scss */
.flipbook-container {
  padding: 0 !important;
}

/* line 1967, ../sass/styles.scss */
.magazine {
  overflow: hidden;
}

/* line 1971, ../sass/styles.scss */
.magazine .turn-page {
  background-color: #ccc;
  background-size: 100% 100%;
}

/* line 1976, ../sass/styles.scss */
.magazine .page {
  position: relative;
}

/* line 1980, ../sass/styles.scss */
.magazine .page.odd img {
  border: 3px solid #ccc;
  border-left: 0;
}

/* line 1985, ../sass/styles.scss */
.magazine .page.even img {
  border: 3px solid #ccc;
  border-right: 0;
}

/* line 1990, ../sass/styles.scss */
.magazine img {
  width: 100%;
  height: auto;
  max-width: none;
}

/* line 1996, ../sass/styles.scss */
.page-numbers {
  position: absolute;
  bottom: -38px;
  width: 100%;
}

/* line 2002, ../sass/styles.scss */
.magazine-viewport {
  right: 0;
}

/* line 2006, ../sass/styles.scss */
.flipbook.pages {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding-top: 24px;
  background: rgba(0, 0, 0, 0.5);
  overflow-x: scroll;
  overflow-y: hidden;
  height: 160px;
  z-index: 3000;
}
/* line 2017, ../sass/styles.scss */
.flipbook.pages li {
  cursor: pointer;
}
/* line 2019, ../sass/styles.scss */
.flipbook.pages li:hover img {
  border: 5px solid #000;
}

/* line 2023, ../sass/styles.scss */
.flipbook.pages ul {
  white-space: nowrap;
  padding: 0 24px;
}

/* line 2027, ../sass/styles.scss */
.flipbook.pages img {
  height: 100px;
  width: auto;
  border: 3px solid #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  margin-right: 12px;
}

/* line 2034, ../sass/styles.scss */
.flipbook.pages li {
  display: inline-block;
  float: none;
}

/* line 2038, ../sass/styles.scss */
.flipbook.pages img:last-child {
  margin-right: 24px;
}

/* line 2042, ../sass/styles.scss */
.flipbook-search {
  display: block;
}
/* line 2045, ../sass/styles.scss */
.flipbook-search input, .flipbook-search button {
  margin-bottom: 0;
}

/* line 2050, ../sass/styles.scss */
.flipbook.pagination-centered {
  margin: 24px 0;
}
/* line 2053, ../sass/styles.scss */
.flipbook.pagination-centered .pagination li, .flipbook.pagination-centered .pagination a {
  height: 36px;
  display: block;
}

/* line 2062, ../sass/styles.scss */
.category-list-link {
  height: 32px;
  overflow: hidden;
  padding: 0.5em 0.9375em;
  background: #1c3755;
  color: white !important;
  display: block;
}
/* line 2070, ../sass/styles.scss */
.category-list-link:hover {
  background: #b3181d;
}
/* line 2074, ../sass/styles.scss */
.category-list-link .arrow, .category-list-link .current {
  float: left;
}
/* line 2077, ../sass/styles.scss */
.category-list-link .arrow {
  padding: 0 !important;
  margin-left: 0 !important;
  width: 10px;
}
/* line 2083, ../sass/styles.scss */
.category-list-link .arrow:after {
  width: 10px;
  border-width: 6px !important;
  margin-top: 2px;
}

/*flipbook mobile*/
/* line 2092, ../sass/styles.scss */
.mobile-flipbook-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3000;
  width: 100%;
}

/* ERROR 404 */
/* line 2102, ../sass/styles.scss */
.error-page h1 {
  font-size: 4.5em;
  margin-bottom: 0.2em;
}
/* line 2110, ../sass/styles.scss */
.error-page .inline-list a {
  background: #b3cada;
  border-radius: 6px;
  padding: 0.75em;
  margin-bottom: 0.75em;
}
/* line 2116, ../sass/styles.scss */
.error-page .inline-list a:hover {
  background: #b3181d;
  color: white;
}

/* LOADER */
/* line 2125, ../sass/styles.scss */
.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
}
/* line 2133, ../sass/styles.scss */
.loader-container .loader {
  padding: 1.5em;
  color: white;
  margin: auto;
  margin-top: 50%;
  top: -40px;
  text-align: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif, helvetica;
}
/* line 2144, ../sass/styles.scss */
.loader-container img {
  border-radius: 50%;
}
/* line 2151, ../sass/styles.scss */
.loader-container.flipbook img {
  width: 30px;
  border: 0;
}

@media screen and (min-width: 20em) and (max-width: 30em) {
  /* line 2160, ../sass/styles.scss */
  .location-ads {
    margin: 0;
  }

  /* line 2163, ../sass/styles.scss */
  .home-featured .row {
    margin: 0;
  }
}
@media screen and (min-width: 20em) and (max-width: 47.9375em) {
  /* line 2166, ../sass/styles.scss */
  .top-bar .name h1 a {
    width: 100%;
  }

  /* line 2169, ../sass/styles.scss */
  #sidebar-establishments {
    display: none;
  }

  /* line 2174, ../sass/styles.scss */
  .home-intro .top-bar-section .small-3 {
    width: 10%;
  }
  /* line 2177, ../sass/styles.scss */
  .home-intro .top-bar-section .small-9 {
    width: 90%;
    float: left;
  }
  /* line 2182, ../sass/styles.scss */
  .home-intro .top-bar-section .loc-icon {
    margin-left: 0;
    padding-top: 6px;
  }
  /* line 2186, ../sass/styles.scss */
  .home-intro .top-bar-section ul {
    width: 70% !important;
    float: left;
  }
  /* line 2187, ../sass/styles.scss */
  .home-intro .top-bar-section ul.map-view {
    float: left;
    width: 27% !important;
  }
  /* line 2191, ../sass/styles.scss */
  .home-intro .top-bar-section ul.map-view li a.link-map-view {
    padding: 3px 0;
  }
  /* line 2195, ../sass/styles.scss */
  .home-intro .top-bar-section ul.map-view img {
    margin: 4px 12px 0 0;
    height: 80%;
  }
  /* line 2198, ../sass/styles.scss */
  .home-intro .top-bar-section .location-suggestions ul {
    width: 100% !important;
  }
  /* line 2201, ../sass/styles.scss */
  .home-intro .loc-suggestions-trigger {
    /* padding: 3px 0 0 0;  */
  }
  /* line 2203, ../sass/styles.scss */
  .home-intro .loc-suggestions-trigger span {
    display: none;
  }

  /* line 2206, ../sass/styles.scss */
  .mobile-shop-info {
    padding-top: 1.25em;
  }

  /* FLIPBOOK */
  /* line 2211, ../sass/styles.scss */
  .flipbook.sidebar {
    display: none;
  }
}
@media screen and (min-width: 48.9375em) {
  /* FLIPBOOK */
  /* line 2217, ../sass/styles.scss */
  .flipbook.sidebar {
    display: block;
  }
}
@media screen and (min-width: 30em) and (max-width: 64em) {
  /* line 2221, ../sass/styles.scss */
  body {
    font-size: 0.875em;
  }

  /* line 2225, ../sass/styles.scss */
  .mobile-shop-info {
    padding-top: 2.25em;
  }
  /* line 2227, ../sass/styles.scss */
  .mobile-shop-info .store-link {
    width: 50%;
    float: left;
  }
  /* line 2231, ../sass/styles.scss */
  .mobile-shop-info .store-link img {
    width: 100%;
    padding-right: 1.5em;
  }
  /* line 2233, ../sass/styles.scss */
  .mobile-shop-info p {
    display: block;
    width: 50%;
    float: left;
  }

  /* line 2241, ../sass/styles.scss */
  .branch-details .row .small-12.large-4, .branch-details .row .small-12.large-8 {
    width: 50%;
  }
  /* line 2246, ../sass/styles.scss */
  .branch-details .row .small-12.large-8 .large-block-grid-2 li {
    width: 100%;
  }
}
@media screen and (min-width: 61.1875em) {
  /* line 2256, ../sass/styles.scss */
  .home-preview .sub-header .current-category {
    display: block;
    float: right;
  }
}
@media screen and (min-width: 75em) {
  /* line 2266, ../sass/styles.scss */
  .establishments .results-grid .store-link img {
    max-width: 250px;
  }
}
